<!DOCTYPE HTML>
<html lang="en">
   <head>
      <!--=============== basic  ===============-->
      <meta charset="UTF-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>TTerris - Responsive  Architecture Interior Template</title>
      <!--=============== css  ===============-->	
      <link type="text/css" rel="stylesheet" href="css/cs-plugins.css">
      <link type="text/css" rel="stylesheet" href="css/cs-style.css">
      <!--=============== favicons ===============-->
      <link rel="shortcut icon" href="images/favicon.ico">
   </head>
   <body>
      <!--loader-->
      <div class="loader-wrap">
         <div class="loading-spinner">
            <div  class="movingBallG"></div>
         </div>
      </div>
      <!--loader end -->
      <!--main start -->
      <div id="main">
         <div class="main-cs-container">
            <a href="#" class="logo-holder"><img src="images/logo2.png" alt=""></a>
            <div class="main-cs-wrpper container">
               <div class="cs-container">
                  <div class="  counter-widget" data-countDate="09/12/2024">
                     <!-- countdown -->
                     <div class="countdown">
                        <div class="cs-countdown-item">
                           <span class="days rot">00</span>
                           <h6>Days</h6>
                        </div>
                        <div class="cs-countdown-item">
                           <span class="hours rot">00</span>
                           <h6>Hours </h6>
                        </div>
                        <div class="cs-countdown-item">
                           <span class="minutes rot">00</span>
                           <h6>Minutes </h6>
                        </div>
                        <div class="cs-countdown-item no-dec">
                           <span class="seconds rot">00</span>
                           <h6>Seconds</h6>
                        </div>
                     </div>
                     <!-- countdown end --> 			
                  </div>
                  <div class="cs-canvas" id="menu_anim"></div>
               </div>
            </div>
            <!--main start -->
            <h4 class="title_cs">Our Website is Coming Soon</h4>
            <div class="hero_social">
               <a href="#" target="_blank">Fb</a> 
               <a href="#" target="_blank">Ins</a> 
               <a href="#" target="_blank">Tw</a> 
               <a href="#" target="_blank">Be</a> 
            </div>
            <div class="hc-pag_wrap">
               <div class="hc-pag"></div>
            </div>
         </div>
         <div class="cs-content-media">
            <div class="bg-wrap">
               <!--slideshow-container-->
               <div class="slideshow-container_wrap fs-wrapper">
                  <div class="swiper-container full-height">
                     <div class="swiper-wrapper">
                        <!--ms_item-->
                        <div class="swiper-slide">
                           <div class="ms-item_fs  full-height fl-wrap">
                              <div class="bg"  data-bg="images/bg/1.jpg"  ></div>
                           </div>
                        </div>
                        <!--ms_item end-->
                        <!--ms_item-->
                        <div class="swiper-slide ">
                           <div class="ms-item_fs full-height fl-wrap">
                              <div class="bg"  data-bg="images/bg/1.jpg"></div>
                           </div>
                        </div>
                        <!--ms_item end-->
                        <!--ms_item-->
                        <div class="swiper-slide">
                           <div class="ms-item_fs full-height fl-wrap">
                              <div class="bg"  data-bg="images/bg/1.jpg"></div>
                           </div>
                        </div>
                        <!--ms_item end-->
                     </div>
                  </div>
               </div>
               <!--slideshow-container end--> 	
               <div class="overlay"></div>
            </div>
            <div class="dec-item dc_l"></div>
            <div class="dec-item dc_r"></div>
            <div class="gi_dec fs-wrapper">
               <div class="container full-height">
                  <div class="  border-box_item2 full-height">								   
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Main end -->
      <!--=============== scripts  ===============-->   
      <script  src="js/jquery.min.js"></script>
      <script  src="js/cs-plugins.js"></script>
      <script  src="js/cs-scripts.js"></script>
   </body>
</html>