<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Terris - Responsive  Architecture Interior Template</title>
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="loading-spinner">
                <div  class="movingBallG"></div>
            </div>
        </div>
        <!--loader end -->
        <!--main start -->
        <div id="main">
            <!-- main-header -->
            <header class="main-header">
                <div  class="container">
                    <!--  header-inner  -->
                    <div class="header-inner border-box_item">
                        <div class="header-social">
                            <ul>
                                <li><a href="#" target="_blank">Fb</a></li>
                                <li><a href="#" target="_blank">In</a></li>
                                <li><a href="#" target="_blank">Tw</a></li>
                                <li><a href="#" target="_blank">Be</a></li>
                            </ul>
                        </div>
                        <a href="index.html" class="logo-holder">
                        <img src="images/logo.png" alt="">
                        </a>
                        <!-- header-contacts--> 
                        <div class="header-contacts">
                            <ul>
                                <li><span>Call: </span> <a href="tel:+4(897)56412322" class="shuffleLetter">+4(897)56412322</a></li>
                                <li><span>Write: </span> <a href="mailto:terris@domain.com" class="shuffleLetter">terris@domain.com</a></li>
                            </ul>
                        </div>
                        <!-- header-contacts end--> 				
                    </div>
                    <!--  header-inner end-->
                    <!--  navigation -->
                    <div class="nav-holder-wrap border-box_item grid-column-container grid-sb-column srcl_init">
                        <div   class="nav_logo-holder to-top">
                            <img src="images/small_logo.png" alt="">
                        </div>
                        <div class="nav-holder main-menu">
                            <!-- nav-button-container-->
                            <div class="nav-button-container">
                                <div class="nav-button-wrap">
                                    <div class="menu-button-text">Menu</div>
                                    <div class="nav-button but-hol">
                                        <svg viewBox="0 0 64 48">
                                            <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                                            <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                                            <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!-- nav-button-container end-->
                            <div class="header-page_title"><span></span></div>
                            <div class="nav-wrapper isvis_menu">
                                <div class="nav-container">
                                    <div class="nav-decor" id="menu_anim"> </div>
                                    <div class="nav-wrap hid_vismen">
                                        <!-- nav -->
                                        <nav class="nav-inner" id="menu_init">
                                            <ul>
                                                <li>
                                                    <a href="#">Home</a>
                                                    <!--level 2 -->
                                                    <ul>
                                                        <li><a href="index.html">Slider</a></li>
                                                        <li><a href="index2.html">Slideshow</a></li>
                                                        <li><a href="index3.html">Video</a></li>
                                                        <li><a href="index4.html">Image</a></li>
                                                    </ul>
                                                    <!--level 2 end -->
                                                </li>
                                                <li>
                                                    <a href="#" class="act-link">Portfolio</a>
                                                    <!--level 2 -->
                                                    <ul>
                                                        <li><a href="portfolio.html">Style 1</a></li>
                                                        <li><a href="portfolio2.html">Style 2</a></li>
                                                        <li><a href="portfolio3.html">Style 3 </a></li>
                                                    </ul>
                                                    <!--level 2 end -->
                                                </li>
                                                <li><a href="contacts.html">Contacts</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li>
                                                    <a href="#">Pages</a>
                                                    <!--level 3 -->
                                                    <ul>
                                                        <li><a href="onepage.html" target="_blank">One Page Demo</a></li>
                                                        <li><a href="coming-soon.html" target="_blank">Coming Soon Demo</a></li>
                                                        <li><a href="blog-single.html">Blog Single</a></li>
                                                        <li><a href="portfolio-single.html">Portfolio Single 1</a></li>
                                                        <li><a href="portfolio-single2.html">Portfolio Single 2</a></li>
                                                    </ul>
                                                    <!--level 3 end -->
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- nav end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- mobile nav -->
                        <div class="progress-indicator">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="-1 -1 34 34">
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__background" />
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__progress 
                                    js-progress-bar" />
                            </svg>
                        </div>
                        <div class="share-button-wrap showshare">
                            <div class="share-button_title">Share</div>
                            <div class="share-button"><span></span></div>
                        </div>
                        <!-- share-wrapper-->
                        <div class="share-wrapper  isShare">
                            <div class="share-container fl-wrap  isShare"></div>
                        </div>
                        <!-- share-wrapper  end -->						
                    </div>
                    <!-- navigation  end --> 	
                </div>
            </header>
            <div class="nav-ovelay fs-wrapper"></div>
            <!-- main-header -->
            <!-- content -->
            <div class="content" data-pagetitle="Portfolio Style 1">
                <!-- section -->
                <div class="gallery-items-container  ff_container  fw_gic fw_gic2" id="port-scroll">
                    <div class="gallery-items init_hoverdir lightgallery gi_fw  three_columns nogi">
                        <!-- gallery-item-->
                        <div class="gallery-item    interior design">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Interior</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>Trinity River Audubon Centre</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item-->
                        <div class="gallery-item  houses construction">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> interior</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>Petronas Tower</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item-->
                        <div class="gallery-item  interior">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Branding</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>One World Trade Center</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->
                        <!-- gallery-item-->
                        <div class="gallery-item  gallery-item-second  houses">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">interior </a> <a href="#"> Branding</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>Wood River Ships Center</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->                           
                        <!-- gallery-item-->
                        <div class="gallery-item  construction interior">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Branding</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>Theatre de Stoep</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->                            
                        <!-- gallery-item-->
                        <div class="gallery-item    design">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">interior </a> <a href="#"> Branding</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>White Walls Hotel</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->                            
                        <!-- gallery-item-->
                        <div class="gallery-item  construction">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> interior</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>Spire Edge Center</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->                            
                        <!-- gallery-item-->
                        <div class="gallery-item  interior  houses">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Houses</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>Family Appartment</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->                              
                        <!-- gallery-item-->
                        <div class="gallery-item  construction">
                            <div class="grid-item-holder hov_zoom">
                                <img  src="images/folio/1.jpg"    alt="">
                                <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                <div class="grid-det">
                                    <div class="grid-det-item">
                                        <span class="pr_num"></span>
                                        <div class="grid-det_category"><a href="#">Houses  </a> <a href="#"> Branding</a></div>
                                        <a href="portfolio-single.html" class="grid-det_link"><span>Private House in London</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery-item end-->                           
                        <div id="infiniti_nav">
                            <a href="2.html"></a>
                        </div>
                    </div>
                    <div class="gi_dec fs-wrapper">
                        <div class="container full-height">
                            <div class="  border-box_item2 full-height">								   
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="content-item border-box_item">
                        <div class="filters-nav fixed-filters-nav  scroll-fixed-column-content">
                            <div class="scroll-down-wrap">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                            <div class="gallery-filter_btn show-filter">Filters</div>
                            <div class="gallery-filters inline-gallery-filters init_hidden_filter">
                                <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*"><span class="num-all"></span>  All Projects</a>
                                <a href="#" class="gallery-filter" data-filter=".interior"> Interior</a>
                                <a href="#" class="gallery-filter" data-filter=".construction"> Construction</a>
                                <a href="#" class="gallery-filter" data-filter=".design"> Design</a>
                                <a href="#" class="gallery-filter" data-filter=".houses">Houses</a>
                            </div>
                            <div class="fixed-inline-filter_counter">
                                <span class="num-album"></span>
                                <span class="num-album_total">12</span>
                            </div>
                        </div>
                        <div class="limit-box"></div>
                        <div class="load-more-holder" id="infiniti">
                            <a class="load-more" data-ltext="Complete" href="#infiniti" onclick="window.scrollBy(0,-1)"><span>Load More Cases</span><i class="fal fa-refresh"></i></a>
                            <span class="portfolio-msg">All Cases Loaded</span>
                            <div class="load-more-holder_dec"></div>
                        </div>
                    </div>
                </div>
                <!-- section end -->			
            </div>
            <!-- content end -->
            <!-- main-footer -->
            <div class="height-emulator"></div>
            <footer class="main-footer">
                <div class="container">
                    <div class="footer-inner border-box_item2">
                        <div class="grid-column-container grid-3-column">
                            <div class="footer-inner_item">
                                <div class="footer-box">
                                    <div class="footer-content-header">About Studio</div>
                                    <div class="footer-about">
                                        <p>Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations.Client is the soul of the project.</p>
                                    </div>
                                </div>
                                <div class="arrow_dec_wrap ardw_white">
                                    <div class="arrow_dec"></div>
                                </div>
                            </div>
                            <div class="footer-inner_item">
                                <div class="footer-box">
                                    <div class="footer-content-header">Terris Contacts</div>
                                    <!-- footer-contacts-->
                                    <div class="footer-contacts">
                                        <ul>
                                            <li><span>Call:</span><a href="#">+489756412322</a></li>
                                            <li><span>Write  :</span><a href="#">yourmail@domain.com</a></li>
                                            <li><span>Find us : </span><a href="#">USA 27TH Brooklyn NY</a></li>
                                        </ul>
                                    </div>
                                    <!-- footer contacts end -->
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#" target="_blank">Fb</a></li>
                                        <li><a href="#" target="_blank">In</a></li>
                                        <li><a href="#" target="_blank">Tw</a></li>
                                        <li><a href="#" target="_blank">Be</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-inner_item">
                                <div class="subcribe-form">
                                    <div class="subcribe_title">Subscribe To Our Newsletter</div>
                                    <form id="subscribe">
                                        <label for="subscribe-email" class="subscribe-message"></label>
                                        <input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false" type="text">
                                        <button type="submit" id="subscribe-button" class="subscribe-button">Submit <i class="fal fa-long-arrow-right"></i></button>
                                    </form>
                                </div>
                                <div class="footer-dec"></div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="policy-box">
                                <span>&#169; Terris 2023   -  All rights reserved. </span>
                            </div>
                            <div class="to-top to-top_btn"><i class="far fa-chevron-up"></i></div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>