<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Terris - Responsive  Architecture Interior Template</title>
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/map-style.css">
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="loading-spinner">
                <div  class="movingBallG"></div>
            </div>
        </div>
        <!--loader end -->
        <!--main start -->
        <div id="main">
            <!-- main-header -->
            <header class="main-header">
                <div  class="container">
                    <!--  header-inner  -->
                    <div class="header-inner border-box_item">
                        <div class="header-social">
                            <ul>
                                <li><a href="#" target="_blank">Fb</a></li>
                                <li><a href="#" target="_blank">In</a></li>
                                <li><a href="#" target="_blank">Tw</a></li>
                                <li><a href="#" target="_blank">Be</a></li>
                            </ul>
                        </div>
                        <a href="index.html" class="logo-holder">
                        <img src="images/logo.png" alt="">
                        </a>
                        <!-- header-contacts--> 
                        <div class="header-contacts">
                            <ul>
                                <li><span>Call: </span> <a href="tel:+4(897)56412322" class="shuffleLetter">+4(897)56412322</a></li>
                                <li><span>Write: </span> <a href="mailto:terris@domain.com" class="shuffleLetter">terris@domain.com</a></li>
                            </ul>
                        </div>
                        <!-- header-contacts end--> 				
                    </div>
                    <!--  header-inner end-->
                    <!--  navigation -->
                    <div class="nav-holder-wrap border-box_item grid-column-container grid-sb-column srcl_init">
                        <div   class="nav_logo-holder to-top">
                            <img src="images/small_logo.png" alt="">
                        </div>
                        <div class="nav-holder main-menu">
                            <!-- nav-button-container-->
                            <div class="nav-button-container">
                                <div class="nav-button-wrap">
                                    <div class="menu-button-text">Menu</div>
                                    <div class="nav-button but-hol">
                                        <svg viewBox="0 0 64 48">
                                            <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                                            <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                                            <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!-- nav-button-container end-->
                            <div class="header-page_title"><span></span></div>
                            <div class="nav-wrapper isvis_menu">
                                <div class="nav-container">
                                    <div class="nav-decor" id="menu_anim"> </div>
                                    <div class="nav-wrap hid_vismen">
                                        <!-- nav -->
                                        <nav class="nav-inner" id="menu_init">
                                            <ul>
                                                <li>
                                                    <a href="#">Home</a>
                                                    <!--level 2 -->
                                                    <ul>
                                                        <li><a href="index.html">Slider</a></li>
                                                        <li><a href="index2.html">Slideshow</a></li>
                                                        <li><a href="index3.html">Video</a></li>
                                                        <li><a href="index4.html">Image</a></li>
                                                    </ul>
                                                    <!--level 2 end -->
                                                </li>
                                                <li>
                                                    <a href="#" class="act-link">Portfolio</a>
                                                    <!--level 2 -->
                                                    <ul>
                                                        <li><a href="portfolio.html">Style 1</a></li>
                                                        <li><a href="portfolio2.html">Style 2</a></li>
                                                        <li><a href="portfolio3.html">Style 3 </a></li>
                                                    </ul>
                                                    <!--level 2 end -->
                                                </li>
                                                <li><a href="contacts.html">Contacts</a></li>
                                                <li><a href="blog.html">Blog</a></li>
                                                <li>
                                                    <a href="#">Pages</a>
                                                    <!--level 3 -->
                                                    <ul>
                                                        <li><a href="onepage.html" target="_blank">One Page Demo</a></li>
                                                        <li><a href="coming-soon.html" target="_blank">Coming Soon Demo</a></li>
                                                        <li><a href="blog-single.html">Blog Single</a></li>
                                                        <li><a href="portfolio-single.html">Portfolio Single 1</a></li>
                                                        <li><a href="portfolio-single2.html">Portfolio Single 2</a></li>
                                                    </ul>
                                                    <!--level 3 end -->
                                                </li>
                                            </ul>
                                        </nav>
                                        <!-- nav end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- mobile nav -->
                        <div class="progress-indicator">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="-1 -1 34 34">
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__background" />
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__progress 
                                    js-progress-bar" />
                            </svg>
                        </div>
                        <div class="share-button-wrap showshare">
                            <div class="share-button_title">Share</div>
                            <div class="share-button"><span></span></div>
                        </div>
                        <!-- share-wrapper-->
                        <div class="share-wrapper  isShare">
                            <div class="share-container fl-wrap  isShare"></div>
                        </div>
                        <!-- share-wrapper  end -->						
                    </div>
                    <!-- navigation  end --> 	
                </div>
            </header>
            <div class="nav-ovelay fs-wrapper"></div>
            <!-- main-header -->
            <!-- content -->
            <div class="content" data-pagetitle="Private House in London">
                <!-- section -->
                <section class="content-section   dark-section">
                    <div class="container">
                        <div class="content-item border-box_item2 hero_section hs2  hero_section_dec">
                            <div class="hero_section_content">
                                <div class="hhw_header">Architecture - Interior</div>
                                <h2>Private House in London</h2>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</h4>
                            </div>
                            <div class="hero-con-aside">
                                <div class="hero-con-aside_dec"></div>
                                <a href="#sec2" class="strt_btn custom-scroll-link">
                                    <span>Start Explore</span>
                                    <div class="scroll-down-wrap">
                                        <div class="mousey">
                                            <div class="scroller"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="hero-con-aside_dec2"></div>
                            <div class="hero-con_dec"></div>
                        </div>
                        <div class="hero-promo-wrap">
                            <div class="hero-promo-btn" id="html5-videos" data-html="#video1"><span><i class="fas fa-play"></i></span>Play Video Presentation </div>
                        </div>
                        <!-- Hidden video div -->
                        <div style="display:none;" id="video1" class="popup_video" data-videolink="video/1.mp4">
                            <video class="lg-video-object lg-html5" controls preload="none">
                                <source src="/" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="fs-wrapper">
                        <div class="overlay"></div>
                        <div class="video-holder-wrap fs-wrapper">
                            <div class="video-container">
                                <video autoplay playsinline loop muted  class="bgvid">
                                    <source src="video/1.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section end -->	
                <!-- section -->
                <section class="content-section cs_dec cs_dec3" id="sec2">
                    <div class="container">
                        <div class="content-item border-box_item">
                            <div class="grid-column-container grid-sb-column">
                                <div class="grid-column-content grid-column-content_dec grid-column-content_dec2">
                                    <div class="content-item">
                                        <!-- tabs-container-->
                                        <div id="tabs-container">
                                            <div class="tabs-menu">
                                                <ul>
                                                    <li class="selectedLava"><a href="#tab-1" data-tabnum="01">Details</a></li>
                                                    <li><a href="#tab-2" data-tabnum="02">Gallery</a></li>
                                                    <li><a href="#tab-3" data-tabnum="03">Location</a></li>
                                                </ul>
                                                <div class="tabs-counter">
                                                    <div class="tc_item">01</div>
                                                    <span>03</span>
                                                </div>
                                            </div>
                                            <!-- tab-content-->
                                            <div id="tab-1" class="tab-content">
                                                <div class="content_box_item">
                                                    <h3>Project Info</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                    </p>
                                                    <p>Quisque varius eros ac purus dignissim.
                                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                        Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                    </p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit.  
                                                    </p>
                                                    <div class="content-table" style="margin-top: 30px">
                                                        <table style="margin-bottom:0">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Project Size:</td>
                                                                    <td>1,420 m2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Number of floors:</td>
                                                                    <td>3</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Yard Metres:</td>
                                                                    <td>2,710 m2</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Number of Rooms:</td>
                                                                    <td>6</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="single-tagcloud">
                                                        <span class="single-tagcloud_title">Project Tags:</span>
                                                        <a href="#">Concept</a>
                                                        <a href="#">Contemporary</a>
                                                        <a href="#">Urban design</a>
                                                        <a href="#">Inspiration</a>
                                                    </div>
                                                </div>
                                                <div class="toogle-wrap">
                                                    <!-- tooglle-item -->
                                                    <div class="toogle-item toogle-item_vis">
                                                        <div class="toglle-header"> Concept for Project <span><i class="far fa-angle-down"></i></span></div>
                                                        <div class="toglle-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                                        </div>
                                                    </div>
                                                    <!-- tooglle-item end -->
                                                    <!-- tooglle-item -->
                                                    <div class="toogle-item">
                                                        <div class="toglle-header">  Suport and Development<span><i class="far fa-angle-down"></i></span></div>
                                                        <div class="toglle-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                                        </div>
                                                    </div>
                                                    <!-- tooglle-item end -->
                                                    <!-- tooglle-item -->
                                                    <div class="toogle-item">
                                                        <div class="toglle-header">Project Numbers<span><i class="far fa-angle-down"></i></span></div>
                                                        <div class="toglle-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                                        </div>
                                                    </div>
                                                    <!-- tooglle-item end -->
                                                </div>
                                            </div>
                                            <!-- tab-content end-->
                                            <!-- tab-content-->
                                            <div id="tab-2" class="tab-content">
                                                <div class="content_box_item">
                                                    <h3>Project Gallery</h3>
                                                    <p>Quisque varius eros ac purus dignissim.
                                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                        Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                    </p>
                                                    <div class="single-slider-wrap">
                                                        <!-- portfolio start -->
                                                        <div class="gallery-items  gi_fw three_columns min-pad lightgallery     ">
                                                            <!-- gallery-item-->
                                                            <div class="gallery-item">
                                                                <div class="grid-item-holder">
                                                                    <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                                </div>
                                                            </div>
                                                            <!-- gallery-item end-->
                                                            <!-- gallery-item-->
                                                            <div class="gallery-item ">
                                                                <div class="grid-item-holder">
                                                                    <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                                </div>
                                                            </div>
                                                            <!-- gallery-item end-->                           
                                                            <!-- gallery-item-->
                                                            <div class="gallery-item">
                                                                <div class="grid-item-holder">
                                                                    <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                                </div>
                                                            </div>
                                                            <!-- gallery-item end-->                            
                                                            <!-- gallery-item-->
                                                            <div class="gallery-item  gallery-item-second">
                                                                <div class="grid-item-holder">
                                                                    <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                                </div>
                                                            </div>
                                                            <!-- gallery-item end-->                            
                                                            <!-- gallery-item-->
                                                            <div class="gallery-item ">
                                                                <div class="grid-item-holder">
                                                                    <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                                </div>
                                                            </div>
                                                            <!-- gallery-item end-->                            
                                                            <!-- gallery-item-->
                                                            <div class="gallery-item ">
                                                                <div class="grid-item-holder">
                                                                    <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                                </div>
                                                            </div>
                                                            <!-- gallery-item end-->                           
                                                        </div>
                                                        <!-- portfolio end --> 	
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- tab-content end-->
                                            <!-- tab-content-->
                                            <div id="tab-3" class="tab-content">
                                                <div class="content_box_item">
                                                    <h3>Project Location</h3>
                                                    <p><span>40.7143528  </span><span>-74.0059731 </span> <a href="#" target="_blank">Based In NewYork</a></p>
                                                    <div class="prdet_box">
                                                        <div id="map-single" class="map fs-wrapper" data-latlog="[40.714 , -74.005]" data-popuptext="Our Location in New York ."></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- tab-content end-->
                                        </div>
                                        <!-- tabs-container end-->									
                                    </div>
                                    <!--content-nav_holder-->            
                                    <div class="content-nav_holder">
                                        <div class="content-nav">
                                            <ul>
                                                <li>
                                                    <a href="portfolio-single.html" class="ln"><span>Prev -<strong> Forever Young</strong></span> <i class="far fa-angle-left"></i></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="portfolio-single.html" class="rn"><span >Next -<strong> My Blooming Backyard</strong></span> <i class="far fa-angle-right"></i></a>
                                                    <div class="content-nav-media">
                                                        <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <a href="portfolio.html" class="cn_all"><span class="pr_btn_dots"></span></a>
                                        </div>
                                    </div>
                                    <!--content-nav_holder end -->									
                                </div>
                                <!--sidebar-->
                                <div class="grid-column-sb grid-column-sb_dec gray-bg">
                                    <div class="grid-column-sb_dec_item"></div>
                                    <!--fixed-bar-content  -->
                                    <div class="fixed-bar-content">
                                        <div class="fixed-bar_item_container fbi_init">
                                            <div class="fixed-bar_item">
                                                <div class="pr-list">
                                                    <ul>
                                                        <li><span>Date :</span> 26.05.2022 </li>
                                                        <li><span>Client :</span> Themeforest </li>
                                                        <li><span>Status :</span> Completed </li>
                                                        <li><span>Location : </span>  <a href="https://goo.gl/maps/UzN5m" target="_blank"> NewYork USA  </a></li>
                                                    </ul>
                                                </div>
                                                <a href="#" target="_blank" class="fixed-bar_item_btn"><span>View Project</span> <i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--fixed-bar-content  end-->
                                </div>
                                <!--sidebar end-->
                            </div>
                            <div class="limit-box"></div>
                        </div>
                    </div>
                </section>
                <!-- section end -->			
            </div>
            <!-- content end -->
            <!-- main-footer -->
            <div class="height-emulator"></div>
            <footer class="main-footer">
                <div class="container">
                    <div class="footer-inner border-box_item2">
                        <div class="grid-column-container grid-3-column">
                            <div class="footer-inner_item">
                                <div class="footer-box">
                                    <div class="footer-content-header">About Studio</div>
                                    <div class="footer-about">
                                        <p>Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations.Client is the soul of the project.</p>
                                    </div>
                                </div>
                                <div class="arrow_dec_wrap ardw_white">
                                    <div class="arrow_dec"></div>
                                </div>
                            </div>
                            <div class="footer-inner_item">
                                <div class="footer-box">
                                    <div class="footer-content-header">Terris Contacts</div>
                                    <!-- footer-contacts-->
                                    <div class="footer-contacts">
                                        <ul>
                                            <li><span>Call:</span><a href="#">+489756412322</a></li>
                                            <li><span>Write  :</span><a href="#">yourmail@domain.com</a></li>
                                            <li><span>Find us : </span><a href="#">USA 27TH Brooklyn NY</a></li>
                                        </ul>
                                    </div>
                                    <!-- footer contacts end -->
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#" target="_blank">Fb</a></li>
                                        <li><a href="#" target="_blank">In</a></li>
                                        <li><a href="#" target="_blank">Tw</a></li>
                                        <li><a href="#" target="_blank">Be</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-inner_item">
                                <div class="subcribe-form">
                                    <div class="subcribe_title">Subscribe To Our Newsletter</div>
                                    <form id="subscribe">
                                        <label for="subscribe-email" class="subscribe-message"></label>
                                        <input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false" type="text">
                                        <button type="submit" id="subscribe-button" class="subscribe-button">Submit <i class="fal fa-long-arrow-right"></i></button>
                                    </form>
                                </div>
                                <div class="footer-dec"></div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="policy-box">
                                <span>&#169; Terris 2023   -  All rights reserved. </span>
                            </div>
                            <div class="to-top to-top_btn"><i class="far fa-chevron-up"></i></div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
        <script  src="js/map.js"></script>
    </body>
</html>