/* counter area --------------------------- */
.counter-area3 {
    position: relative;
    z-index: 2;
}

.counter-sec {
    &.style4 {
        padding: 0 50px;

        @include sm {
            padding: 0;
        }
    }

    .th-counterup {
        padding: 30px 30px 50px 0px;

        @include sm {
            padding: 30px;
        }

        .counter-card_text {
            color: $gray-color;
        }
    }
}