<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Grafon - Construction  Building Renovate Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <link type="text/css" rel="stylesheet" href="css/yourstyle.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--================= loader start ================-->
        <div class="loader-holder">
            <div class="loader-inner loader-vis">
                <div class="loader"></div>
            </div>
        </div>
        <!-- loader end -->
        <!--================= main start ================-->
        <div id="main">
            <!--=============== wrapper inner ===============-->
            <div class="wrapper-inner">
                <!-- top bar -->
                <div class="top-bar">
                    <div class="top-bar-header">
                        <div class="dynamic-title">
                            <span>Page : </span> 
                        </div>
                        <ul class="topbar-social">
                            <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                    </div>
                    <div class="top-bar-header-contact">
                        <ul>
                            <li><i class="fa fa-phone"></i><span>Phone</span><a href="#">  +7(111)123456789</a></li>
                            <li><i class="fa fa-motorcycle"></i><span>Adress</span><a href="#"> 27th Brooklyn New York, NY 10065</a></li>
                            <li><i class="fa fa-envelope-o"></i><span>Email</span><a href="#"> yourmail@domain.com</a></li>
                        </ul>
                    </div>
                    <a  href="contacts.html#contact-form" class="con-link ajax">Write us</a>
                </div>
                <!-- top bar end -->
                <!-- header -->
                <header class="main-header">
                    <!-- logo holder  --> 
                    <div class="logo-holder">
                        <a href="index.html" class="ajax"><img src="images/logo.png" alt=""></a>
                    </div>
                    <!-- logo holder end --> 
                    <div class="nav-button"><span></span><span></span><span></span></div>
                    <div class="panel-button"><i class="fa fa-level-up"></i></div>
                    <!-- navigation --> 
                    <div class="nav-holder">
                        <nav>
                            <ul>
                                <li>
                                    <a href="index.html" class="ajax hm-link">Home</a>
                                    <span></span> 
                                    <!-- second level --> 
                                    <ul>
                                        <li><a href="index2.html" class="ajax">Slideshow</a></li>
                                        <li><a href="index3.html" class="ajax">Image</a></li>
                                        <li><a href="index4.html" class="ajax">Video Youtube</a></li>
                                        <li><a href="index5.html" class="ajax">Video Vimeo</a></li>
                                    </ul>
                                    <!-- second level end-->
                                </li>
                                <li><a href="about.html" class="ajax act-link ab-link">About</a></li>
                                <li><a href="services.html" class="ajax sr-link">Services</a></li>
                                <li>
                                    <a href="projects.html" class="ajax pr-link">Projects</a> 
                                    <span></span> 
                                    <!-- second level --> 
                                    <ul>
                                        <li><a href="projects2.html" class="ajax">Style 2</a></li>
                                        <li><a href="projects3.html" class="ajax">Style 3</a></li>
                                        <li><a href="portfolio-single.html" class="ajax">Single  project 1</a></li>
                                        <li><a href="portfolio-single2.html" class="ajax">Single  project 2</a></li>
                                        <li><a href="portfolio-single3.html" class="ajax">Single  project 3</a></li>
                                        <li><a href="portfolio-single4.html" class="ajax">Single  project 4</a></li>
                                        <li><a href="portfolio-single5.html" class="ajax">Single  project 5</a></li>
                                    </ul>
                                    <!-- second level end--> 
                                </li>
                                <li><a href="blog.html" class="ajax bl-link">News</a></li>
                                <li><a href="contacts.html" class="ajax">Contacts</a></li>
                                <li>
                                    <a >Pages</a>
                                    <span></span> 
                                    <!-- second level --> 
                                    <ul>
                                        <li><a href="cost.html" class="ajax">Cost Calculator</a></li>
                                        <li><a href="team-single.html" class="ajax">Team single</a></li>
                                        <li><a href="services2.html" class="ajax">Services 2</a></li>
                                        <li><a href="serv-single.html" class="ajax">Service  single</a></li>
                                        <li><a href="contacts2.html" class="ajax">Contacts 2</a></li>
                                        <li><a href="blog-single.html" class="ajax">Blog  single</a></li>
                                    </ul>
                                    <!-- second level end-->
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- navigation end --> 
                    <!-- brochure-box --> 
                    <div class="brochure-box">
                        <a href="#"><i class="fa fa-file-pdf-o pdf-ic "></i><span>Download Brochure</span><i class="fa fa-caret-down lay-ic"></i></a>
                    </div>
                    <!-- brochure-box end --> 
                </header>
                <!-- header end  -->
                <!-- wrap-bg-->
                <div class="wrap-bg">
                    <!-- wrapper -->
                    <div id="wrapper">
                        <!-- content-holder   -->
                        <div class="content-holder  scale-bg2 abt-content" data-bgs="images/bg/long/1.jpg" data-dyntitle="Team: Frank bold">
                            <!-- content    -->
                            <div class="content">
                                <!-- page title -->
                                <section class="no-padding">
                                    <div class="parallax-inner">
                                        <div class="bg"  data-bg="images/bg/1.jpg" data-top-bottom="transform: translateY(300px);" data-bottom-top="transform: translateY(-300px);"></div>
                                        <div class="overlay"></div>
                                        <div class="parallax-wrap">
                                            <div class="container">
                                                <div class="page-title">
                                                    <h3>Our Team -  Frank Bold</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae libero.</p>
                                                    <span class="page-title-dec" data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(50px);"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- page title end-->
                                <!-- section team single -->
                                <section>
                                    <div class="container">
                                        <div class="row fl-det">
                                            <div class="col-md-9">
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="det-box">
                                                            <div class="box-item">
                                                                <div class="overlay"></div>
                                                                <a href="images/team/1.jpg" class="image-popup" title="Frank Bold"><i class="fa fa-search"></i></a>
                                                                <img src="images/team/1.jpg" alt="" class="respimg pr-img">
                                                            </div>
                                                            <h3>Frank Bold - Co-Founder</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Fusce gravida sit amet massa eu lobortis. Quisque hendrerit nisi a imperdiet congue.</p>
                                                            <p>Phasellus pellentesque urna quis felis laoreet vestibulum. Fusce gravida sit amet massa eu lobortis. Quisque hendrerit nisi a imperdiet congue.</p>
                                                            <div class="skillbar-box animaper">
                                                                <h3>Frank's Skills</h3>
                                                                <!-- skill 1-->
                                                                <div class="custom-skillbar-title"><span>Dutch</span></div>
                                                                <div class="skill-bar-percent">55%</div>
                                                                <div class="skillbar-bg" data-percent="55%">
                                                                    <div class="custom-skillbar"></div>
                                                                </div>
                                                                <!-- skill 2-->
                                                                <div class="custom-skillbar-title"><span>French</span></div>
                                                                <div class="skill-bar-percent">95%</div>
                                                                <div class="skillbar-bg" data-percent="95%">
                                                                    <div class="custom-skillbar"></div>
                                                                </div>
                                                                <!-- skill 3-->
                                                                <div class="custom-skillbar-title"><span>Portuguese</span></div>
                                                                <div class="skill-bar-percent">37%</div>
                                                                <div class="skillbar-bg" data-percent="37%">
                                                                    <div class="custom-skillbar"></div>
                                                                </div>
                                                                <!-- skill 4-->
                                                                <div class="custom-skillbar-title"><span>Portuguese</span></div>
                                                                <div class="skill-bar-percent">68%</div>
                                                                <div class="skillbar-bg" data-percent="68%">
                                                                    <div class="custom-skillbar"></div>
                                                                </div>
                                                            </div>
                                                            <h3>Contact Info</h3>
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>Address:</td>
                                                                        <td>Adress 27th Brooklyn New York, NY 10065</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Email:</td>
                                                                        <td>yourmail@domain.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Phone 1 :</td>
                                                                        <td>+1(222)123456</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- sidebar-->
                                            <div class="col-md-3">
                                                <div class="widget-sidebar fix-bar">
                                                    <h3>Our team</h3>
                                                    <ul class="serv-nav">
                                                        <li><a href="team-single.html" class="ajax">Nick Ramirez</a></li>
                                                        <li><a href="team-single.html" class="ajax">Mark First</a></li>
                                                        <li><a href="team-single.html" class="ajax act-ser">Frank Bold</a></li>
                                                        <li><a href="team-single.html" class="ajax">Antony Smith</a></li>
                                                        <li><a href="team-single.html" class="ajax">Kurt Rich</a></li>
                                                    </ul>
                                                    <h3>Social links</h3>
                                                    <ul class="sidebar-social">
                                                        <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                                                        <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                                                        <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- sidebar end-->
                                        </div>
                                    </div>
                                    <div class="limit-box"></div>
                                </section>
                                <!-- section team singleend -->
                                <!-- section announcement   -->  
                                <section class="no-padding">
                                    <div class="announcement color-bg">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h3>Cost of renovation</h3>
                                                    <p>Use cost calculator to estimate the initial cost of renovation</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="contacts.html"  class="btn ajax dark-bg hide-icon"><i class="fa fa-angle-right"></i><span>Our contacts</span></a>	
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- section announcement  end  --> 
                            </div>
                            <!-- content  end-->             
                            <!-- ================footer ==================== -->
                            <footer>
                                <div class="footer-header">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <!-- footer info -->
                                                <div class="footer-info">
                                                    <h4>About us</h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus.</p>
                                                </div>
                                                <!-- footer info  end-->
                                            </div>
                                            <div class="col-md-4">
                                                <!-- footer info   -->
                                                <div class="footer-info">
                                                    <h4>Contact info</h4>
                                                    <ul class="footer-contacts">
                                                        <li><a href="#"> <i class="fa fa-phone"></i> +7(111)123456789</a></li>
                                                        <li><a href="#"><i class="fa fa-motorcycle"></i> 27th Brooklyn New York, NY 10065</a></li>
                                                        <li><a href="#"><i class="fa fa-envelope-o"></i> yourmail@domain.com</a></li>
                                                    </ul>
                                                </div>
                                                <!-- footer info  end-->
                                            </div>
                                            <div class="col-md-4">
                                                <!-- footer info   -->
                                                <div class="footer-info">
                                                    <h4>Our Services</h4>
                                                    <div class="footer-serv-holder">
                                                        <ul>
                                                            <li><a href="serv-single.html" class="ajax">Design and Build</a></li>
                                                            <li><a href="serv-single.html" class="ajax">Household Repairs</a></li>
                                                            <li><a href="serv-single.html" class="ajax">Tiling and Painting</a></li>
                                                        </ul>
                                                        <ul>
                                                            <li><a href="serv-single.html" class="ajax">Construction </a></li>
                                                            <li><a href="serv-single.html" class="ajax">Electrical</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!-- footer info  end-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- sub-footer -->
                                <div class="sub-footer">
                                    <div class="container">
                                        <div class="copy-right">Copyright © 2016 <a href="index.html" class="ajax">Grafon</a>  All Rights Reserved</div>
                                        <div class="footer-social">
                                            <ul>
                                                <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-pinterest"></i></a></li>
                                                <li><a href="#" target="_blank" ><i class="fa fa-tumblr"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- sub-footer end-->
                                <div class="footer-dec" data-top-bottom="transform: translateY(150px);" data-bottom-top="transform: translateY(-150px);"></div>
                            </footer>
                            <!-- footer end -->              

                        </div>
                        <!-- content-holder   end-->
                    </div>
                    <!-- wrapper end -->
                </div>
                <!-- wrap-bg end-->
            </div>
            <!-- wrapper-inner end-->
            <!--to top    -->
            <div class="to-top">
                <i class="fa fa-long-arrow-up"></i>
            </div>
            <!-- to top  end -->
            <!-- body-bg -->
            <div class="body-bg">
                <div class="body-bg-wrap"></div>
            </div>
            <!-- body-bg end -->
            <!-- fixed-column -->
            <div class="fixed-column">
                <div class="fix-bg-wrap">
                    <div id="bgd"></div>
                </div>
                <div class="overlay"></div>
            </div>
            <!-- fixed-column end -->   
        </div>
        <!-- Main end -->
        <!--=============== google map ===============-->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY" type="text/javascript"></script> 
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/core.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>