/* Section */
#section_user {
	margin: 0;
	padding: 0;
	text-align: left;
}
/* Index */
/* Menu */
section#section_user nav {
	display: block;
	background-color: #fff;
	width: 350px;
	float: left;
}
section#section_user nav ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
section#section_user nav ul li {
	display: block;
	height: 65px;
	border-radius: 8px;
	margin-bottom: 5px;
	position: relative;
	transition: all linear 400ms;
}
section#section_user nav ul li:first-child {
	background-color: rgba(0, 0, 0, 0.1);
}
section#section_user nav ul li:hover {
	background-color: rgba(0, 0, 0, 0.08);
}
section#section_user nav ul li:last-child {
	background-color: rgba(229, 20, 20, 0.65);
	color: rgba(242, 242, 242, 0.9);
}
section#section_user nav ul li:last-child > div {
	background-color: black;
}
section#section_user nav ul li img {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	margin: 8px;
	border-radius: 8px;
}
section#section_user nav ul li a,
section#section_user nav ul li span {
	display: block;
	float: left;
	line-height: 65px;
	margin-left: 15px;
	font-weight: bold;
}
section#section_user nav ul li a {
	display: block;
	padding: 0 25px;
	height: 65px;
	line-height: 65px;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid #eee;
	border-radius: 10px;
	font-size: .9em;
	transition: all .2s ease-in-out;
	width: 100%;
	margin: 0;
}
section#section_user nav ul li i {
	display: block;
	float: right;
	line-height: 65px;
	margin-right: 15px;
	font-size: 20px;
	border: 1px soldi;
}
section#section_user nav ul li div {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 15px;
	top: 8px;
	background-color: #f9f9f9;
	border-radius: 8px;
}
section#section_user nav ul li div svg {
	display: block;
	margin: auto;
	top: 8px;
	font-size: 20px;
	line-height: 65px;
	margin-top: 15px;
}
/* Fin Menu */
section#section_user div#section_user_profil {
	display: block;
	float: left;
	width: 40%;
	position: relative;
	padding: 30px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-left: 20px;
}
#section_user_profil_right > h2,
section#section_user div#section_user_profil > h2 {
	text-align: left;
	position: relative;
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.section_user_profil_form_row {
	position: relative;
	margin-bottom: 15px;
}
.section_user_profil_form_row > svg {
	position: absolute;
	left: 15px;
	top: 20px;
	font-size: 16px;
}
form div.section_user_profil_form_row > select,
form div.section_user_profil_form_row > input {
	border: 1px solid #eee;
	background: #f9f9f9;
	box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, 0);
	height: 56px;
	width: 100%;
	padding: 17px 20px 17px 50px;
	border-radius: 4px;
	color: #222;
	font-size: 12px;
	-webkit-appearance: none;
	outline: none;
	overflow: hidden;
	font-family: var(--main-font);
	font-weight: 500;
}
#section_user_profil_right {
	display: block;
	float: left;
	width: calc(100% - 40% - 390px);
	position: relative;
	padding: 30px;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-left: 20px;
}
.section_user_profil_form_row button {
	display: block;
	margin: 20px auto;
}
@media all and (max-width: 800px) {
	section#section_user nav {
		display: block;
		width: 100%;
	}
	section#section_user div#section_user_profil {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-bottom: 15px;
	}
	#section_user_profil_right {
		display: block;
		width: 100%;
		margin-left: 0;
	}
}
@media all and (max-width: 1200px) {
	section#section_user nav,
	#section_user_profil {
		width: 50%;
		margin-left: 0;
	}
	#section_user_profil_right {
		clear: both;
		display: block;
		width: 100%;
		margin: 0;
	}
}
#section_user_profil_avatar {
	display: block;
	width: 100%;
	height: 120px;
	background-image: url(/assets/img/bg_user_img.png);
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: repeat;
	background-origin: content-box;
	background-color: rgba(41, 41, 41, .65);
	border-radius: 8px;
	margin-bottom: 20px;
}
#section_user_profil_avatar_change {
	display: block;
	float: left;
	line-height: 120px;
	margin: 30px 20px;
}
#section_user_profil_avatar_change img {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 120px;
	border-radius: 8px;
}
#section_user_profil_avatar > a {
	display: block;
	float: left;
	background-color: rgba(41, 41, 41, .85);
	color: #f9f9f9;
	height: 40px;
	margin: 40px 0;
	padding: 10px;
	border-radius: 8px;
}
section#section_user div#section_user_profil.full {
	width: 75%;
}
.fb {
	background-color: #3763d2;
	color: #FFF;
}
.twitter {
	background-color: #1abcff;
	color: #FFF;
}
.discord {
	background-color: #7289da;
	color: #FFF;
}
.pinterest {
	background-color: #df0022;
	color: #FFF;
}
.linkedin {
	background-color: #4f93b5;
	color: #FFF;
}
.youtube {
	background-color: #f70000;
	color: #FFF;
}
.whatsapp {
	background-color: #46c254;
	color: #FFF;
}
.instagram {
	background-color: #f8468d;
	color: #FFF;
}
.messenger {
	background-color: #0096f7;
	color: #FFF;
}
.tiktok {
	background-color: #5d5c61;
	color: #FFF;
}
.snapchat {
	background-color: #f5f401;
	color: #212529;
}
.telegram {
	background-color: #239cd7;
	color: #FFF;
}
.reddit {
	background-color: #f74300;
	color: #FFF;
}
.skype {
	background-color: #00aae9;
	color: #FFF;
}
.viber {
	background-color: #7b4e9b;
	color: #FFF;
}
.windows {
	background-color: #777fe4;
	color: #FFF;
}
.twich {
	background-color: #8c44f7;
	color: #FFF;
}
.mdp_old {
	background-color: #e74a46;
	color: #FFF;
}
.mdp_new {
	background-color: #f5ca14;
	color: #FFF;
}
.divTableCell {
	display: inline-block;
	line-height: 30px;
	margin: 0 15px;
}
/* Avatar */
.section_user_profil_avatar_list {
	display: inline-block;
	margin: 15px;
	width: calc(25% - 35px);
	position: relative;
	border-radius: 8px;
}
.section_user_profil_avatar_list img {
	width: 100px;
	height: 100px;
	border-radius: 8px;
}
.section_user_profil_avatar_list_select {
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 400ms linear;
	cursor: pointer;
	border-radius: 8px;
	text-align: center;
}
.section_user_profil_avatar_list_select:hover {
	background-color: rgba(0, 0, 0, 0);
}
.section_user_profil_avatar_list_select a {
	opacity: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(242, 242, 242, 0.9);
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-radius: 0 0 8px 8px;
	line-height: 22px;
	font-size: 14px;
	transition: all 500ms linear;
}
.section_user_profil_avatar_list_select:hover a {
	opacity: 1;
}
.avatar_del {
	background-color: rgba(0, 0, 0, .85);
	color: red;
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 8px 8px 0 0;
	transition: all 500ms linear;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	opacity: 0;
}
.section_user_profil_avatar_list:hover .avatar_del {
	opacity: 1;
	z-index: 99;
}
#uploads_logo_avatar {
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: repeat;
	background-origin: content-box;
	width: 150px;
	height: 100px;
	cursor: pointer;
}
#inputFile {
	display: block;
	position: absolute;
	width: 150px;
	height: 100px;
	opacity: 0;
	cursor: pointer;
}