						#bel_cms_widgets_connected ul {
	display: block;
	list-style: none;
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 15px;
	overflow: hidden;
}
	#bel_cms_widgets_connected ul li {
		display: block;
		overflow: hidden;
		border: none !important;
		padding: 0 !important;
		line-height: 25px;
	}
	#bel_cms_widgets_connected ul li span {
		display: block;
		float: left;
	}
	#bel_cms_widgets_connected ul li span:nth-child(2) {
		float: right;
		text-align: right;
	}

	#getVisitorDay {
		margin: 0 !important;
		padding: 0 !important;
		border: 1px dashed rgba(0, 0, 0, .5);
	}
	#getVisitorDay li,
	#getVisitorConnected li {
		font-size: 80%;
		font-style: italic;
	}