#belcms_section_faq {
    margin: 0;
    padding: 0;
}
#belcms_section_faq * {
    text-align: justify !important;
}
#belcms_section_faq h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center !important;
}
#site_search {
    margin: 10px auto;
}
#belcms_section_faq_cat {
    display: block;
    overflow: hidden;
    width: 100%;
}
#belcms_section_faq_cat ul {
    display: block;
    float: left;
    width: 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
    padding-left: 0;
}
#belcms_section_faq_cat ul li  i {
    display: inline-block;
}
#belcms_section_faq_cat ul li {
    border: 1px solid #dee2e6;
}
#belcms_section_faq_cat ul li.active a,
#belcms_section_faq_cat ul li:hover a {
    background-color: #f6f6f6;
    cursor: pointer;
}
#belcms_section_faq_cat ul li a {
    display: inline-block;
    width: 100%;
    padding: .75rem 1.25rem;
    transition: background-color 0.2s ease;
    border-radius: 0;
    text-align: left !important;
    background-color: #fff;
    color: #515151;
}
#belcms_section_faq_content {
    display: block;
    float: left;
    width: 66.666667%;;
    max-width: 66.666667%;
    color: #515151;
}
#belcms_section_faq_content > div {
    display: none;
}
#belcms_section_faq_content > div.active {
    display: block;
}
#belcms_section_faq_content h3 {
    background-color: #f6f6f6;
    padding: .75rem 1.25rem !important;
    text-align: left !important;
    color: #515151;
    font-weight: bold;
    margin: 0 !important;
}
.ui-corner-top {
    border-radius: 0 !important;
}
#bel_cms_accordion_search_title {
    border: 1px solid rgba(0,0,0,.125) !important;
    background-color: #f6f6f6;
    padding: .75rem 1.25rem !important;
    text-align: left !important;
    color: #515151;
    font-weight: bold;
}
#belcms_section_faq_search {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: justify !important;
    margin: 15px;
}
#bel_cms_accordion_search div {
    padding: 15px;
    text-align: justify !important;
}
.bel_cms_accordion_search_row {
    display: block;
    margin-bottom: 15px;
}