@charset "utf-8";
/*-reset -*/ 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;text-decoration:none;margin:0;padding:0}table{border-collapse:separate;border-spacing:0}blockquote:before,blockquote:after,q:before,q:after{content:""}*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}table{border-collapse:collapse;border-spacing:0}img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}a{text-decoration:none;position:relative;color:#000}audio,video,canvas{max-width:100%}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, html {
	min-width: 100%;
	min-height: 100%;
	background-color: #e8dfd6;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal
}
button {
	padding: 0;
	margin: 0;
	border: 0;
	line-height: 0;
	height: 0;
	border-top-left-radius: var(--bs-pagination-border-radius);
	border-bottom-left-radius: var(--bs-pagination-border-radius);
	cursor: pointer;
	color: #b7b09e;
	font-size: 13px;
	height: 34px;
	margin-left: -2px;
}
a {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
}
header {
	display: block;
	overflow: hidden;
	margin-top: 25px;
	background-color: rgba(255, 255, 255, 1);
	position: relative;
}
header > img {
	float: left;
	margin: 10px;
	margin-left: 20px;
}
header > a {
	display: block;
	float: right;
	margin: 10px;
	margin-right: 20px;
	border: 2px solid #e8dfd6;;
	padding: 10px 15px;
	border-radius: 4px;
	transition: all 500ms linear;
}
header > a:hover {
	background-color: #e4d6cd;
	color: rgba(255, 255, 255, 1);
	transition: all 500ms linear;
	border: 2px solid rgba(0, 0, 0, 0.5);
}
#background {
	background-image: url(../img/bg.png);
	background-size: cover;
	height: 250px;
	background-color: #b7b09e;
	z-index: 0;
}
#main {
	background-color: #FFF;
}
#main_content {
	padding: 20px;
	text-align: center;
}
#main_content h1 {
	display: block;
	font-size: 22px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e8dfd6;
	margin-bottom: 25px;
}
.main_content {
	display: block;
	width: 75%;
	padding: 15px;
	border-radius: 6px;
	background-color: #e4d6cd;
	margin: auto;
	font-size: 13px;
	font-family: "Poppins", sans-serif;
}
.pagination {
	margin: 20px auto;
	width: 75%;
}
button,
.pagination a {
	cursor: pointer;
	color: #b7b09e;
	font-size: 13px;
}
.pagination a:hover {
	background-color: #e4d6cd;
	color: #FFF;
}
progress {
	width: 75%;
	margin: auto;
	background-color: #e8dfd6;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.35);
}
.pourcent {
	display: block;
	text-align: center;
}
footer {
	display: block;
	background-color: #b7b09e;
	color: #000;
	line-height: 30px;
	padding-left: 25px;
	margin-bottom: 25px;
}
footer a {
	line-height: 30px;
}
.container {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#check {
	display: block;
	padding: 0 15px;
	overflow: hidden;
	width: 100%;
}
#check li {
	display: inline-table;
	width: 100%;
	background-color: #b7b09e;
}
#check li:nth-child(odd) {
	background-color: #e4d6cd;
}
#check li span {
	display: block;
	float: left;
	line-height: 22px;
	padding: 5px 15px;
}
#check li span:nth-child(odd) {
	display: block;
	float: right;
}
#check {
	display: block;
	list-style: none;
}
#check li {
	width: 100%;
	text-align: left;
}
.row_table {
	display: block;
	width: 100%;
	margin: 5px 0;
}
.row_table label{
	display: block;
	padding-left: 15px;
	margin: 5px 0;
	text-align: left;
}
.row_table input {
	display: block;
	width: 100%;
	padding: 0 15px;
	height: 30px;
	border-color: #e4d6cd;
	border-radius: 4px;
}
#code {
	display: block;
	height: 300px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: none;
}
#code > div {
	display: flex;
	overflow: hidden;
	padding: 0 15px;
}
#code > div:nth-child(odd){
	background-color: #e4d6cd;
}
#code > div span.title {
	float: left;
	font-weight: bold;
}
#code > div span.wait,
#code > div span.green {
	float: right;
	color: green
}
#code .row_table {
	display: block;
	overflow: hidden;
	width: auto;
}
.hidden {
	visibility: hidden;
}