#belcms_contact_form {
	display: block;
}
.belcms_contact_form_br {
	display: flex;
	margin-bottom: 15px;
}
#belcms_contact_form input {
	display: block;
	width: 50%;
	margin: 10px 20px;
}
.belcms_contact_form_br > textarea {
	margin: auto;
	max-width: 80%;
}