<!-- gallery-item-->
<div class="gallery-item   houses interior">
    <div class="grid-item-holder hov_zoom">
        <img  src="images/folio/1.jpg"    alt="">
        <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
        <div class="grid-det">
            <div class="grid-det-item">
                <span class="pr_num"></span>
                <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Branding</a></div>
                <a href="onepage-portfolio-single.html" class="grid-det_link"><span>Spire Edge Center</span></a>
            </div>
        </div>
    </div>
</div>
<!-- gallery-item end-->                            
<!-- gallery-item-->
<div class="gallery-item    design">
    <div class="grid-item-holder hov_zoom">
        <img  src="images/folio/1.jpg"    alt="">
        <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
        <div class="grid-det">
            <div class="grid-det-item">
                <span class="pr_num"></span>
                <div class="grid-det_category"><a href="#">design </a> <a href="#"> Branding</a></div>
                <a href="onepage-portfolio-single.html" class="grid-det_link"><span>Art Family Residence</span></a>
            </div>
        </div>
    </div>
</div>
<!-- gallery-item end-->                            
<!-- gallery-item-->
<div class="gallery-item  houses construction">
    <div class="grid-item-holder hov_zoom">
        <img  src="images/folio/1.jpg"    alt="">
        <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
        <div class="grid-det">
            <div class="grid-det-item">
                <span class="pr_num"></span>
                <div class="grid-det_category"><a href="#">houses  </a> <a href="#"> construction</a></div>
                <a href="onepage-portfolio-single.html" class="grid-det_link"><span>Minimal Guests House</span></a>
            </div>
        </div>
    </div>
</div>
<!-- gallery-item end-->