#belcms_widgets_shoutbox_main {
	padding: 15px;
	background-image: url(/assets/img/chatbg.png);
}
#belcms_widgets_shoutbox_main input {
	background: #ebebeb;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin: 10px auto;
}
#belcms_widgets_shoutbox_main ul {
	background-color: rgba(0, 0, 0, .55);
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 15px;
	border-radius: 10px;
}
#belcms_widgets_shoutbox_main > ul > li {
	display: flex;
	margin-bottom: 15px;
}
#belcms_widgets_shoutbox_main > ul > li > div {
	margin: 0 10px;
}
#belcms_widgets_shoutbox_main > ul > li > div > img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
#belcms_widgets_shoutbox_main > ul > li > div > span {
	display: block;
	text-align: left;
	font-size: 13px;
}
#belcms_widgets_shoutbox_main > ul > li > div > span i {
	color: #ebebeb;
}
#belcms_widgets_shoutbox_main > ul > li > div > span:first-child {
	font-weight: bold;
}
.belcms_widgets_shoutbox_main_msg {
	background: #ebebeb;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 10px 20px;
	text-align: left !important;
	color: black;
}
.belcms_widgets_shoutbox_files a,
.belcms_widgets_shoutbox_files {
	color: #FFFFFF;
}