#belcms_forum_main {
    display: block;
    padding: 10px;
    background-color: #F9F9F9;
	font-size: 13px;
	position: relative;
}
#belcms_forum_main h1 {
    color: #141414;
    background: #fefefe;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 14px;
    box-shadow: rgba(0,0,0,0.08) 0px 1px 4px;
    border-color: rgba(0,0,0,0.15);
    margin: 0;
	font-size: 22px;
	font-weight: 400;
	text-align: left;
	text-transform: none;
}
.belcms_forum_main_block_container {
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 15px;
}
.belcms_forum_main_block_header {
    background-color: #212A35;
    color: rgba(255, 255, 255, .85);
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 3px;
    margin-top: 6px;
    border-radius: 4px;
}
.belcms_forum_main_block_header h3 {
    margin: 0;
    line-height: 40px;
}
.belcms_forum_main_block_content {
    background: #fefefe;
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    padding: 10px;
    display: table;
    table-layout: fixed;
    border-radius: 4px;
    width: 100%;
}
.belcms_forum_main_block_content:last-child {
    border-bottom: 1px solid #d8d8d8;
}
.belcms_forum_main_block_content_ico {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 46px;
    padding: 10px;
    background-color: #212a35;
}
.belcms_forum_main_block_content_ico i,
.belcms_forum_main_block_content_ico svg {
    font-size: 16px;
    background-image: none;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: fixed;
    color: rgba(255, 255, 255, .85);
}
.belcms_forum_main_block_content_title {
    display: table-cell;
    vertical-align: middle;
    text-align: left; 
    width: calc(100% - 56px);
    padding-left: 15px;
}
.belcms_forum_main_block_content_title span {
    display: block;
    width: 100%;
}
.belcms_forum_main_block_content_title span:nth-child(2) {
    color: #8c8c8c;
}
.belcms_forum_main_block_content_stats {
    display: table-cell;
    width: 85px;
}
.belcms_forum_main_block_content_stats > span {
    display: block;
    width: 100%;
    text-align: center;
}
.belcms_forum_main_block_content_stats > span:first-child {
    color: #8c8c8c;
}
.belcms_forum_main_block_content_last {
    display: table-cell;
    width: 215px;
    text-align: right;
}
.belcms_forum_main_block_content_last > span {
	display: block;
	width: 100%;
	text-align: right;
}
.belcms_forum_main_block_content_last > span:last-child {
    color: #8c8c8c;
}
/* Threads */
#forum_new_treads,
#forum_new {
    display: block;
    width: auto;
    padding: 0 15px;
    margin: 0 10px;
    text-align: right;
    overflow: hidden;
}
#forum_new_treads a,
#forum_new > a {
    display: inline-block;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
    line-height: 40px;
}
#forum_new > h4 {
    display: block;
    float: left;
    line-height: 45px;
}
#forum_new_treads a {
    padding: 5px 15px;
    margin-bottom: 20px;
}
#forum_new > a {
    display: block;
    line-height: 45px;
    float: right;
    width: 45px;
    line-height: 32px;
    top: 8px;
    margin-right: 7px;
}
.belcms_forum_threads_block_content_stats {
    display: table-cell;
    max-width: 126px;
    width: 115px;
}
.belcms_forum_threads_block_content_stats span {
    display: block;
}
.belcms_forum_threads_block_content_stats span i {
    float: right;
    text-align: center;
}
/* New Threads */
#bel_cms_forum_newthread {
    display: block;
    width: 100%;
    margin: 0 !important;
}
.belcms_forum_article {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #d8d8d8;
}
.belcms_forum_post_div_infos {
    width: 25%;
    position: relative;
    background: #f5f5f5;
    border-right: 1px solid #d8d8d8;
    padding: 25px;
}
.belcms_forum_post_div_infos img {
    max-width: 95%;
    height: auto;
    margin: auto;
}
.belcms_forum_post_div_content {
    width: 75%;
    background: #f5f5f5;
    padding: 25px;
}
.belcms_forum_post_div_content_date {
    border-bottom: 1px solid #d8d8d8;
}
.belcms_forum_post_div_infos {
    text-align: center;
}
.belcms_forum_post_div_infos > div > img {
    width: 100px;
    height: auto;
    border-radius: 6px;
}
.belcms_forum_post_div_infos  > ul > li {
    text-align: right;
}
.belcms_forum_post_div_infos  > ul > li > strong {
    display: block;
    float: left;
}
.belcms_forum_post_div_infos h3 {
    display: block;
    margin: 10px auto;
    font-weight: bold;
}
.belcms_forum_post_groups > span {
    display: block;
    line-height: 30px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 4px;
}
#belcms_forum_post {
    background-color: #F9F9F9;
}
#belcms_textaera {
    width: 98%;
    margin: auto;
    margin-bottom: 5px;
}
#file_attachment {
    width: 98%;
    margin: auto;
}
/* Stats */
#belcms_forum_main_stats {
    display: block;
    width: 33.333333%;
    float: left;
    background-color: #212A35;
    color: #fff;
}
#belcms_forum_main_stats ul li {
    line-height: 35px;
    text-align: left;
    padding: 10px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(255,255,0255,.25);
}
#belcms_forum_main_stats ul li:first-child {
    padding: 10px;
    padding-left: 15px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255,255,0255,.25);
    text-align: left;
}