<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cyberbook - Creative Agency and Portfolio Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="main-loader-wrap">
            <div class="loading-spinner"><img src="images/logo_bg.png" alt=""></div>
        </div>
        <!--loader end-->
        <!--  main start  -->
        <div id="main">
            <!--  header main-header  -->
            <header class="main-header">
                <!--logo-->
                <a href="index.html" class="logo-holder color-bg"><img src="images/logo.png" alt=""></a>
                <!--logo end-->
                <!--  hero-wrap-social  -->
                <div class="social-container">
                    <span class="social-container_title">Find: </span>
                    <a href="#" target="_blank">Fb</a> 
                    <a href="#" target="_blank">Ins</a> 
                    <a href="#" target="_blank">Tw</a> 
                    <a href="#" target="_blank">Tic</a> 
                    <a href="#" target="_blank">Be</a> 
                </div>
                <!--  hero-wrap-social end  -->					
                <div class="share_btn show_share"><strong>Share</strong> <span class="share_btn-icon"></span></div>
                <!-- nav-button-wrap-->
                <div class="nav-button-wrap">
                    <div class="menu-button-text">Menu</div>
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <a href="portfolio.html" class="pr_btn"><span class="pr_btn_dots"></span><strong>Projects</strong> <i class="fal fa-angle-right"></i></a>	
            </header>
            <!-- Header   end-->
            <!--navigation-->
            <div class="nav-holder isvis_menu">
                <div class="nav-overlay fs-wrapper"></div>
                <div class="nav-container">
                    <div class="nav-title hid_vismen"> me<br>nu <span>.</span>  </div>
                    <div class="hsd_dec2 hdec_d hid_vismen"></div>
                    <div class="nav-wrap hid_vismen">
                        <!-- nav -->
                        <nav class="nav-inner" id="menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="index.html">Slider</a></li>
                                        <li><a href="index2.html">Carousel</a></li>
                                        <li><a href="index3.html">Video</a></li>
                                        <li><a href="index4.html">Slideshow</a></li>
                                        <li><a href="index5.html">MultiSlideshow</a></li>
                                        <li><a href="index6.html">Image</a></li>
                                        <li><a href="coming-soon.html" target="_blank">Coming Soon</a></li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="portfolio.html">Creative Grid</a></li>
                                        <li><a href="portfolio2.html">Column Grid</a></li>
                                        <li><a href="portfolio3.html">Fullscreen Grid </a></li>
                                        <li><a href="portfolio4.html">List</a></li>
                                        <li>
                                            <a href="#">Single</a>
                                            <!--level 3 -->
                                            <ul>
                                                <li><a href="portfolio-single.html">Style 1</a></li>
                                                <li><a href="portfolio-single2.html">Style 2</a></li>
                                                <li><a href="portfolio-single3.html">Style 3</a></li>
                                                <li><a href="portfolio-single4.html">Style 4</a></li>
                                            </ul>
                                            <!--level 3 end -->
                                        </li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="blog.html" class="act-link">Blog</a></li>
                                <li>
                                    <a href="#">Shop</a>
                                    <!--level 3 -->
                                    <ul>
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                    </ul>
                                    <!--level 3 end -->
                                </li>
                            </ul>
                        </nav>
                        <!-- nav end-->
                    </div>
                    <div class="nav_arrow hid_vismen"><span></span></div>
                </div>
            </div>
            <!--navigation end-->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- fixed-column-image -->
                <div class="fixed-column-image-wrap">
                    <div class="fixed-column-image fs-wrapper">
                        <div class="bg hor_scroll"  data-bg="images/bg/2.jpg"></div>
                        <div class="overlay"></div>
                        <div class="overlay-dec"></div>
                    </div>
                    <footer class="column-footer">
                        <div class="column-footer_arrow-dec_wrap color-bg">
                            <div class="arrow_dec_wrap">
                                <div class="arrow_dec"></div>
                            </div>
                        </div>
                        <div class="column-footer_head">Scroll  Down</div>
                        <div class="column-footer_content fl-wrap">
                            <div class="column-footer_title"><span>Our  News</span></div>
                        </div>
                        <div class="dir-arrow"></div>
                    </footer>
                    <div class="fci_progress-bar-wrap fci_progress-bar-wrap2 dark-bg">
                        <div class="mousey-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <div class="ver_progress-bar_wrap">
                            <div class="ver_progress-bar color-bg"></div>
                        </div>
                        <div class="pbw_animicon">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="hero-arrows_dec"></div>
                </div>
                <!-- fixed-column-image end -->				 
                <!-- column-wrap -->
                <div class="column-wrap">
                    <div class="content fl-wrap full-height">
                        <!-- section -->
                        <section id="sec1">
                            <div class="container">
                                <div class="blog-filters fl-wrap">
                                    <div class="blog-search-wrap fl-wrap">
                                        <input name="se" id="se" type="text" class="search" placeholder="Search..." value="">
                                        <button><i class="far fa-search"></i></button>
                                    </div>
                                    <div class="blog-btn">Categories  / Tags </div>
                                    <!-- filter category    -->
                                    <div class="blog-filter-wrap color-bg">
                                        <div class="blog-filter-wrap_item">
                                            <span class="blog-filter-wrap_item__title">Categories</span>
                                            <ul>
                                                <li><a href="#">Interior</a></li>
                                                <li><a href="#">Nature</a></li>
                                                <li><a href="#">Comercial</a></li>
                                                <li><a href="#">Travel</a></li>
                                            </ul>
                                        </div>
                                        <div class="blog-filter-wrap_item">
                                            <span class="blog-filter-wrap_item__title">Tags</span>
                                            <ul>
                                                <li><a href="#">Blog</a></li>
                                                <li><a href="#">Photography</a></li>
                                                <li><a href="#">Portfolio</a></li>
                                                <li><a href="#">Tag</a></li>
                                                <li><a href="#">Video</a></li>
                                            </ul>
                                        </div>
                                        <div class="blog-filter-wrap_title"></div>
                                    </div>
                                    <!-- filter category end  --> 
                                </div>
                                <div class="post-title fl-wrap">
                                    <h2>Wood Nature Trip</h2>
                                    <ul class="blog-title-opt  fl-wrap">
                                        <li><a href="#">12 may 2022</a></li>
                                        <li> - </li>
                                        <li><a href="#">Interviews </a></li>
                                        <li><a href="#">Design</a></li>
                                        <li> - </li>
                                        <li><a href="#"><span class="author_avatar"> <img alt="" src="images/avatar/1.jpg"></span>Jane Kowalski</a></li>
                                    </ul>
                                    <div class="post-title_dec"><i class="fas fa-caret-down"></i></div>
                                </div>
                                <!-- blog media -->
                                <div class="blog-media fl-wrap">
                                    <div class="single-slider-wrap">
                                        <div class="single-slider fl-wrap">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper lightgallery">
                                                    <div class="swiper-slide hov_zoom"><img src="images/folio/1.jpg" alt=""><a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                    <div class="swiper-slide hov_zoom"><img src="images/folio/1.jpg" alt=""><a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                    <div class="swiper-slide hov_zoom"><img src="images/folio/1.jpg" alt=""><a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ss-slider-pagination_wrap">
                                            <div class="ss-slider-pagination"></div>
                                        </div>
                                        <div class="ss-slider-cont ss-slider-cont-prev"><i class="fal fa-angle-left"></i></div>
                                        <div class="ss-slider-cont ss-slider-cont-next"><i class="fal fa-angle-right"></i></div>
                                    </div>
                                </div>
                                <!-- blog media end -->   
                                <div class="pr-tags">
                                    <span>Tags : </span>
                                    <ul>
                                        <li><a href="#">Design</a></li>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Fasion</a></li>
                                    </ul>
                                </div>
                                <div class="post-opt single_po">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-comments-alt"></i> 3 comments</a></li>
                                        <li><span><i class="fal fa-eye"></i> 214 view</span></li>
                                    </ul>
                                </div>
                                <div class="fl-wrap text-block gray-bg">
                                    <div class="clearfix"></div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                    </p>
                                    <blockquote>
                                        <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus.   </p>
                                    </blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                    </p>
                                    <p>Curabitur at fermentum purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris non nisl interdum, citudin ne que sed, posuere elit. Vivamus ac tincidunt sapien. Donec at dapibus enim nteger et tur is vel turpis vehi cula mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeosivam. Curabitur at ferm entum purus. Interdum et malesuada fames ac ante ipsu primis in faucibus. Mauris non nisl interdum, citudin neque se posue asre elit. Donec at dapibus enim, nteer etrn is vel turpis vehicula matis. Class aptent taciti sociosqu ad. lorem ipsu aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi, am eget dui maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Pellentesque vitae quam luctus, porta accumsan massa.Quisque varius eros ac purus dignissim.
                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="pr-subtitle"> Comments</div>
                                <div class="section-separator sp2 fl-wrap"><span></span></div>
                                <div id="comments" class="single-post-comm">
                                    <ul class="commentlist clearafix">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-author">
                                                    <img alt="" src="images/avatar/1.jpg" width="50" height="50">
                                                </div>
                                                <cite class="fn"><a href="#">Kevin</a></cite>
                                                <div class="comment-meta">
                                                    <h6><a href="#">January 02, 2020 </a> / <a class="comment-reply-link" href="#">Reply</a></h6>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.</p>
                                                <span class="testi-number color-bg">.01</span>
                                            </div>
                                        </li>
                                        <li class="comment">
                                            <!--comment body-->
                                            <div class="comment-body">
                                                <div class="comment-author">
                                                    <img alt="" src="images/avatar/1.jpg" width="50" height="50">
                                                </div>
                                                <cite class="fn"><a href="#">Andy</a></cite>
                                                <div class="comment-meta">
                                                    <h6><a href="#">January 22, 2020  </a> / <a class="comment-reply-link" href="#">Reply</a></h6>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.</p>
                                                <span class="testi-number color-bg">.03</span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                    <div id="respond" class="clearafix">
                                        <div class="pr-subtitle"> Leave A Review</div>
                                        <div class="section-separator fl-wrap sp2"><span></span></div>
                                        <div class="comment-reply-form clearfix">
                                            <form id="add-comment" class="add-comment custom-form">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <input type="text" placeholder="Your Name *" value="">
                                                        </div>
                                                        <div class="col-md-6">
                                                            <input type="text" placeholder="Email Address*" value="">
                                                        </div>
                                                    </div>
                                                    <textarea cols="40" rows="3" placeholder="Your Comment:"></textarea>
                                                </fieldset>
                                                <button class="btn flat-btn color-bg"><span>Submit Comment</span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--end respond-->
                                </div>
                                <!--comments end --> 									
                            </div>
                            <div class="section-number"> <span>0</span>1. </div>
                            <div class="dec_cirlce" style="left: -120px; bottom: 350px"><span></span></div>
                            <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                            <div class="sec-lines"></div>
                            <!--content-nav_holder-->            
                            <div class="content-nav_holder gray-bg">
                                <div class="content-nav">
                                    <ul>
                                        <li>
                                            <a href="blog-single.html" class="ln ajax"><i class="fal fa-long-arrow-left"></i><span>Prev -<strong> Forever Young</strong></span></a>
                                            <div class="content-nav-media">
                                                <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="blog-single.html" class="rn ajax"><span >Next -<strong>  My Blooming Backyard</strong></span> <i class="fal fa-long-arrow-right"></i></a>
                                            <div class="content-nav-media">
                                                <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="blog.html" class="cn_all"><span class="pr_btn_dots"></span></a>
                                </div>
                            </div>
                            <!--content-nav_holder end -->							
                        </section>
                        <!-- section end -->
                    </div>
                </div>
                <!-- column-contaent end -->
                <!-- footer -->
                <div class="height-emulator fl-wrap"></div>
                <footer class="main-footer">
                    <div class="footer-inner fl-wrap">
                        <div class="policy-box">
                            <span>&#169; Cyberbook 2023 . All rights reserved. </span>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#" target="_blank">Facebook</a></li>
                                <li><a href="#" target="_blank">Instagram</a></li>
                                <li><a href="#" target="_blank">Twitter</a></li>
                                <li><a href="#" target="_blank">Tiktok</a></li>
                                <li><a href="#" target="_blank">Behance</a></li>
                            </ul>
                        </div>
                        <div class="to-top-btn color-bg to-top"><i class="fal fa-long-arrow-up"></i></div>
                        <div class="footer-dec color-bg"></div>
                    </div>
                </footer>
                <!-- footer end -->
            </div>
            <!-- wrapper end -->
            <!-- share-wrapper-->
            <div class="share-wrapper fs-wrapper isShare">
                <div class="share-overlay cl_sh fs-wrapper"></div>
                <div class="share-container fl-wrap  isShare">
                    <div class="share-text">
                        <svg viewBox="0 0 100 100" width="100" height="100">
                            <defs>
                                <path id="circle"
                                    d="
                                    M 50, 50
                                    m -37, 0
                                    a 37,37 0 1,1 74,0
                                    a 37,37 0 1,1 -74,0"/>
                            </defs>
                            <text font-size="17">
                                <textpath xlink:href="#circle">
                                    Share This Page  
                                </textpath>
                            </text>
                        </svg>
                    </div>
                    <div class="close-share-btn cl_sh"><i class="fal fa-times"></i></div>
                </div>
            </div>
            <!-- share-wrapper  end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->			
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>