<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cyberbook - Creative Agency and Portfolio Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/shop-style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="main-loader-wrap">
            <div class="loading-spinner"><img src="images/logo_bg.png" alt=""></div>
        </div>
        <!--loader end-->
        <!--  main start  -->
        <div id="main">
            <!--  header main-header  -->
            <header class="main-header">
                <!--logo-->
                <a href="index.html" class="logo-holder color-bg"><img src="images/logo.png" alt=""></a>
                <!--logo end-->
                <!--  hero-wrap-social  -->
                <div class="social-container">
                    <span class="social-container_title">Find: </span>
                    <a href="#" target="_blank">Fb</a> 
                    <a href="#" target="_blank">Ins</a> 
                    <a href="#" target="_blank">Tw</a> 
                    <a href="#" target="_blank">Tic</a> 
                    <a href="#" target="_blank">Be</a> 
                </div>
                <!--  hero-wrap-social end  -->					
                <div class="share_btn show_share"><strong>Share</strong> <span class="share_btn-icon"></span></div>
                <!-- nav-button-wrap-->
                <div class="nav-button-wrap">
                    <div class="menu-button-text">Menu</div>
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <a href="portfolio.html" class="pr_btn"><span class="pr_btn_dots"></span><strong>Projects</strong> <i class="fal fa-angle-right"></i></a>	
            </header>
            <!-- Header   end-->
            <!--navigation-->
            <div class="nav-holder isvis_menu">
                <div class="nav-overlay fs-wrapper"></div>
                <div class="nav-container">
                    <div class="nav-title hid_vismen"> me<br>nu <span>.</span>  </div>
                    <div class="hsd_dec2 hdec_d hid_vismen"></div>
                    <div class="nav-wrap hid_vismen">
                        <!-- nav -->
                        <nav class="nav-inner" id="menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="index.html">Slider</a></li>
                                        <li><a href="index2.html">Carousel</a></li>
                                        <li><a href="index3.html">Video</a></li>
                                        <li><a href="index4.html">Slideshow</a></li>
                                        <li><a href="index5.html">MultiSlideshow</a></li>
                                        <li><a href="index6.html">Image</a></li>
                                        <li><a href="coming-soon.html" target="_blank">Coming Soon</a></li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="portfolio.html">Creative Grid</a></li>
                                        <li><a href="portfolio2.html">Column Grid</a></li>
                                        <li><a href="portfolio3.html">Fullscreen Grid </a></li>
                                        <li><a href="portfolio4.html">List</a></li>
                                        <li>
                                            <a href="#">Single</a>
                                            <!--level 3 -->
                                            <ul>
                                                <li><a href="portfolio-single.html">Style 1</a></li>
                                                <li><a href="portfolio-single2.html">Style 2</a></li>
                                                <li><a href="portfolio-single3.html">Style 3</a></li>
                                                <li><a href="portfolio-single4.html">Style 4</a></li>
                                            </ul>
                                            <!--level 3 end -->
                                        </li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li>
                                    <a href="#" class="act-link">Shop</a>
                                    <!--level 3 -->
                                    <ul>
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                    </ul>
                                    <!--level 3 end -->
                                </li>
                            </ul>
                        </nav>
                        <!-- nav end-->
                    </div>
                    <div class="nav_arrow hid_vismen"><span></span></div>
                </div>
            </div>
            <!--navigation end-->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder">
                    <!-- fixed-column-image -->
                    <div class="fixed-column-image-wrap">
                        <div class="fixed-column-image fs-wrapper">
                            <div class="bg hor_scroll"  data-bg="images/bg/2.jpg"></div>
                            <div class="overlay"></div>
                            <div class="overlay-dec"></div>
                        </div>
                        <footer class="column-footer">
                            <div class="column-footer_arrow-dec_wrap color-bg">
                                <div class="arrow_dec_wrap">
                                    <div class="arrow_dec"></div>
                                </div>
                            </div>
                            <div class="column-footer_head">Scroll  Down</div>
                            <div class="column-footer_content fl-wrap">
                                <div class="column-footer_title"><span>Our  Shop</span></div>
                            </div>
                            <div class="dir-arrow"></div>
                        </footer>
                        <div class="fci_progress-bar-wrap fci_progress-bar-wrap2 dark-bg">
                            <div class="mousey-wrap">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                            <div class="ver_progress-bar_wrap">
                                <div class="ver_progress-bar color-bg"></div>
                            </div>
                            <div class="pbw_animicon">
                                <i class="fas fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="hero-arrows_dec"></div>
                    </div>
                    <!-- fixed-column-image end -->				
                    <a href="cart.html" class="cart_btn color-bg"><i class="fal fa-shopping-bag"></i><span class="show-cart_count">3</span><span class="cart-tooltip">Your Cart</span></a>
                    <!-- column-wrap -->
                    <div class="column-wrap">
                        <div class="content fl-wrap full-height">
                            <!-- section -->
                            <section>
                                <div class="container">
                                    <!-- cart-wrap  -->
                                    <div class="cart-wrap fl-wrap">
                                        <!-- cart header  -->
                                        <div class="cart-header fl-wrap">
                                            <h3>Your Cart</h3>
                                            <span class="total-items">3 items</span>
                                            <div class="sum-total"> $1250 <span>Total:  </span></div>
                                        </div>
                                        <!-- cart header end  -->    
                                        <!-- cart -->
                                        <div class="cart fl-wrap">
                                            <!-- cart item -->
                                            <div class="cart-item fl-wrap">
                                                <div class="cart-image">
                                                    <a href="shop-single.html"><img src="images/shop/1.jpg" alt=""></a>
                                                </div>
                                                <div class="cart-container">
                                                    <table class="table table-border checkout-table">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <h5 class="product-name"><a href="shop-single.html">Awesome Merch Wallet</a></h5>
                                                                    <a class="product-cart-cat" href="#">Chairs</a> <a class="product-cart-cat" href="#">Furniture</a>
                                                                </td>
                                                                <td>
                                                                    <h5 class="order-money">$250.00</h5>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- cart-item-footer -->
                                                    <div class="cart-item-footer fl-wrap">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt . </p>
                                                    </div>
                                                </div>
                                                <!-- cart-item-footer end  -->
                                                <div class="cart-opt">
                                                    <input  type="number" name="Quantity" value="1" max="50" min="1" class="order-count">
                                                    <span class="pr-remove"><i class="far fa-times"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- cart item end-->
                                        <!-- cart item -->
                                        <div class="cart-item fl-wrap">
                                            <div class="cart-image">
                                                <a href="shop-single.html"><img src="images/shop/1.jpg" alt=""></a>
                                            </div>
                                            <div class="cart-container">
                                                <table class="table table-border checkout-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h5 class="product-name"><a href="shop-single.html">Big   flat chair Peppi</a></h5>
                                                                <a class="product-cart-cat" href="#">Chairs</a>  
                                                            </td>
                                                            <td>
                                                                <h5 class="order-money">$400.00</h5>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- cart-item-footer -->
                                                <div class="cart-item-footer fl-wrap">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt . </p>
                                                </div>
                                                <!-- cart-item-footer end  -->
                                                <div class="cart-opt">
                                                    <input  type="number" name="Quantity" value="1" max="50" min="1" class="order-count">
                                                    <span class="pr-remove"><i class="far fa-times"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- cart item end-->                                       
                                        <!-- cart item -->
                                        <div class="cart-item fl-wrap">
                                            <div class="cart-image">
                                                <a href="shop-single.html"><img src="images/shop/1.jpg" alt=""></a>
                                            </div>
                                            <div class="cart-container">
                                                <table class="table table-border checkout-table">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <h5 class="product-name"><a href="shop-single.html">Smart Lamp Alexa</a></h5>
                                                                <a class="product-cart-cat" href="#">Lamp</a> <a class="product-cart-cat" href="#">Decor</a>
                                                            </td>
                                                            <td>
                                                                <h5 class="order-money">$1100.00</h5>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- cart-item-footer -->
                                                <div class="cart-item-footer fl-wrap">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt . </p>
                                                </div>
                                                <!-- cart-item-footer end  -->
                                                <div class="cart-opt">
                                                    <input  type="number" name="Quantity" value="1" max="50" min="1" class="order-count">
                                                    <span class="pr-remove"><i class="far fa-times"></i></span>
                                                </div>
                                            </div>
                                            <!-- cart item end-->                                       
                                        </div>
                                        <!-- cart end  -->
                                        <!-- COUPON -->
                                        <div class="coupon-holder fl-wrap">
                                            <div class="coupon-form">
                                                <input type="text" name="coupon" placeholder="Coupon code">
                                                <button type="submit" class="btn-a">Apply</button>
                                            </div>
                                            <button type="submit" class="btn   color-bg"><span>Proceed to Checkout</span></button>
                                        </div>
                                        <!-- /COUPON -->
                                    </div>
                                    <!-- cart-wrap end  -->								
                                </div>
                                <div class="dec_cirlce" style="left: -120px; bottom: 350px"><span></span></div>
                                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                                <div class="sec-lines"></div>
                                <div class="section-number"> <span>0</span>1. </div>
                            </section>
                            <!-- section end -->
                        </div>
                    </div>
                    <!-- column-contaent end -->
                    <!-- footer -->
                    <div class="height-emulator fl-wrap"></div>
                    <footer class="main-footer">
                        <div class="footer-inner fl-wrap">
                            <div class="policy-box">
                                <span>&#169; Cyberbook 2023 . All rights reserved. </span>
                            </div>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#" target="_blank">Facebook</a></li>
                                    <li><a href="#" target="_blank">Instagram</a></li>
                                    <li><a href="#" target="_blank">Twitter</a></li>
                                    <li><a href="#" target="_blank">Tiktok</a></li>
                                    <li><a href="#" target="_blank">Behance</a></li>
                                </ul>
                            </div>
                            <div class="to-top-btn color-bg to-top"><i class="fal fa-long-arrow-up"></i></div>
                            <div class="footer-dec color-bg"></div>
                        </div>
                    </footer>
                    <!-- footer end -->
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!-- share-wrapper-->
            <div class="share-wrapper fs-wrapper isShare">
                <div class="share-overlay cl_sh fs-wrapper"></div>
                <div class="share-container fl-wrap  isShare">
                    <div class="share-text">
                        <svg viewBox="0 0 100 100" width="100" height="100">
                            <defs>
                                <path id="circle"
                                    d="
                                    M 50, 50
                                    m -37, 0
                                    a 37,37 0 1,1 74,0
                                    a 37,37 0 1,1 -74,0"/>
                            </defs>
                            <text font-size="17">
                                <textpath xlink:href="#circle">
                                    Share This Page  
                                </textpath>
                            </text>
                        </svg>
                    </div>
                    <div class="close-share-btn cl_sh"><i class="fal fa-times"></i></div>
                </div>
            </div>
            <!-- share-wrapper  end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->			
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
        <script  src="js/shop-js.js"></script>
    </body>
</html>