<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cuberbook - Creative Agency and Portfolio Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/cs-style.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="main-loader-wrap">
            <div class="loading-spinner"><img src="images/logo_bg.png" alt=""></div>
        </div>
        <!--loader end-->
        <!--  main start  -->
        <div id="main">
            <div class="cs-content-wrapper">
                <a href="#" class="logo-holder"><img src="images/logo.png" alt=""></a>
                <div class="cs-content">
                    <h3>Under Construction</h3>
                    <h4>Our Website is Coming Soon</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, petierunt uti sibi concilium totius Galliae in diem sed eius mod tempor incidunt ut labore et dolore magna aliqua. Cras mattis iudicium purus sit amet fermentum at nos hinc posthac, sitientis piros afros.  </p>
                    <div class="contact-details fl-wrap">
                        <ul>
                            <li><span>01. Write  :</span><a href="#">yourmail@domain.com</a></li>
                            <li><span>02. Call:</span>  <a href="#">+8(222)987654321</a></li>
                        </ul>
                    </div>
                    <div class="contacts_social_container">
                        <span class="contacts_social_title">03. Find   On:</span>
                        <ul>
                            <li><a href="#" target="_blank">Fb</a></li>
                            <li><a href="#" target="_blank">In</a></li>
                            <li><a href="#" target="_blank">Tw</a></li>
                            <li><a href="#" target="_blank">Lid</a></li>
                            <li><a href="#" target="_blank">Be</a></li>
                        </ul>
                    </div>
                    <div class="sq-dec" style="top: -110px; left: 0;"></div>
                    <div class="sq-dec" style="bottom: -130px; left: 0;"></div>
                </div>
                <div class="arrow_dec_wrap">
                    <div class="arrow_dec"></div>
                </div>
                <div class="arrow_dec_wrap2">
                    <div class="arrow_dec"></div>
                </div>
            </div>
            <div class="cs-content-media">
                <div class="bg"  data-bg="images/bg/1.jpg"></div>
                <div class="overlay"></div>
                <div class="cf_btn act-cf">Get In Touch</div>
                <!-- cs-media-container -->
                <div class="cs-media-container counter-widget" data-countDate="09/12/2024">
                    <!-- countdown -->
                    <div class="countdown">
                        <div class="cs-countdown-item">
                            <span class="days rot">00</span>
                            <h4>Days</h4>
                        </div>
                        <div class="cs-countdown-item">
                            <span class="hours rot">00</span>
                            <h4>Hours </h4>
                        </div>
                        <div class="cs-countdown-item">
                            <span class="minutes rot">00</span>
                            <h4>Minutes </h4>
                        </div>
                        <div class="cs-countdown-item no-dec">
                            <span class="seconds rot">00</span>
                            <h4>Seconds</h4>
                        </div>
                    </div>
                    <!-- countdown end --> 
                    <div class="cs-media_dec"></div>
                </div>
                <!--cs-media-container end -->					
                <div class="showcase-dec_container">
                    <div class="showcase-dec_corner sdc_topleft"></div>
                    <div class="showcase-dec_corner sdc_topright"></div>
                    <div class="showcase-dec_corner sdc_bottomleft"></div>
                    <div class="showcase-dec_corner sdc_bottomright"></div>
                    <div class="showcase-dec_line sdl_right"></div>
                    <div class="showcase-dec_line sdl_left"></div>
                    <div class="showcase-dec_line sdl_top"></div>
                </div>
            </div>
            <!-- contact form wrap -->
            <div class="contact-form-wrap">
                <div class="contact-form-overlay"></div>
                <div class="contact-form-container">
                    <div class="contact-form-content fl-wrap">
                        <div class="contact-form-header fl-wrap">
                            <h4>Get In Touch</h4>
                            <span class="close-cf close-contact-form color-bg"><i class="fal fa-times"></i></span>
                        </div>
                        <div id="contact-form" class="fl-wrap">
                            <div id="message"></div>
                            <form  class="custom-form" action="php/contact.php" name="contactform" id="contactform">
                                <fieldset>
                                    <div class="input-holder fl-wrap">
                                        <label for="name" class="label_in">Your Name *</label>
                                        <input type="text" class="out_label" name="name" id="name"    value="">
                                    </div>
                                    <div class="input-holder fl-wrap">
                                        <label for="email" class="label_in">Email Address *</label>
                                        <input type="text" class="out_label"  name="email" id="email"  value="">
                                    </div>
                                    <div class="input-holder fl-wrap">
                                        <label for="comments" class="label_in">Your Message:</label>
                                        <textarea name="comments"  id="comments" cols="40" rows="3" class="out_label"  ></textarea>
                                    </div>
                                    <button class="btn fl-btn color-bg" id="submit"><span>Send Message</span> </button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--contact form wrap end --> 				
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/cs-scripts.js"></script>
    </body>
</html>