<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cyberbook - Creative Agency and Portfolio Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/map-style.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="main-loader-wrap">
            <div class="loading-spinner"><img src="images/logo_bg.png" alt=""></div>
        </div>
        <!--loader end-->
        <!--  main start  -->
        <div id="main">
            <!--  header main-header  -->
            <header class="main-header">
                <!--logo-->
                <a href="index.html" class="logo-holder color-bg"><img src="images/logo.png" alt=""></a>
                <!--logo end-->
                <!--  hero-wrap-social  -->
                <div class="social-container">
                    <span class="social-container_title">Find: </span>
                    <a href="#" target="_blank">Fb</a> 
                    <a href="#" target="_blank">Ins</a> 
                    <a href="#" target="_blank">Tw</a> 
                    <a href="#" target="_blank">Tic</a> 
                    <a href="#" target="_blank">Be</a> 
                </div>
                <!--  hero-wrap-social end  -->					
                <div class="share_btn show_share"><strong>Share</strong> <span class="share_btn-icon"></span></div>
                <!-- nav-button-wrap-->
                <div class="nav-button-wrap">
                    <div class="menu-button-text">Menu</div>
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <a href="portfolio.html" class="pr_btn"><span class="pr_btn_dots"></span><strong>Projects</strong> <i class="fal fa-angle-right"></i></a>	
            </header>
            <!-- Header   end-->
            <!--navigation-->
            <div class="nav-holder isvis_menu">
                <div class="nav-overlay fs-wrapper"></div>
                <div class="nav-container">
                    <div class="nav-title hid_vismen"> me<br>nu <span>.</span>  </div>
                    <div class="hsd_dec2 hdec_d hid_vismen"></div>
                    <div class="nav-wrap hid_vismen">
                        <!-- nav -->
                        <nav class="nav-inner" id="menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="index.html">Slider</a></li>
                                        <li><a href="index2.html">Carousel</a></li>
                                        <li><a href="index3.html">Video</a></li>
                                        <li><a href="index4.html">Slideshow</a></li>
                                        <li><a href="index5.html">MultiSlideshow</a></li>
                                        <li><a href="index6.html">Image</a></li>
                                        <li><a href="coming-soon.html" target="_blank">Coming Soon</a></li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="portfolio.html">Creative Grid</a></li>
                                        <li><a href="portfolio2.html">Column Grid</a></li>
                                        <li><a href="portfolio3.html">Fullscreen Grid </a></li>
                                        <li><a href="portfolio4.html">List</a></li>
                                        <li>
                                            <a href="#">Single</a>
                                            <!--level 3 -->
                                            <ul>
                                                <li><a href="portfolio-single.html">Style 1</a></li>
                                                <li><a href="portfolio-single2.html">Style 2</a></li>
                                                <li><a href="portfolio-single3.html">Style 3</a></li>
                                                <li><a href="portfolio-single4.html">Style 4</a></li>
                                            </ul>
                                            <!--level 3 end -->
                                        </li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li><a href="contacts.html" class="act-link">Contacts</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li>
                                    <a href="#">Shop</a>
                                    <!--level 3 -->
                                    <ul>
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                    </ul>
                                    <!--level 3 end -->
                                </li>
                            </ul>
                        </nav>
                        <!-- nav end-->
                    </div>
                    <div class="nav_arrow hid_vismen"><span></span></div>
                </div>
            </div>
            <!--navigation end-->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder">
                    <div class="contacts_container color-bg">
                        <div class="contacts-wrap fl-wrap">
                            <div class="contacts-wrap_text fl-wrap">
                                <h2>Our Contacts</h2>
                                <div class="contact-details fl-wrap">
                                    <ul>
                                        <li><span>01. Write  :</span><a href="#">yourmail@domain.com</a></li>
                                        <li><span>02. Adress : </span><a href="#">USA 27TH Inglewood, Maine 98380 Brooklyn NY</a> </li>
                                        <li><span>03. Call:</span><a href="#">+489756412322</a> , <a href="#">+8(222)987654321</a></li>
                                    </ul>
                                </div>
                                <div class="act-cf">Get in Touch</div>
                                <div class="contacts_social_container fl-wrap">
                                    <span class="contacts_social_title">04. Find   On:</span>
                                    <ul >
                                        <li><a href="#" target="_blank">Fb</a></li>
                                        <li><a href="#" target="_blank">In</a></li>
                                        <li><a href="#" target="_blank">Tw</a></li>
                                        <li><a href="#" target="_blank">Lid</a></li>
                                        <li><a href="#" target="_blank">Be</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="arrow_dec_wrap">
                                <div class="arrow_dec"></div>
                            </div>
                            <div class="half-bg-container_dec"></div>
                        </div>
                    </div>
                    <!-- map-wrapper -->
                    <div class="map-wrapper">
                        <div id="map-single" class="map fs-wrapper" data-latlog="[40.714 , -74.005]" data-popuptext="Our Location in New York ."></div>
                    </div>
                    <!-- map-wrapper end -->					
                    <!-- contact form wrap -->
                    <div class="contact-form-wrap">
                        <div class="contact-form-overlay"></div>
                        <div class="contact-form-container">
                            <div class="contact-form-content fl-wrap">
                                <div class="contact-form-header fl-wrap">
                                    <h4>Get In Touch</h4>
                                    <span class="close-cf close-contact-form color-bg"><i class="fal fa-times"></i></span>
                                </div>
                                <div id="contact-form" class="fl-wrap">
                                    <div id="message"></div>
                                    <form  class="custom-form" action="php/contact.php" name="contactform" id="contactform">
                                        <fieldset>
                                            <div class="input-holder fl-wrap">
                                                <label for="name" class="label_in">Your Name *</label>
                                                <input type="text" class="out_label" name="name" id="name"    value="">
                                            </div>
                                            <div class="input-holder fl-wrap">
                                                <label for="email" class="label_in">Email Address *</label>
                                                <input type="text" class="out_label"  name="email" id="email"  value="">
                                            </div>
                                            <div class="input-holder fl-wrap">
                                                <label for="comments" class="label_in">Your Message:</label>
                                                <textarea name="comments"  id="comments" cols="40" rows="3" class="out_label"  ></textarea>
                                            </div>
                                            <button class="btn fl-btn color-bg" id="submit"><span>Send Message</span> </button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--contact form wrap end --> 					
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!-- share-wrapper-->
            <div class="share-wrapper fs-wrapper isShare">
                <div class="share-overlay cl_sh fs-wrapper"></div>
                <div class="share-container fl-wrap  isShare">
                    <div class="share-text">
                        <svg viewBox="0 0 100 100" width="100" height="100">
                            <defs>
                                <path id="circle"
                                    d="
                                    M 50, 50
                                    m -37, 0
                                    a 37,37 0 1,1 74,0
                                    a 37,37 0 1,1 -74,0"/>
                            </defs>
                            <text font-size="17">
                                <textpath xlink:href="#circle">
                                    Share This Page  
                                </textpath>
                            </text>
                        </svg>
                    </div>
                    <div class="close-share-btn cl_sh"><i class="fal fa-times"></i></div>
                </div>
            </div>
            <!-- share-wrapper  end -->	
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->			
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
        <script  src="js/map.js"></script>
    </body>
</html>