<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cyberbook - Creative Agency and Portfolio Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="main-loader-wrap">
            <div class="loading-spinner"><img src="images/logo_bg.png" alt=""></div>
        </div>
        <!--loader end-->
        <!--  main start  -->
        <div id="main">
            <!--  header main-header  -->
            <header class="main-header">
                <!--logo-->
                <a href="index.html" class="logo-holder color-bg"><img src="images/logo.png" alt=""></a>
                <!--logo end-->
                <!--  hero-wrap-social  -->
                <div class="social-container">
                    <span class="social-container_title">Find: </span>
                    <a href="#" target="_blank">Fb</a> 
                    <a href="#" target="_blank">Ins</a> 
                    <a href="#" target="_blank">Tw</a> 
                    <a href="#" target="_blank">Tic</a> 
                    <a href="#" target="_blank">Be</a> 
                </div>
                <!--  hero-wrap-social end  -->					
                <div class="share_btn show_share"><strong>Share</strong> <span class="share_btn-icon"></span></div>
                <!-- nav-button-wrap-->
                <div class="nav-button-wrap">
                    <div class="menu-button-text">Menu</div>
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <a href="portfolio.html" class="pr_btn"><span class="pr_btn_dots"></span><strong>Projects</strong> <i class="fal fa-angle-right"></i></a>	
            </header>
            <!-- Header   end-->
            <!--navigation-->
            <div class="nav-holder isvis_menu">
                <div class="nav-overlay fs-wrapper"></div>
                <div class="nav-container">
                    <div class="nav-title hid_vismen"> me<br>nu <span>.</span>  </div>
                    <div class="hsd_dec2 hdec_d hid_vismen"></div>
                    <div class="nav-wrap hid_vismen">
                        <!-- nav -->
                        <nav class="nav-inner" id="menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="index.html">Slider</a></li>
                                        <li><a href="index2.html">Carousel</a></li>
                                        <li><a href="index3.html">Video</a></li>
                                        <li><a href="index4.html">Slideshow</a></li>
                                        <li><a href="index5.html">MultiSlideshow</a></li>
                                        <li><a href="index6.html">Image</a></li>
                                        <li><a href="coming-soon.html" target="_blank">Coming Soon</a></li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li>
                                    <a href="#" class="act-link">Portfolio</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="portfolio.html">Creative Grid</a></li>
                                        <li><a href="portfolio2.html">Column Grid</a></li>
                                        <li><a href="portfolio3.html">Fullscreen Grid </a></li>
                                        <li><a href="portfolio4.html">List</a></li>
                                        <li>
                                            <a href="#">Single</a>
                                            <!--level 3 -->
                                            <ul>
                                                <li><a href="portfolio-single.html">Style 1</a></li>
                                                <li><a href="portfolio-single2.html">Style 2</a></li>
                                                <li><a href="portfolio-single3.html">Style 3</a></li>
                                                <li><a href="portfolio-single4.html">Style 4</a></li>
                                            </ul>
                                            <!--level 3 end -->
                                        </li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li>
                                    <a href="#">Shop</a>
                                    <!--level 3 -->
                                    <ul>
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                    </ul>
                                    <!--level 3 end -->
                                </li>
                            </ul>
                        </nav>
                        <!-- nav end-->
                    </div>
                    <div class="nav_arrow hid_vismen"><span></span></div>
                </div>
            </div>
            <!--navigation end-->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- fixed-column-image -->
                <div class="fixed-column-image-wrap">
                    <div class="fixed-column-image fs-wrapper">
                        <div class="bg hor_scroll"  data-bg="images/bg/2.jpg"></div>
                        <div class="overlay"></div>
                        <div class="overlay-dec"></div>
                    </div>
                    <footer class="column-footer">
                        <div class="column-footer_arrow-dec_wrap color-bg">
                            <div class="arrow_dec_wrap">
                                <div class="arrow_dec"></div>
                            </div>
                        </div>
                        <div class="column-footer_head">Scroll  Down</div>
                        <div class="column-footer_content fl-wrap">
                            <div class="column-footer_title"><span>Our  Projects</span></div>
                        </div>
                        <div class="dir-arrow"></div>
                    </footer>
                    <div class="fci_progress-bar-wrap fci_progress-bar-wrap2 dark-bg">
                        <div class="mousey-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <div class="ver_progress-bar_wrap">
                            <div class="ver_progress-bar color-bg"></div>
                        </div>
                        <div class="pbw_animicon">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="hero-arrows_dec"></div>
                </div>
                <!-- fixed-column-image end -->				 
                <!-- column-wrap -->
                <div class="column-wrap">
                    <div class="content fl-wrap full-height">
                        <!-- section -->
                        <section id="sec1">
                            <div class="container">
                                <div class="section-title">
                                    <h2>Modern Car Repair  Centre </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p>
                                </div>
                            </div>
                            <div class="gallery-fw_wrap fl-wrap dark-bg">
                                <div class="center-carousel-wrap fl-wrap">
                                    <div class="center-carousel fl-wrap">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper lightgallery">
                                                <!--swiper-slide  --> 
                                                <div class="swiper-slide hov_zoom">
                                                    <div class="center-carousel_item" data-imagedetails="Pri choro pertinax indoctum ne, ad partiendo persecuti forensibus est.">
                                                        <img src="images/folio/1.jpg" alt="">
                                                        <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <!--swiper-slide end --> 
                                                <!--swiper-slide --> 
                                                <div class="swiper-slide hov_zoom">
                                                    <div class="center-carousel_item" data-imagedetails="Eu ius postulant salutatus definitionem.">
                                                        <img src="images/folio/1.jpg" alt="">
                                                        <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <!--swiper-slide end --> 
                                                <!--swiper-slide   --> 
                                                <div class="swiper-slide hov_zoom">
                                                    <div class="center-carousel_item" data-imagedetails="Pri choro pertinax indoctum ne, ad partiendo persecuti forensibus est">
                                                        <img src="images/folio/1.jpg" alt="">
                                                        <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <!--swiper-slide end --> 
                                                <!--swiper-slide   --> 
                                                <div class="swiper-slide hov_zoom">
                                                    <div class="center-carousel_item" data-imagedetails="Pri Eu ius postulant salutatus definitionem.">
                                                        <img src="images/folio/1.jpg" alt="">
                                                        <a href="images/folio/1.jpg" class="box-media-zoom   popup-image"><i class="fal fa-search"></i></a>
                                                    </div>
                                                </div>
                                                <!--swiper-slide end --> 														 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cen-slider-pagination_wrap">
                                        <div class="cen-slider-pagination"></div>
                                    </div>
                                    <div class="img_details">
                                        <span class="img_details_title"><span>Image datails</span></span>
                                    </div>
                                    <div class="swiper-counter hs_counter hc2">
                                        <div class="current">01</div>
                                        <div class="total"></div>
                                    </div>
                                    <div class="fsc ccsw-next color-bg"><i class="fal fa-angle-right"></i></div>
                                    <div class="fsc ccsw-prev color-bg"><i class="fal fa-angle-left"></i></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="container">
                                <div class="pr_details">
                                    <div class="pr_details_item">
                                        <div class="pr-subtitle"> Project Info</div>
                                        <p>Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. Integer iaculis tellus nulla, quis imperdiet magna venenatis vitae. Ut nec hinc dolor possim. An eros argumentum vel, elit diceret duo eu, quo et aliquid ornatus delicatissimi.  Pri choro pertinax indoctum ne, ad partiendo persecuti forensibus est.</p>
                                        <p>Cu nam tale ferri utroque, eu habemus albucius mel, cu vidit possit ornatus eum. Eu ius postulant salutatus definitionem, explicari. Graeci viderer qui ut, at habeo facer solet usu. Pri choro pertinax indoctum ne, ad partiendo persecuti forensibus est. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.</p>
                                        <div class="pr-subtitle"> The Brief</div>
                                        <!-- accordion-->                            
                                        <div class="accordion mar-top">
                                            <a class="toggle act-accordion" href="#">Concept for Project <span></span></a>
                                            <div class="accordion-inner visible">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                            </div>
                                            <a class="toggle" href="#"> Suport and Development<span></span></a>
                                            <div class="accordion-inner">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
                                            </div>
                                        </div>
                                        <!-- accordion end --> 													
                                        <a href="#" class="btn   color-bg  fl-btn det-anim" target="_blank"><span>View Project</span></a> 
                                    </div>
                                    <div class="pr_details_item">
                                        <!-- project-details-->                            
                                        <div class="project-details    init-fix-column">
                                            <ul>
                                                <li><span>01. Date :</span> 26.05.2019 </li>
                                                <li><span>02. Client :</span> Envato</li>
                                                <li><span>03. Category : </span>Design</li>
                                                <li><span>04. Online : </span>  <a href="#" target="_blank">themeforest.net </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- project-details end -->   
                                </div>
                                <div class="limit-box fl-wrap"></div>
                            </div>
                            <div class="dec_cirlce" style="left: -120px; bottom: 350px"><span></span></div>
                            <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                            <div class="sec-lines"></div>
                            <div class="section-number"> <span>0</span>1. </div>
                        </section>
                        <!-- section end -->
                    </div>
                    <!--content-nav_holder-->            
                    <div class="content-nav_holder">
                        <div class="content-nav">
                            <ul>
                                <li>
                                    <a href="portfolio-single.html" class="ln"><i class="fal fa-long-arrow-left"></i><span>Prev -<strong> Forever Young</strong></span></a>
                                    <div class="content-nav-media">
                                        <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                    </div>
                                </li>
                                <li>
                                    <a href="portfolio-single.html" class="rn"><span >Next -<strong>  My Blooming Backyard</strong></span> <i class="fal fa-long-arrow-right"></i></a>
                                    <div class="content-nav-media">
                                        <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                    </div>
                                </li>
                            </ul>
                            <a href="portfolio.html" class="cn_all"><span class="pr_btn_dots"></span></a>
                        </div>
                    </div>
                    <!--content-nav_holder end -->							
                </div>
                <!-- column-contaent end -->
                <!-- footer -->
                <div class="height-emulator fl-wrap"></div>
                <footer class="main-footer">
                    <div class="footer-inner fl-wrap">
                        <div class="policy-box">
                            <span>&#169; Cyberbook 2023 . All rights reserved. </span>
                        </div>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#" target="_blank">Facebook</a></li>
                                <li><a href="#" target="_blank">Instagram</a></li>
                                <li><a href="#" target="_blank">Twitter</a></li>
                                <li><a href="#" target="_blank">Tiktok</a></li>
                                <li><a href="#" target="_blank">Behance</a></li>
                            </ul>
                        </div>
                        <div class="to-top-btn color-bg to-top"><i class="fal fa-long-arrow-up"></i></div>
                        <div class="footer-dec color-bg"></div>
                    </div>
                </footer>
                <!-- footer end -->
            </div>
            <!-- wrapper end -->
            <!-- share-wrapper-->
            <div class="share-wrapper fs-wrapper isShare">
                <div class="share-overlay cl_sh fs-wrapper"></div>
                <div class="share-container fl-wrap  isShare">
                    <div class="share-text">
                        <svg viewBox="0 0 100 100" width="100" height="100">
                            <defs>
                                <path id="circle"
                                    d="
                                    M 50, 50
                                    m -37, 0
                                    a 37,37 0 1,1 74,0
                                    a 37,37 0 1,1 -74,0"/>
                            </defs>
                            <text font-size="17">
                                <textpath xlink:href="#circle">
                                    Share This Page  
                                </textpath>
                            </text>
                        </svg>
                    </div>
                    <div class="close-share-btn cl_sh"><i class="fal fa-times"></i></div>
                </div>
            </div>
            <!-- share-wrapper  end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->			
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>