<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Cyberbook - Creative Agency and Portfolio Template</title>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/shop-style.css">
        <link type="text/css" rel="stylesheet" href="css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="main-loader-wrap">
            <div class="loading-spinner"><img src="images/logo_bg.png" alt=""></div>
        </div>
        <!--loader end-->
        <!--  main start  -->
        <div id="main">
            <!--  header main-header  -->
            <header class="main-header">
                <!--logo-->
                <a href="index.html" class="logo-holder color-bg"><img src="images/logo.png" alt=""></a>
                <!--logo end-->
                <!--  hero-wrap-social  -->
                <div class="social-container">
                    <span class="social-container_title">Find: </span>
                    <a href="#" target="_blank">Fb</a> 
                    <a href="#" target="_blank">Ins</a> 
                    <a href="#" target="_blank">Tw</a> 
                    <a href="#" target="_blank">Tic</a> 
                    <a href="#" target="_blank">Be</a> 
                </div>
                <!--  hero-wrap-social end  -->					
                <div class="share_btn show_share"><strong>Share</strong> <span class="share_btn-icon"></span></div>
                <!-- nav-button-wrap-->
                <div class="nav-button-wrap">
                    <div class="menu-button-text">Menu</div>
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <a href="portfolio.html" class="pr_btn"><span class="pr_btn_dots"></span><strong>Projects</strong> <i class="fal fa-angle-right"></i></a>	
            </header>
            <!-- Header   end-->
            <!--navigation-->
            <div class="nav-holder isvis_menu">
                <div class="nav-overlay fs-wrapper"></div>
                <div class="nav-container">
                    <div class="nav-title hid_vismen"> me<br>nu <span>.</span>  </div>
                    <div class="hsd_dec2 hdec_d hid_vismen"></div>
                    <div class="nav-wrap hid_vismen">
                        <!-- nav -->
                        <nav class="nav-inner" id="menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="index.html">Slider</a></li>
                                        <li><a href="index2.html">Carousel</a></li>
                                        <li><a href="index3.html">Video</a></li>
                                        <li><a href="index4.html">Slideshow</a></li>
                                        <li><a href="index5.html">MultiSlideshow</a></li>
                                        <li><a href="index6.html">Image</a></li>
                                        <li><a href="coming-soon.html" target="_blank">Coming Soon</a></li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li>
                                    <a href="#">Portfolio</a>
                                    <!--level 2 -->
                                    <ul>
                                        <li><a href="portfolio.html">Creative Grid</a></li>
                                        <li><a href="portfolio2.html">Column Grid</a></li>
                                        <li><a href="portfolio3.html">Fullscreen Grid </a></li>
                                        <li><a href="portfolio4.html">List</a></li>
                                        <li>
                                            <a href="#">Single</a>
                                            <!--level 3 -->
                                            <ul>
                                                <li><a href="portfolio-single.html">Style 1</a></li>
                                                <li><a href="portfolio-single2.html">Style 2</a></li>
                                                <li><a href="portfolio-single3.html">Style 3</a></li>
                                                <li><a href="portfolio-single4.html">Style 4</a></li>
                                            </ul>
                                            <!--level 3 end -->
                                        </li>
                                    </ul>
                                    <!--level 2 end -->
                                </li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li>
                                    <a href="#" class="act-link">Shop</a>
                                    <!--level 3 -->
                                    <ul>
                                        <li><a href="shop.html">Products</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                    </ul>
                                    <!--level 3 end -->
                                </li>
                            </ul>
                        </nav>
                        <!-- nav end-->
                    </div>
                    <div class="nav_arrow hid_vismen"><span></span></div>
                </div>
            </div>
            <!--navigation end-->
            <!-- wrapper -->
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder">
                    <!-- fixed-column-image -->
                    <div class="fixed-column-image-wrap">
                        <div class="fixed-column-image fs-wrapper">
                            <div class="bg hor_scroll"  data-bg="images/bg/2.jpg"></div>
                            <div class="overlay"></div>
                            <div class="overlay-dec"></div>
                        </div>
                        <footer class="column-footer">
                            <div class="column-footer_arrow-dec_wrap color-bg">
                                <div class="arrow_dec_wrap">
                                    <div class="arrow_dec"></div>
                                </div>
                            </div>
                            <div class="column-footer_head">Scroll  Down</div>
                            <div class="column-footer_content fl-wrap">
                                <div class="column-footer_title"><span>Our  News</span></div>
                            </div>
                            <div class="dir-arrow"></div>
                        </footer>
                        <div class="fci_progress-bar-wrap fci_progress-bar-wrap2 dark-bg">
                            <div class="mousey-wrap">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                            </div>
                            <div class="ver_progress-bar_wrap">
                                <div class="ver_progress-bar color-bg"></div>
                            </div>
                            <div class="pbw_animicon">
                                <i class="fas fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="hero-arrows_dec"></div>
                    </div>
                    <!-- fixed-column-image end -->				
                    <a href="cart.html" class="cart_btn color-bg"><i class="fal fa-shopping-bag"></i><span class="show-cart_count">3</span><span class="cart-tooltip">Your Cart</span></a>
                    <!-- column-wrap -->
                    <div class="column-wrap">
                        <div class="content fl-wrap full-height">
                            <!-- section -->
                            <section id="sec1">
                                <div class="container">
                                    <div class="section-title hid-sec_t">
                                        <h2>Our Shop</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.  </p>
                                    </div>
                                    <!--shop-opt -->
                                    <div class="shop-opt">
                                        <div class="shop-opt_btn hid-sfilter">Shop Filters <i class="fal fa-times"></i></div>
                                        <h3>Sorty by:</h3>
                                        <div class="steader_opt">
                                            <select name="filter" id="list" data-placeholder="Popularity" class="style-select no-search-select">
                                                <option>Popularity</option>
                                                <option>Average rating</option>
                                                <option>Price: low to high</option>
                                                <option>Price: high to low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--shop-opt end -->
                                    <!--shop-filters    -->
                                    <div class="shop-filters_wrap">
                                        <div class="shop-filters color-bg fl-wrap">
                                            <div class="arrow_dec_wrap">
                                                <div class="arrow_dec"></div>
                                            </div>
                                            <div class="fl-wrap">
                                                <!--filter-widget   -->
                                                <div class="filter-widget fl-wrap">
                                                    <form action="#">
                                                        <input name="se" id="se12" type="text" class="search" placeholder="Search..." value="">
                                                        <button class="search-submit2" id="submit_btn12"><i class="far fa-search"></i> </button>
                                                    </form>
                                                </div>
                                                <!--filter-widget end    -->		
                                                <!--filter-widget   -->
                                                <div class="filter-widget fl-wrap">
                                                    <div class="price-rage fl-wrap">
                                                        <div class="price-rage_title">Price Filter</div>
                                                        <div class="price-rage-wrap shop-rage-wrap chose-input">
                                                            <a href="#" class="srw_btn">Update</a>
                                                            <div class="price-rage-item fl-wrap">
                                                                <input type="text" class="shop-price" data-min="0" data-max="1000" name="shop-price" data-step="10" value="$$">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--filter-widget end    -->	                                               
                                                <!--filter-widget   -->
                                                <div class="filter-widget fl-wrap">
                                                    <div class="filter-widget_item cat_filter-widget fl-wrap">
                                                        <span class="filter-widget__title">Categories:</span>
                                                        <ul>
                                                            <li><a href="#">Merch</a></li>
                                                            <li><a href="#">Photography</a></li>
                                                            <li><a href="#">Comercial</a></li>
                                                            <li><a href="#">Travel</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="filter-widget_item tag_filter-widget fl-wrap">
                                                        <span class="filter-widget__title">Shop Tags:</span>
                                                        <ul>
                                                            <li><a href="#">Blog</a></li>
                                                            <li><a href="#">Travel</a></li>
                                                            <li><a href="#">Portfolio</a></li>
                                                            <li><a href="#">Video</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <!--filter-widget end    -->  
                                            </div>
                                        </div>
                                    </div>
                                    <!-- shop-filters end  --> 		
                                    <div class="post-items fl-wrap">
                                        <!-- post-item-->
                                        <div class="post-item">
                                            <div class="shop-item_wrap fl-wrap">
                                                <div class="shop-item_media fl-wrap">
                                                    <a href="shop-single.html">
                                                    <img src="images/shop/1.jpg" alt="">
                                                    <span class="shop-item_media_title color-bg">View Details</span>
                                                    </a>
                                                </div>
                                                <div class="shop-item_content fl-wrap">
                                                    <h3><a href="shop-single.html">Heavy Weight Hoodie</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                                    <div class="shop-item_content_opt fl-wrap">
                                                        <span class="grid-item_price_item">Price: <strong>$321</strong></span>
                                                        <div class="add_cart">  <span>Add To Cart</span> <i class="fal fa-plus"></i></div>
                                                    </div>
                                                </div>
                                                <a href="shop-single.html" class="single-btn fl-wrap"><span>View Details</span></a>
                                            </div>
                                        </div>
                                        <!-- post-item end-->
                                        <!-- post-item-->
                                        <div class="post-item">
                                            <div class="shop-item_wrap fl-wrap">
                                                <div class="shop-item_media fl-wrap">
                                                    <a href="shop-single.html">
                                                    <img src="images/shop/1.jpg" alt="">
                                                    <span class="shop-item_media_title color-bg">View Details</span>
                                                    </a>
                                                </div>
                                                <div class="shop-item_content fl-wrap">
                                                    <h3><a href="shop-single.html">Awesome Merch Wallet</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                                    <div class="shop-item_content_opt fl-wrap">
                                                        <span class="grid-item_price_item">Price: <strong>$112</strong></span>
                                                        <div class="add_cart">  <span>Add To Cart</span> <i class="fal fa-plus"></i></div>
                                                    </div>
                                                </div>
                                                <a href="shop-single.html" class="single-btn fl-wrap"><span>View Details</span></a>
                                            </div>
                                        </div>
                                        <!-- post-item end-->									
                                        <!-- post-item-->
                                        <div class="post-item">
                                            <div class="shop-item_wrap fl-wrap">
                                                <div class="shop-item_media fl-wrap">
                                                    <a href="shop-single.html">
                                                    <img src="images/shop/1.jpg" alt="">
                                                    <span class="shop-item_media_title color-bg">View Details</span>
                                                    </a>
                                                </div>
                                                <div class="shop-item_content fl-wrap">
                                                    <h3><a href="shop-single.html">Awesome Modern Paper </a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                                    <div class="shop-item_content_opt fl-wrap">
                                                        <span class="grid-item_price_item">Price: <strong>$15</strong></span>
                                                        <div class="add_cart">  <span>Add To Cart</span> <i class="fal fa-plus"></i></div>
                                                    </div>
                                                </div>
                                                <a href="shop-single.html" class="single-btn fl-wrap"><span>View Details</span></a>
                                            </div>
                                        </div>
                                        <!-- post-item end-->
                                        <!-- post-item-->
                                        <div class="post-item">
                                            <div class="shop-item_wrap fl-wrap">
                                                <div class="shop-item_media fl-wrap">
                                                    <a href="shop-single.html">
                                                    <img src="images/shop/1.jpg" alt="">
                                                    <span class="shop-item_media_title color-bg">View Details</span>
                                                    </a>
                                                </div>
                                                <div class="shop-item_content fl-wrap">
                                                    <h3><a href="shop-single.html"> Merch Paper Bag</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                                    <div class="shop-item_content_opt fl-wrap">
                                                        <span class="grid-item_price_item">Price: <strong>$232</strong></span>
                                                        <div class="add_cart">  <span>Add To Cart</span> <i class="fal fa-plus"></i></div>
                                                    </div>
                                                </div>
                                                <a href="shop-single.html" class="single-btn fl-wrap"><span>View Details</span></a>
                                            </div>
                                        </div>
                                        <!-- post-item end-->									 
                                        <!-- post-item-->
                                        <div class="post-item">
                                            <div class="shop-item_wrap fl-wrap">
                                                <div class="shop-item_media fl-wrap">
                                                    <a href="shop-single.html">
                                                    <img src="images/shop/1.jpg" alt="">
                                                    <span class="shop-item_media_title color-bg">View Details</span>
                                                    </a>
                                                </div>
                                                <div class="shop-item_content fl-wrap">
                                                    <h3><a href="shop-single.html">Awesome Merch Wallet</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                                    <div class="shop-item_content_opt fl-wrap">
                                                        <span class="grid-item_price_item">Price: <strong>$112</strong></span>
                                                        <div class="add_cart">  <span>Add To Cart</span> <i class="fal fa-plus"></i></div>
                                                    </div>
                                                </div>
                                                <a href="shop-single.html" class="single-btn fl-wrap"><span>View Details</span></a>
                                            </div>
                                        </div>
                                        <!-- post-item end-->
                                        <!-- post-item-->
                                        <div class="post-item">
                                            <div class="shop-item_wrap fl-wrap">
                                                <div class="shop-item_media fl-wrap">
                                                    <a href="shop-single.html">
                                                    <img src="images/shop/1.jpg" alt="">
                                                    <span class="shop-item_media_title color-bg">View Details</span>
                                                    </a>
                                                </div>
                                                <div class="shop-item_content fl-wrap">
                                                    <h3><a href="shop-single.html">T-shirt on Hanger</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</p>
                                                    <div class="shop-item_content_opt fl-wrap">
                                                        <span class="grid-item_price_item">Price: <strong>$54</strong></span>
                                                        <div class="add_cart">  <span>Add To Cart</span> <i class="fal fa-plus"></i></div>
                                                    </div>
                                                </div>
                                                <a href="shop-single.html" class="single-btn fl-wrap"><span>View Details</span></a>
                                            </div>
                                        </div>
                                        <!-- post-item end-->									 
                                    </div>
                                    <!--pagination-->   
                                    <div class="pagination">
                                        <div class="pr-bg pr-bg-white"></div>
                                        <a href="#" class="prevposts-link"><i class="fas fa-caret-left"></i></a>
                                        <a href="#">01.</a>
                                        <a href="#" class="current-page">02.</a>
                                        <a href="#">03.</a>
                                        <a href="#">04.</a>
                                        <a href="#" class="nextposts-link"><i class="fas fa-caret-right"></i></a>
                                    </div>
                                    <!--pagination end-->
                                </div>
                                <div class="dec_cirlce" style="left: -120px; bottom: 350px"><span></span></div>
                                <div class="dec_cirlce" style="right: -120px; top: 350px"><span></span></div>
                                <div class="sec-lines"></div>
                                <div class="section-number"> <span>0</span>1. </div>
                            </section>
                            <!-- section end -->
                        </div>
                    </div>
                    <!-- column-contaent end -->
                    <!-- footer -->
                    <div class="height-emulator fl-wrap"></div>
                    <footer class="main-footer">
                        <div class="footer-inner fl-wrap">
                            <div class="policy-box">
                                <span>&#169; Cyberbook 2023 . All rights reserved. </span>
                            </div>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#" target="_blank">Facebook</a></li>
                                    <li><a href="#" target="_blank">Instagram</a></li>
                                    <li><a href="#" target="_blank">Twitter</a></li>
                                    <li><a href="#" target="_blank">Tiktok</a></li>
                                    <li><a href="#" target="_blank">Behance</a></li>
                                </ul>
                            </div>
                            <div class="to-top-btn color-bg to-top"><i class="fal fa-long-arrow-up"></i></div>
                            <div class="footer-dec color-bg"></div>
                        </div>
                    </footer>
                    <!-- footer end -->
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
            <!-- share-wrapper-->
            <div class="share-wrapper fs-wrapper isShare">
                <div class="share-overlay cl_sh fs-wrapper"></div>
                <div class="share-container fl-wrap  isShare">
                    <div class="share-text">
                        <svg viewBox="0 0 100 100" width="100" height="100">
                            <defs>
                                <path id="circle"
                                    d="
                                    M 50, 50
                                    m -37, 0
                                    a 37,37 0 1,1 74,0
                                    a 37,37 0 1,1 -74,0"/>
                            </defs>
                            <text font-size="17">
                                <textpath xlink:href="#circle">
                                    Share This Page  
                                </textpath>
                            </text>
                        </svg>
                    </div>
                    <div class="close-share-btn cl_sh"><i class="fal fa-times"></i></div>
                </div>
            </div>
            <!-- share-wrapper  end -->
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->			
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
        <script  src="js/shop-js.js"></script>
    </body>
</html>