#belcms_mails {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	padding: 25px 20px;
	background: #f9f9f9;
	border: 1px solid rgb(238, 238, 238);
}
#belcms_mails > div {
	border-right: 1px solid rgb(238, 238, 238);
}
#belcms_mails > div:last-child {
	border-right: 0;
}
ul#belcms_mail_menu {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	text-align: center;
}
ul#belcms_mail_menu li {
	display: block;
	margin: auto;
}
ul#belcms_mail_menu li a {
	border-radius: 4px;
	background-color: #f8f9fa;
}
ul#belcms_mail_menu li.active a {
	background-color: #686569;
	color: #FFF;
}
#belcms_mails_title {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid rgb(238, 238, 238);
}
#belcms_mails_list {
	display: block;
	width: 100%;
	list-style: none;
	margin: 0;
	text-align: left;
	position: relative;
}
#belcms_mails_list > li {
	display: block;
	height: 50px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(238, 238, 238);
	position: relative;
}
#belcms_mails_list > li:last-child {
	border-bottom: 0;
}
#belcms_mails_list li div {
	display: block;
	float: left;
	width: calc(100% - 40px);
	padding-bottom: 2px;
}
#belcms_mails_list_screen {
	width: 40px !important;
}
#belcms_mails_list li div > span {
	display: block;
	line-height: 18px;
	height: 18px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 90%;
}
#belcms_mails_list li div > span a {
	font-weight: bold;
}
#belcms_mails_list li div > a {
	position: absolute;
	right: 0;
	top: 0;
	background: red;
	width: 1.25em;
	text-align: center;
	color: #FFF;
	border-radius: 37%;
	text-decoration: none;
	font-size: 80%;
}
#belcms_mails_list li div > a i {
	position: relative;
}
#belcms_mails_list li div img {
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 4px;
	border: 1px solid rgb(238, 238, 238);
}
#belcms_section form {
	width: 100%;
}
#belcms_mails_new {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	padding: 25px 20px;
	background: #f9f9f9;
	border: 1px solid rgb(238, 238, 238);
	overflow: hidden;
}
#belcms_mails_new > div {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	line-height: 30px;
	height: 30px;
	text-align: left !important;
}
#belcms_mails_new > div > div {
	float: left !important;
}
#belcms_mails_new_submit {
	display: block;
	width: auto;
	padding: 8px 12px;
}
#belcms_mails_list_read {
	padding: 15px;
}
.belcms_mails_list_read {
	background-color: rgba(242,242,242,1);
	display: block;
	width: 100%;
	margin-bottom: 15px;
	text-align: justify;
	border-bottom: 1px solid rgb(238, 238, 238);
	padding: 10px;
}
.belcms_mails_list_read:last-child {
	margin-bottom: 0;
}
.belcms_mails_list_read_infos ul {
	display: block;
	list-style: none;
	overflow: hidden;
}
.belcms_mails_list_read_infos ul li {
	display: block;
	float: left;
	padding: 0 10px;
}
.belcms_mails_list_read_infos ul li:last-child {
	float: right;
}
.belcms_mails_list_read_infos ul li::after {
	clear: both;
	margin-bottom: 5px;
}
.belcms_mails_list_read_msg {
	margin: 5px auto;
	background-color: #f9f9f9;
	color: black;
	text-align: justify;
	padding: 5px;
}
#belcms_mails_list_archive,
#belcms_mails_list_reply {
	background-color: #656266;
	color: #FFF;
	display: block;
	max-width: 110px;
	text-align: left;
	padding: 5px 15px;
	margin-left: 25px;
	float: left;
}
#belcms_mails_list_archive {
	float: right;
	margin-left: 0;
	margin-right: 25px;
}