#belcms_section_mails {
    display: flex;
    text-align: left;
}
#mails_notif {
	margin: 20px;
}
section#belcms_section_mails nav {
	display: block;
	background-color: #fff;
	width: 350px;
	float: left;
}
section#belcms_section_mails nav ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
section#belcms_section_mails nav ul li {
	display: block;
	height: 65px;
	border-radius: 8px;
	margin-bottom: 5px;
	position: relative;
	transition: all linear 350ms;
}
section#belcms_section_mails nav ul li:first-child {
	background-color: #7367f0;
}
section#belcms_section_mails nav ul li:first-child a {
    color: #FFF;
}
section#belcms_section_mails nav ul li:hover:first-child a {
    color: rgba(0, 0, 0, 1);
}
section#belcms_section_mails nav ul li:hover {
	background-color: rgba(0, 0, 0, 0.08);
}
section#belcms_section_mails nav ul li:last-child {
	background-color: rgba(229, 20, 20, 0.65);
	color: rgba(242, 242, 242, 0.9);
}
section#belcms_section_mails nav ul li:last-child > div {
	background-color: black;
}
section#belcms_section_mails nav ul li img {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	margin: 8px;
	border-radius: 8px;
}
section#belcms_section_mails nav ul li a,
section#belcms_section_mails nav ul li span {
	display: block;
	float: left;
	line-height: 65px;
	margin-left: 15px;
	font-weight: bold;
}
section#belcms_section_mails nav ul li a {
	display: block;
	padding: 0 25px;
	height: 65px;
	line-height: 65px;
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	border: 1px solid #eee;
	border-radius: 10px;
	font-size: .9em;
	transition: all .2s ease-in-out;
	width: 100%;
	margin: 0;
}
section#belcms_section_mails nav ul li i {
	display: block;
	float: right;
	line-height: 65px;
	margin-right: 15px;
	font-size: 20px;
	border: 1px soldi;
}
section#belcms_section_mails nav ul li div {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 15px;
	top: 8px;
	background-color: #f9f9f9;
	border-radius: 8px;
}
section#belcms_section_mails nav ul li div svg {
	display: block;
	margin: auto;
	top: 8px;
	font-size: 20px;
	line-height: 65px;
	margin-top: 15px;
}
/* end menu */
#belcms_section_list_mails {
    display: block;
    float: left;
    width: calc(100% - 350px);
    position: relative;
    padding: 30px 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    margin-left: 20px;
}
#belcms_section_list_mails > ul {
	display: flex;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 10px 30px;
}
#belcms_section_list_mails > ul li {
	display: block;
	margin-left: 15px;
	background-color: #f2f2f3;
}
#belcms_section_list_mails > ul li:first-child {
	margin-left: 0;
}
#belcms_section_list_mails > ul li svg {
	font-size: 16px;
}
#belcms_section_list_mails [type="checkbox"] {
	height: 16px;
	width: 16px;
	cursor: pointer;
}
#checkbox_all_mails:checked[type="checkbox"] {
	box-shadow: 0 2px 6px 0 rgba(0,0,0, .6);
}
.belcms_section_listing_mails {
	display: flex;
	width: 100%;
	height: 70px;
	padding: 0 30px;
	transition: all 350ms ease-in-out;
	position: relative;
	border-bottom: 1px solid #b08787;
	background-color: #f5f5f8;
}
.belcms_section_listing_mails:hover,
.belcms_section_listing_mails.new {
	background-color: #e1dfe1;
}
.belcms_section_listing_mails > * {
	line-height: 70px;
}
.belcms_section_listing_mails > span img {
	display: block;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0, .6);
	line-height: 70px;
	margin: 17px 15px;
}
.belcms_section_listing_mails:hover {
	box-shadow: 0 .125rem .5rem 0 #eee;
	border-bottom-color: rgba(0,0,0,1);
}
.belcms_section_listing_mails span:last-child {
	position: absolute;
	right: 15px;
	line-height: 70px;
}
/* New */
#belcms_section_new_mails {
	display: block;
	float: left;
	width: calc(100% - 350px);
	position: relative;
	padding: 30px 0;
	background: #fff;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-left: 20px;
	padding: 20px;
}
#belcms_section_new_mails > div {
	display: block;
	margin-bottom: 15px;
}
#belcms_section_new_mails > div label {
	display: block;
	line-height: 22px;
	margin-left: 20px;
}
#uploads_new {
	display: block;
	width: 100% !important;
}
