@import "/assets/plugins/tooltip/scale.css";
*, ::after, ::before { box-sizing: border-box; }
p, span { text-align: justify; }
/*-------------------------------------------------------------------------------------------------*/
/*	Custom couleur, de la balise code ou pre
---------------------------------------------------------------------------------------------------*/
pre, code {
	color: #333; border-radius: 3px; background: #ccc;
	border-left: 8px solid #1ABC9C; padding: 14px 20px;
	margin: 5px 0 20px 0; overflow: auto; font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left !important;
}
@media print {
	pre, code {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}
}
/*-------------------------------------------------------------------------------------------------*/
/*	class des <a> ou <button>
---------------------------------------------------------------------------------------------------*/
.belcms_btn {
	display: inline-block;
	font-weight: normal;
	cursor: pointer;
	font-size: 13px;
	padding: 8px 12px;
}
[data-tooltip] {
	cursor: pointer;
}
/*-------------------------------------------------------------------------------------------------*/
/*	background 
---------------------------------------------------------------------------------------------------*/
.belcms_bg_white {
	background-color: #FFF !important;
	color: #000 !important;
}
.belcms_bg_black {
	background-color: #000 !important;
	color: #FFF !important;
}
.belcms_bg_blue {
	background-color: #0D6EFD !important;
	color: #FFF !important;
}
.belcms_bg_red {
	background-color: #E9363F !important;
	color: #FFF !important;
}
.belcms_bg_green {
	background-color: #90FA44 !important;
	color: #FFF !important;
}
.belcms_bg_yellow {
	background-color: #F4F702 !important;
	color: #FFF !important;
}
.belcms_bg_grey {
	background-color: #686569 !important;
	color: #FFF !important;
}
.belcms_bg_grey_w {
	background-color: #E4E5E7 !important;
	color: #FFF !important;
}
.tippy-content {
	display: block;
	width: 100%;
	word-wrap: normal;
	overflow: hidden;
	max-width: 175px;
}
/*-------------------------------------------------------------------------------------------------*/
/*	margin et padding
---------------------------------------------------------------------------------------------------*/
.belcms_pb_3 { padding-bottom: 3px; }
.belcms_pb_5 { padding-bottom: 5px; }
.belcms_pt_3 { padding-top: 3px; }
.belcms_pt_5 { padding-top: 5px; }
.belcms_pl_5 { padding-left: 5px; }
.belcms_pr_5 { padding-right: 5px; }
.belcms_pb_10 { padding-bottom: 10px; }
.belcms_pt_10 { padding-top: 10px; }
.belcms_pl_10 { padding-left: 10px; }
.belcms_pr_10 { padding-right: 10px;}
.belcms_pb_3 { padding: 3px; }
.belcms_pb_5 { padding: 5px; }
.belcms_pb_10 { padding: 10px; }
.belcms_pb_15 { padding: 15px; }
.belcms_mb_3 { margin-bottom: 3px; }
.belcms_mb_5 { margin-bottom: 5px; }
.belcms_mt_3 { margin-top: 3px; }
.belcms_mt_5 { margin-top: 5px; }
.belcms_ml_5 { margin-left: 5px; }
.belcms_mr_5 { margin-right: 5px; }
.belcms_mb_10 { margin-bottom: 10px; }
.belcms_mt_10 { margin-top: 10px; }


/*-------------------------------------------------------------------------------------------------*/
/*	section, toute les pages du C.M.S, commence avec une section
---------------------------------------------------------------------------------------------------*/
section { width: 100%; overflow: hidden; display: block; }
/*-------------------------------------------------------------------------------------------------*/
/*	Pages 
---------------------------------------------------------------------------------------------------*/
.bel-cms-pages_title {
	display: block;
	width: 100%;
	padding: 0 15px;
	line-height: 40px;
	margin: 0;
	margin-bottom: 15px;
	font-weight: bold;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Pages - Table
---------------------------------------------------------------------------------------------------*/
.bel_cms_table {
	display: block;
}
.bel_cms_table_row_title {
	display: flex;
	background-color: rgba(0, 0, 0, 0.60);
	color: rgba(242, 242, 242, .8);
	font-weight: bold;
}
.bel_cms_table_row_title_col {
	flex: 1;
	text-align: center;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Créé un block en dessous avec aucune marge ou padding sert juste à forcer en dessous.
---------------------------------------------------------------------------------------------------*/
.align_left {
	text-align: left;
	float: left;
}
.align_right {
	text-align: right;
	float: right;
}
.align_center {
	text-align: center;
}
.belcms_h3_input_lf {
	text-align: left !important;
	margin-bottom: 5px;
}
.belcms_h3_input_rt {
	text-align: right !important;
	margin-bottom: 5px;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Créé un block en dessous avec aucune marge ou padding sert juste à forcer en dessous.
---------------------------------------------------------------------------------------------------*/
.clear { clear: both; margin: 0; padding: 0; }
/*-------------------------------------------------------------------------------------------------*/
/*	Grid >> 12 Columns - inline & position relative pour la position absolute;
---------------------------------------------------------------------------------------------------*/
.belcms_grid_1, .belcms_grid_2, .belcms_grid_3, .belcms_grid_4, .belcms_grid_5, .belcms_grid_6, .belcms_grid_7, .belcms_grid_8, .belcms_grid_9, .belcms_grid_10, .belcms_grid_11, .belcms_grid_12 {
	position: relative;
	display: -ms-flexbox;
	display: inline flow-root;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	vertical-align: top;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Grid >> 12 Columns.
---------------------------------------------------------------------------------------------------*/
.belcms_grid_1 { width:6.333%; }
.belcms_grid_2 { width:14.667%; }
.belcms_grid_3 { width:23.0%; }
.belcms_grid_4 { width:31.333%; }
.belcms_grid_5 { width:39.667%; }
.belcms_grid_6 { width:48.0%; }
.belcms_grid_7 { width:56.333%; }
.belcms_grid_8 { width:64.667%; }
.belcms_grid_9 { width:73.0%; }
.belcms_grid_10 { width:81.333%; }
.belcms_grid_11 { width:89.667%; }
.belcms_grid_12 { width:98.0%; }
.belcms_grid_12:after {
	content: "";
	clear: both;
}
.belcms_grid_full {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	margin: 0 auto;
}
.belcms_row {
	display: -ms-flexbox;
	display: flex;
	width: 1060px;
	margin: 0 auto;
	padding: 0 40px;
	position: relative;
}
@media screen and (max-width: 360px) and (min-width: 320px)  {
	.belcms_grid_1 { width:98.0%; margin: 0 1%; }
	.belcms_grid_2 { width:98.0%; margin: 0 1%; }
	.belcms_grid_3 { width:98.0%; margin: 0 1%; }
	.belcms_grid_4 { width:98.0%; margin: 0 1%; }
	.belcms_grid_5 { width:98.0%; margin: 0 1%; }
	.belcms_grid_6 { width:98.0%; margin: 0 1%; }
	.belcms_grid_7 { width:98.0%; margin: 0 1%; }
	.belcms_grid_8 { width:98.0%; margin: 0 1%; }
	.belcms_grid_9 { width:98.0%; margin: 0 1%; }
	.belcms_grid_10 { width:98.0%; margin: 0 1%; }
	.belcms_grid_11 { width:98.0%; margin: 0 1%; }
	.belcms_grid_12 { width:98.0%; margin: 0 1%; }
}
@media screen and (max-width: 520px) and (min-width: 360px) {
	.belcms_grid_1 { width:98.0%; margin: 0 1%; }
	.belcms_grid_2 { width:98.0%; margin: 0 1%; }
	.belcms_grid_3 { width:98.0%; margin: 0 1%; }
	.belcms_grid_4 { width:98.0%; margin: 0 1%; }
	.belcms_grid_5 { width:98.0%; margin: 0 1%; }
	.belcms_grid_6 { width:98.0%; margin: 0 1%; }
	.belcms_grid_7 { width:98.0%; margin: 0 1%; }
	.belcms_grid_8 { width:98.0%; margin: 0 1%; }
	.belcms_grid_9 { width:98.0%; margin: 0 1%; }
	.belcms_grid_10 { width:98.0%; margin: 0 1%; }
	.belcms_grid_11 { width:98.0%; margin: 0 1%; }
	.belcms_grid_12 { width:98.0%; margin: 0 1%; }
}
@media screen and (max-width: 520px) and (min-width: 300px) {
	.belcms_grid_1 { width:98.0%; margin: 0 1%; }
	.belcms_grid_2 { width:98.0%; margin: 0 1%; }
	.belcms_grid_3 { width:98.0%; margin: 0 1%; }
	.belcms_grid_4 { width:98.0%; margin: 0 1%; }
	.belcms_grid_5 { width:98.0%; margin: 0 1%; }
	.belcms_grid_6 { width:98.0%; margin: 0 1%; }
	.belcms_grid_7 { width:98.0%; margin: 0 1%; }
	.belcms_grid_8 { width:98.0%; margin: 0 1%; }
	.belcms_grid_9 { width:98.0%; margin: 0 1%; }
	.belcms_grid_10 { width:98.0%; margin: 0 1%; }
	.belcms_grid_11 { width:98.0%; margin: 0 1%; }
	.belcms_grid_12 { width:98.0%; margin: 0 1%; }
}
@media screen and (max-width: 800px) and (min-width: 520px)  {
	.belcms_grid_1 { width:98.0%; margin: 0 1%; }
	.belcms_grid_2 { width:98.0%; margin: 0 1%; }
	.belcms_grid_3 { width:98.0%; margin: 0 1%; }
	.belcms_grid_4 { width:98.0%; margin: 0 1%; }
	.belcms_grid_5 { width:98.0%; margin: 0 1%; }
	.belcms_grid_6 { width:98.0%; margin: 0 1%; }
	.belcms_grid_7 { width:98.0%; margin: 0 1%; }
	.belcms_grid_8 { width:98.0%; margin: 0 1%; }
	.belcms_grid_9 { width:98.0%; margin: 0 1%; }
	.belcms_grid_10 { width:98.0%; margin: 0 1%; }
	.belcms_grid_11 { width:98.0%; margin: 0 1%; }
	.belcms_grid_12 { width:98.0%; margin: 0 1%; }
}
@media (min-width: 768px) {
    main.belcms_container {
      width: 750px;
    }
}
@media (min-width: 992px) {
    main.belcms_container {
      width: 970px;
    }
}
@media (min-width: 1200px) {
    main.belcms_container {
      width: 1170px;
    }
}

.flex-grid {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 980px) {
	.flex-grid {margin-top: 2rem;}
	.flex-grid:first-child {margin-top: 0;}
	
	.d-col-1 						{width: 7.05%;}
	.d-col-2 						{width: 15.5%;}
	.d-col-3, 
	.d-col-thirds 					{width: 23.95%;}
	.d-col-4, 
	.d-col-quarters 				{width: 32.4%;}
	.d-col-5 						{width: 40.85%;}
	.d-col-6, 
	.d-col-halfs					{width: 49.3%;}
	.d-col-7 						{width: 57.75%;}
	.d-col-8 						{width: 66.2%;}
	.d-col-9 						{width: 74.65%;}
	.d-col-10 						{width: 83.1%;}
	.d-col-11 						{width: 91.55%;}
	.d-col-12, 
	.d-col-full 					{width: 100%;}
}

@media only screen and (min-width: 661px) and (max-width: 979px) {	
	.flex-wrapper {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.flex-grid {flex-flow: row wrap;}
	
	.t-col-4,
	.t-col-6,
	.t-col-12 {margin-top: 2rem}
	
	.t-col-4 		{width: 31.46%	}
	.t-col-6 		{width: 48.6%;}
	.t-col-12 		{width: 100%;}
	
	.flex-grid:first-child .t-col-4,
	.flex-grid:first-child .t-col-6,
	.flex-grid:first-child .t-col-12 {
		 margin-top: 0;
	}
}

@media only screen and (min-width: 0px) and (max-width: 660px) {
	.flex-wrapper {
		padding-left: 3%;
		padding-right: 3%;
	}
	
	.flex-grid {flex-flow: row wrap;}
	
	.m-col-6,
	.m-col-12 {margin-top: 2rem;}
	
	.m-col-6 		{width: 47.2%;}
	.m-col-12 		{width: 100%;}
	
	.flex-grid:first-child .m-col-6,
	.flex-grid:first-child .m-col-12 {
		 margin-top: 0;
	}
}
/* utilisation des grids

<section class="flex-wrapper">
	<div class="flex-grid">
		<div class="d-col-12 t-col-12 m-col-12">
			Col 1
		</div><!-- /.d-col-12 .t-col-12 .m-col-12 -->
	</div><!-- /.flex-grid -->

	
	<div class="flex-grid">
		<div class="d-col-6 t-col-6 m-col-6">
			Col 1
		</div><!-- /.d-col-6 .t-col-6 .m-col-6 -->
		
		<div class="d-col-6 t-col-6 m-col-6">
			Col 2
		</div><!-- /.d-col-6 .t-col-6 .m-col-6 -->
	</div>

	
	<div class="flex-grid">
		<div class="d-col-4 t-col-4 m-col-12">
			Col 1
		</div><!-- /.d-col-4 .t-col-4 .m-col-12 -->
		
		<div class="d-col-4 t-col-4 m-col-12">
			Col 2
		</div><!-- /.d-col-4 .t-col-4 .m-col-12 -->
		
		<div class="d-col-4 t-col-4 m-col-12">
			Col 3
		</div><!-- /.d-col-4 .t-col-4 .m-col-12 -->
	</div><!-- /.flex-grid -->

	
	<div class="flex-grid">
		<div class="d-col-3 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
		
		<div class="d-col-3 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
		
		<div class="d-col-3 t-col-6 m-col-12">
			Col 3
		</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
		
		<div class="d-col-3 t-col-6 m-col-12">
			Col 4
		</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->

	
	<div class="flex-grid">
		<div class="d-col-2 t-col-6 m-col-12">
			Col 1</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
		<div class="d-col-2 t-col-6 m-col-12">
			Col 2</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
		<div class="d-col-2 t-col-6 m-col-12">
			Col 3</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
		<div class="d-col-2 t-col-6 m-col-12">
			Col 4</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
		<div class="d-col-2 t-col-6 m-col-12">
			Col 5</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
		<div class="d-col-2 t-col-6 m-col-12">
			Col 6</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->

	
	<div class="flex-grid">
		<div class="d-col-1 t-col-4 m-col-12">
			Col 1
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 2
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 3
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 4
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 5
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 6
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 7
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 8
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 9
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 10
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 11
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
		
		<div class="d-col-1 t-col-4 m-col-12">
			Col 12
		</div><!-- /.d-col-1 .t-col-4 .m-col-12 -->
	</div><!-- /.flex-grid -->

	<div class="flex-grid">
		<div class="d-col-1 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-1 .t-col-6 .m-col-12 -->
		<div class="d-col-11 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-11 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->

	<div class="flex-grid">
		<div class="d-col-2 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
		
		<div class="d-col-10 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-10 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->
	
	<div class="flex-grid">
		<div class="d-col-3 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
		
		<div class="d-col-9 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-9 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->
	
	<div class="flex-grid">
		<div class="d-col-4 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-4 .t-col-6 .m-col-12 -->
		
		<div class="d-col-8 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-8 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->

	<div class="flex-grid">
		<div class="d-col-5 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-5 .t-col-6 .m-col-12 -->
		
		<div class="d-col-7 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-7 .t-col-6 .m-col-12 -->
	</div>
	
	<div class="flex-grid">
		<div class="d-col-6 t-col-6 m-col-6">
			Col 1
		</div><!-- /.d-col-6 .t-col-6 .m-col-12 -->
		<div class="d-col-6 t-col-6 m-col-6">
			Col 2
		</div><!-- /.d-col-6 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->
	
	<div class="flex-grid">
		<div class="d-col-7 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-7 .t-col-6 .m-col-12 -->
		
		<div class="d-col-5 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-5 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->

	<div class="flex-grid">
		<div class="d-col-8 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-8 .t-col-6 .m-col-12 -->
		
		<div class="d-col-4 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-4 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->
	
	<div class="flex-grid">
		<div class="d-col-9 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-9 .t-col-6 .m-col-12 -->
		
		<div class="d-col-3 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-3 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->

	<div class="flex-grid">
		<div class="d-col-10 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-10 .t-col-6 .m-col-12 -->
		
		<div class="d-col-2 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-2 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->

	<div class="flex-grid">
		<div class="d-col-11 t-col-6 m-col-12">
			Col 1
		</div><!-- /.d-col-11 .t-col-6 .m-col-12 -->
		
		<div class="d-col-1 t-col-6 m-col-12">
			Col 2
		</div><!-- /.d-col-1 .t-col-6 .m-col-12 -->
	</div><!-- /.flex-grid -->
</section><!-- /.flex-wrapper -->
*/
/*-------------------------------------------------------------------------------------------------*/
/*	Section de Bel-CMS, toujours utilisé pour uniformiser le site.
------------------------------------------------------
---------------------------------------------*/
section#belcms_section {
	display: block;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 !important;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Barre du titre de Bel-CMS, toujours utilisé pour uniformiser le site.
---------------------------------------------------------------------------------------------------*/
section#belcms_section #belcms_title {
	display: block;
	max-width: 100%;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
/*-------------------------------------------------------------------------------------------------*/
/*	titre de la page de Bel-CMS, toujours utilisé pour uniformiser le site.
---------------------------------------------------------------------------------------------------*/
section#belcms_section #belcms_title > span {
	display: block;
	width: 100%;
	padding: 0;
	text-align: center;
	line-height: 40px;
	margin: 0;
	margin-bottom: 15px;
	background-color: #ccc;
	color: #212529;
	border: 1px solid rgba(0,0,0,.125);
	font-weight: bold;
	border-radius: 2px;
}
/*-------------------------------------------------------------------------------------------------*/
/*	input select, toujours utilisé pour uniformiser le site. a surcharger par vos theme ou boostrap si vous l'utilisé
---------------------------------------------------------------------------------------------------*/
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="submit"],
input[type="color"] {
	border: 1px solid #e1e1e1;
	background: #f9f9f9;
	width: 100%;
	padding: 15px 30px;
	border-radius: 4px;
	color: #000;
	font-size: 12px;
	-webkit-appearance: none;
}
input[type="file"] {
	font-weight: bold;
	padding: 15px 30px;
	border: thin solid grey;
	border-radius: 3px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	cursor: not-allowed;
}
label {
	height: 30px;
	line-height: 30px;
	font-weight: bold !important;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Alert en haut de page, comme message bien envoyé ou bien enregistrer etc
---------------------------------------------------------------------------------------------------*/
#siteloader,
#alrt_bel_cms {
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	position: fixed;
	border-bottom: 2px;
	border-color: #21a9ec;
	width: 100%;
	display: block;
	z-index: 99999;
	line-height: 35px;
	color: rgba(255, 255, 255, .95);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, .95);
	font-size: 12px;
	transition: background-color 0.2s ease 0s;
	top: -35px;
}
#alrt_bel_cms.danger {
	background-color: #db3325;
	background-image: linear-gradient(rgba(219, 51, 37, 0), rgba(1, 0, 0, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
#alrt_bel_cms.warning {
	background-color: #f5a732;
	background-image: linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
#alrt_bel_cms.success {
	background-color: #7eb216;
	background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
/*-------------------------------------------------------------------------------------------------*/
/*	tooltip
---------------------------------------------------------------------------------------------------*/
[data-tooltip].top {
	&:before,
	&:after {
		transform: translateY(10px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0px);
	}
}
[data-tooltip].right {
	&:before,
	&:after {
		transform: translateX(0px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(10px);
	}
}
[data-tooltip].bottom {
	&:before,
	&:after {
		transform: translateY(-10px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0px);
	}
}
[data-tooltip].left {
	&:before,
	&:after {
		transform: translateX(0px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(-10px);
	}
}
[data-tooltip] {
	position: relative;
	&:after,
	&:before {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: transform 200ms ease, opacity 200ms;
		box-shadow: 0 0 10px rgba(black,0.3);
		z-index: 99;
	}
	&:before {
		content: attr(data-tooltip);
		background: #000;
		color: #fff;
		font-size: 11px;
		padding: 0 10px;
		line-height: 20px;
		border-radius: 4px;
		white-space: nowrap;
		text-decoration: none;
	}
	&:after {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		content: '';
	}
	&:hover:after,
	&:hover:before {
		visibility: visible;
		opacity: 0.85;
		transform: translateY(0px);
	}
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute; 
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 95px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left: 0; top: 0;
  width: 80px; height: 30px;
  background: #DDDDDD;
  border-radius: 6px;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 30px; height: 30px;
  transition: all .2s;
  border-radius: 6px 0 0 6px;
  background: #7F8C9A;
  top: 0; left: 0;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background:#34495E; 
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  top: 0; left: 51px;
  border-radius: 0 6px 6px 0;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  font-family: 'FontAwesome';
  content: "\f00d";
  left: 46px;
  margin-top: 3px;
}
[type="checkbox"]:checked + label .ui:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  color: #39D2B4;
  margin-top: 3px;
  left: 12px;
}
[type="checkbox"]:focus + label:before {
  border: 0; outline: 0;
  box-sizing: border-box;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Table (div) custom css
---------------------------------------------------------------------------------------------------*/
table.belcms_table {
	width: 100%;
	border-collapse: collapse;
  }
table.belcms_table td, table.belcms_table th {
	border: 1px solid #AAAAAA;
	padding: 5px 5px;
}
table.belcms_table thead {
	background: #DDDDDD;
	border-bottom: 2px solid #444444;
}
table.belcms_table thead th {
	font-size: 13px;
	font-weight: bold;
}
table.belcms_table tfoot {
	font-weight: bold;
}
div.belcms_table {
	width: 100%;
	border-collapse: collapse;
  }
.divTable.belcms_table .divTableCell, .divTable.belcms_table .divTableHead {
	border: 1px solid #eaeaf5;
	padding: 5px 5px;
}
.divTable.belcms_table .divTableBody .divTableCell {
	font-size: 13px;
}
.divTable.belcms_table .divTableHeading {
	background: #fcfcfd;
	border-bottom: 2px solid #eaeaf5;
}
.divTable.belcms_table .divTableHeading .divTableHead {
	font-size: 15px;
	font-weight: bold;
}
.belcms_table .tableFootStyle {
	font-weight: bold;
}
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
/*-------------------------------------------------------------------------------------------------*/
/*	Notification
---------------------------------------------------------------------------------------------------*/
.belcms_notification {
	border: 1px solid rgba(209, 207, 207, 1);
	background: rgba(248, 248, 248, 1);
	margin: 15px auto;
	width: 100%;
	overflow: hidden;
}
.belcms_notification_header {
	display: block;
	width: 100%;
	padding: 15px;
	overflow: hidden;
	color: rgba(255, 255, 255, 0.95);
	min-height: auto !important;
}
.belcms_notification > .error {
	background-color: rgba(223, 83, 73, .8);
}
.belcms_notification > .success {
	background-color: rgba(106, 189, 110, .8);
}
.belcms_notification > .warning {
	background-color: rgba(255, 170, 43, .8);
}
.belcms_notification > .infos  {
	background-color: rgba(42, 167, 246, .8);
}
.belcms_notification i {
	display: block;
	float: left;
	font-size: 24px;
}
.belcms_notification span {
	display: block;
	float: left;
	margin-left: 15px;
	line-height: 24px;
	font-size: 16px;
	font-weight: bold;
}
.belcms_notification .belcms_notification_msg {
	margin: 15px;
	padding: 15px;
	text-align: justify;
	border: 1px solid rgba(209, 207, 207, 1);
	background-color: rgba(244, 242, 242, 1);
	font-weight: 13px;
	color: var(--gray-dark);
}
/*-------------------------------------------------------------------------------------------------*/
/*	Commentaires styles
---------------------------------------------------------------------------------------------------*/
nav#bel_cms_comment {
	background: rgba(255, 255, 255, 1);
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
	nav#bel_cms_comment ul {
		list-style: none;
		padding: 0;
		border-top: 1px solid #e6ecf5;
		border-bottom: 1px solid #e6ecf5;
		margin: 25px -25px 0;
		padding-left: 35px;
	}
		nav#bel_cms_comment ul li.bel_cms_comment_item {
			padding: 25px;
			border-bottom: 1px solid #e6ecf5;
			position: relative;
			border-left: 1px solid #e6ecf5;
			text-align: left !important;
		}

		nav#bel_cms_comment ul li::before {
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			top: 40px;
			left: -5px;
			background-color: #fafbfd;
			border-radius: 100%;
			border: 1px solid #c2c5d9;
		}
		nav#bel_cms_comment ul li.bel_cms_comment_item:last-child {
			border-bottom: none;
		}
			.bel_cms_comment_author {
				margin-bottom: 20px;
				display: inline-block;
				vertical-align: middle;
			}
				.bel_cms_comment_author a {
					display: inline-block;
					vertical-align: top;
				}
				.bel_cms_comment_author img {
					width: 26px;
					height: 26px;
					border-radius: 100%;
					overflow: hidden;
					margin-right: 12px;	
					margin-top: -25px
				}
			.bel_cms_comment_date {
				display: inline-block;
			}
				.bel_cms_comment_date a {
					display: block;
					text-decoration: none;
				}
#bel_cms_comment_more {
	text-align: center;
	padding: 15px 0;
	font-size: 12px;
	color: #515365;
	display: block;
	font-weight: 700;
	margin: 0 auto;
	border-bottom: 1px solid #e6ecf5;
}
#bel_cms_comment_textarea {
	padding: 25px;
	border-bottom: 1px solid #e6ecf5;
}
#bel_cms_comment textarea {
	display: block;
	min-height: 60px;
	height: 60px;
	border: 1px solid #e6ecf5;
	border-radius: .25rem;
	width: 100%;
	padding: 5px;
	margin: 20px 20px 0;
	width: calc(100% - 40px);
}
#bel_cms_comment button {
	margin: 20px;
	float: right;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Pagination styles
---------------------------------------------------------------------------------------------------*/
#belcms_pagination {
	display: inline-block;
	margin: 20px 1%;
	padding: 0 15px;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
	z-index: 10;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	max-width: 98%;
}
#belcms_pagination ul {
	display: flex;
	text-decoration-style: none;
}
.belcms_pagination_item {
	float: left;
	text-decoration: none;
}
.belcms_pagination_item a {
	display: block;
	color: rgba(209, 207, 207, 1);
	padding: 8px 16px;
	border-left: 1px solid rgba(209, 207, 207, .5);
}
.belcms_pagination_item.active a {
	background-color: green;
	color: #FFF;
	cursor: not-allowed;
}
.belcms_pagination_item.disabled a {
	cursor: not-allowed;
}
/*-------------------------------------------------------------------------------------------------*/
/*	form styles
---------------------------------------------------------------------------------------------------*/
#belcms_form {
	display: flex;
}
.belcms_form_row {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	width: 100%;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Market
---------------------------------------------------------------------------------------------------*/
.etat_0,
.etat_1,
.etat_2,
.etat_3,
.etat_4 {	
	display: inline !important;
	width: auto;	
	border-radius: 4px;
	padding: 2px 10px;
	background: red;
	color: #FFF;
}
.etat_1 {
	background: #91a8d1;
	color: #292929;
}
.etat_2 {
	background: #46b5ac;
	color: #292929;
}
.etat_3 {
	background: #f1c05a;
	color: #292929;
}
.etat_4 {
	background: #88b14b;
	color: #FFF;
}