*, ::after, ::before { box-sizing: border-box; }
p, span { text-align: justify; }
/*-------------------------------------------------------------------------------------------------*/
/*	Custom couleur, de la balise code ou pre
---------------------------------------------------------------------------------------------------*/
pre, code {
	color: #333; white-space: initial; border-radius: 3px; background: #ccc;
	border-left: 8px solid #1ABC9C; padding: 14px 20px;
	white-space: initial; margin: 5px 0 20px 0; overflow: auto; font-size: 12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
@media print {
	pre, code {
		overflow-x: auto;
		white-space: pre-wrap;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}
}
/*-------------------------------------------------------------------------------------------------*/
/*	class des <a> ou <button>
---------------------------------------------------------------------------------------------------*/
.belcms_btn {
	display: inline-block;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	padding: 5px 15px;
	line-height: 30px;
	cursor: pointer;
}
[data-tooltip] {
	cursor: pointer;
}
/*-------------------------------------------------------------------------------------------------*/
/*	background 
---------------------------------------------------------------------------------------------------*/
.belcms_bg_white {
	background-color: #FFF;
}
.belcms_bg_black {
	background-color: #000;
	color: #FFF;
}
.belcms_bg_blue {
	background-color: #0D6EFD;
	color: #FFF;
}
.belcms_bg_red {
	background-color: #E9363F;
	color: #FFF;
}
.belcms_bg_green {
	background-color: #90FA44;
	color: #FFF;
}
.belcms_bg_yellow {
	background-color: #F4F702;
	color: #FFF;
}
.belcms_bg_grey {
	background-color: #686569;
	color: #FFF;
}
.belcms_bg_grey_w {
	background-color: #E4E5E7;
	color: #FFF;
}
/*-------------------------------------------------------------------------------------------------*/
/*	margin et padding
---------------------------------------------------------------------------------------------------*/
.belcms_pb_5 { padding-bottom: 5px; }
.belcms_pt_5 { padding-top: 5px; }
.belcms_pl_5 { padding-left: 5px; }
.belcms_pr_5 { padding-right: 5px; }
.belcms_pb_10 { padding-bottom: 10px; }
.belcms_pt_10 { padding-top: 10px; }
.belcms_pl_10 { padding-left: 10px; }
.belcms_pr_10 { padding-right: 10px;}
.belcms_pb_5 { padding: 5px; }
.belcms_pb_10 { padding: 10px; }
.belcms_pb_15 { padding: 15px; }
/*-------------------------------------------------------------------------------------------------*/
/*	section, toute les pages du C.M.S, commence avec une section
---------------------------------------------------------------------------------------------------*/
section { width: 100%; overflow: hidden; display: block; }
/*-------------------------------------------------------------------------------------------------*/
/*	Pages 
---------------------------------------------------------------------------------------------------*/
.bel-cms-pages_title {
	display: block;
	width: 100%;
	padding: 0 15px;
	line-height: 40px;
	margin: 0;
	margin-bottom: 15px;
	font-weight: bold;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Pages - Table
---------------------------------------------------------------------------------------------------*/
.bel_cms_table {
	display: block;
}
.bel_cms_table_row_title {
	display: flex;
	background-color: rgba(0, 0, 0, 0.60);
	color: rgba(242, 242, 242, .8);
	font-weight: bold;
}
.bel_cms_table_row_title_col {
	flex: 1;
	text-align: center;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Créé un block en dessous avec aucune marge ou padding sert juste à forcer en dessous.
---------------------------------------------------------------------------------------------------*/
.align_left {
	text-align: left;
	float: left;
}
.align_right {
	text-align: right;
	float: right;
}
.align_center {
	text-align: center;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Créé un block en dessous avec aucune marge ou padding sert juste à forcer en dessous.
---------------------------------------------------------------------------------------------------*/
.clear { clear: both; margin: 0; padding: 0; }
/*-------------------------------------------------------------------------------------------------*/
/*	Grid >> 12 Columns - inline & position relative pour la position absolute;
---------------------------------------------------------------------------------------------------*/
.belcms_grid_1, .belcms_grid_2, .belcms_grid_3, .belcms_grid_4, .belcms_grid_5, .belcms_grid_6, .belcms_grid_7, .belcms_grid_8, .belcms_grid_9, .belcms_grid_10, .belcms_grid_11, .belcms_grid_12 {
	display: inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Grid >> 12 Columns.
---------------------------------------------------------------------------------------------------*/
.belcms_grid_1 { width:6.333%; }
.belcms_grid_2 { width:14.667%; }
.belcms_grid_3 { width:23.0%; }
.belcms_grid_4 { width:31.333%; }
.belcms_grid_5 { width:39.667%; }
.belcms_grid_6 { width:48.0%; }
.belcms_grid_7 { width:56.333%; }
.belcms_grid_8 { width:64.667%; }
.belcms_grid_9 { width:73.0%; }
.belcms_grid_10 { width:81.333%; }
.belcms_grid_11 { width:89.667%; }
.belcms_grid_12 { width:98.0%; }
.belcms_grid_12:after {
	content: "";
	clear: both;
}
.belcms_grid_full { width:100%; }
.belcms_row {
	width: 1060px;
	margin: 0 auto;
	padding: 0 40px;
	position: relative;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Section de Bel-CMS, toujours utilisé pour uniformiser le site.
---------------------------------------------------------------------------------------------------*/
section#belcms_section {
	display: block;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Barre du titre de Bel-CMS, toujours utilisé pour uniformiser le site.
---------------------------------------------------------------------------------------------------*/
section#belcms_section #belcms_title {
	display: block;
	max-width: 100%;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
/*-------------------------------------------------------------------------------------------------*/
/*	titre de la page de Bel-CMS, toujours utilisé pour uniformiser le site.
---------------------------------------------------------------------------------------------------*/
section#belcms_section #belcms_title > span {
	display: block;
	width: 100%;
	padding: 0;
	text-align: center;
	line-height: 40px;
	margin: 0;
	margin-bottom: 15px;
	background-color: #ccc;
	color: #212529;
	border: 1px solid rgba(0,0,0,.125);
	font-weight: bold;
	border-radius: 2px;
}
/*-------------------------------------------------------------------------------------------------*/
/*	input select, toujours utilisé pour uniformiser le site. a surcharger par vos theme ou boostrap si vous l'utilisé
---------------------------------------------------------------------------------------------------*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	padding: 5 15px;
	margin-bottom: 5px;
	box-sizing: border-box;
	border: 1px solid;
	line-height: 30px;
	height: 30px;
	width: 100%;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	cursor: not-allowed;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Alert en haut de page, comme message bien envoyé ou bien enregistrer etc
---------------------------------------------------------------------------------------------------*/
#siteloader,
#alrt_bel_cms {
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	position: fixed;
	border-bottom: 2px;
	border-color: #21a9ec;
	width: 100%;
	display: block;
	z-index: 99999;
	line-height: 35px;
	color: rgba(255, 255, 255, .95);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, .95);
	font-size: 12px;
	transition: background-color 0.2s ease 0s;
	top: -35px;
}
#alrt_bel_cms.danger {
	background-color: #db3325;
	background-image: linear-gradient(rgba(219, 51, 37, 0), rgba(1, 0, 0, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
#alrt_bel_cms.warning {
	background-color: #f5a732;
	background-image: linear-gradient(rgba(245, 167, 50, 0), rgba(38, 24, 2, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
#alrt_bel_cms.success {
	background-color: #7eb216;
	background-image: linear-gradient(rgba(126, 178, 22, 0), rgba(0, 0, 0, 0.1));
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
/*-------------------------------------------------------------------------------------------------*/
/*	tooltip
---------------------------------------------------------------------------------------------------*/
[data-tooltip].top {
	&:before,
	&:after {
		transform: translateY(10px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0px);
	}
}
[data-tooltip].right {
	&:before,
	&:after {
		transform: translateX(0px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(10px);
	}
}
[data-tooltip].bottom {
	&:before,
	&:after {
		transform: translateY(-10px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0px);
	}
}
[data-tooltip].left {
	&:before,
	&:after {
		transform: translateX(0px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(-10px);
	}
}
[data-tooltip] {
	position: relative;
	&:after,
	&:before {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: transform 200ms ease, opacity 200ms;
		box-shadow: 0 0 10px rgba(black,0.3);
		z-index: 99;
	}
	&:before {
		content: attr(data-tooltip);
		background: #000;
		color: #fff;
		font-size: 11px;
		padding: 0 10px;
		line-height: 20px;
		border-radius: 4px;
		white-space: nowrap;
		text-decoration: none;
	}
	&:after {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		content: '';
	}
	&:hover:after,
	&:hover:before {
		visibility: visible;
		opacity: 0.85;
		transform: translateY(0px);
	}
}
[data-tooltip][data-position="top"]:before {
	bottom: 100%;
	left: -130%;
	margin-bottom: 10px;
}
[data-tooltip][data-position="top"]:after {
	border-top-color: #000;
	border-bottom: none;
	bottom: 101%;
	left: calc(50% - 6px);
	margin-bottom: 4px;
}
[data-tooltip][data-position="left"]:before {
	top: -12%;
	right: 100%;
	margin-right: 10px;
}
[data-tooltip][data-position="left"]:after {
	border-left-color: #000;
	border-right: none;
	top: calc(50% - 3px);
	right: 100%;
	margin-top: -6px;
	margin-right: 4px;
}
[data-tooltip][data-position="right"]:before {
	top: -5%;
	left: 100%;
	margin-left: 10px;
}
[data-tooltip][data-position="right"]:after {
	border-right-color: #000;
	border-left: none;
	top: calc(50% - 6px);
	left: calc(100% + 4px);
}
[data-tooltip][data-position="bottom"]:before {
	top: 100%;
	left: -130%;
	margin-top: 10px;
}
[data-tooltip][data-position="bottom"]:after {
	border-bottom-color: #000;
	border-top: none;
	top: 100%;
	left: 5px;
	margin-top: 4px;
}
/*-------------------------------------------------------------------------------------------------*/
/*	Table (div) custom css
---------------------------------------------------------------------------------------------------*/
.bel_cms_index_table {
	width: 100%;
}