html, body {
    margin: 0;
    padding: 0;
    background-color: #7759d9;
    color: azure;
    position: relative;
    height: 100%;
    background-image: url('/assets/img/validation/bg.png');
    background-position: center center;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    line-height: 30px;
    text-align: center;
}
a {
    color: blanchedalmond;
    text-decoration: none;
    color: #5a3ac9;
}
main {
    display: flex;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    width: 900px;
    top: calc(50% - 250px);
    left: calc(50% - 450px);
    height: 500px;
    overflow: hidden;
    color: black;
}
#main_valid {
    width: 350px;
    height: 500px;
    display: block;
    float: left;
}
#main_valid img {
    margin: auto;
    width: 200px;
    height: 200px;
    padding: 30px;
    padding-top: calc(50% - -30px);
}
#main_content {
    display: block;
    float: left;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    border-left: 2px solid rgba(0, 0, 0, 0.25);
    position: relative;
}
#main_content p {
    text-align: justify;
}
#main_content h1 {
    text-decoration: underline;
}
#main_content form {
    width: 100%;
    display: block;
}
form > div {
    margin-bottom: 15px;
    padding: 4px;
}
#main_content form input {
    display: block;
    margin: 1px;
    padding: 8px 15px;
    background-color: #faae0b;
    color: #FFF;
    border: 2px solid #031f2a;
    width: calc(100% - 30px);
    font-weight: bold;
    border-radius: 6px;
    border-left: 0;
    border-right: 0;
}
#submit {
    display: block !important;
    width: auto !important;
    margin: 30px auto !important;
    padding: 10px 15px !important;
    background-color: #07455e !important;
    color: #FFF !important;
    cursor: pointer;
    border-radius: 30% !important;
}
#delete {
    background-color: #07455e;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: red;
    transition: all 1s ease 0s;
}
#delete:hover {
    color: #f6936e !important;
}
#resend {
    background-color: #07455e;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: green;
    transition: all 1s ease 0s;
}
#resend:hover {
    background-color: #07455e !important;
    color: greenyellow;
}
#notification {
    display: block;
    padding: 20px;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    color:rgba(255, 255, 255, 0.85);
    border-radius: 7px;
    border: 5px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    width: 434px;
    height: 165px;
    max-width: 100%;
}