@charset "utf-8";
/*======================================
 [ -Main Stylesheet-
  Theme: Terris coming soon page
  Version: 1.0
  Last change: 12/07/2023 ]
*/
/*-------------Import fonts ---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*-------------General Style---------------------------------------*/
:root {
	--main-color: #fff;
	--black-color: #000;
	--black-color2: #292929;
	--gray-color: #f5f5f5;
	--border-color: rgba(31,31,31,.1);
	--border-color2:rgba(255,255,255,.17);
	--main-font: 'Saira', sans-serif;
}
html{
	overflow-x:hidden !important;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 12px;
	background: var(--black-color);
	height:100%;
	text-align:center;
	color:var(--black-color);
}  
/*--------------Typography--------------------------------------*/
p {
	text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 400;
    color: var(--black-color);
}
.loader-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	background: var(--black-color);
}
.loading-spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 260px;
	height: 1px;
	z-index: 20;
	margin: 0 0 0 -130px;
}
.loading-spinner:before{
	content: '';
	position:absolute;
	left:0px;
	top:0;
	height:1px;
	width:100%;
	background:rgba(255,255,255, .2);
}
.movingBallG{
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:1px;
 	animation: bounce_movingBallG 1.3s linear infinite;
}
@keyframes bounce_movingBallG{
	0%{
		left:10px;
	}
	50%{
		left:200px;
	}
	100%{
		left:10px;
	}
} 
.bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size: cover;
	background-attachment: scroll  ;
	background-position: center  ;
	background-repeat:repeat;
	background-origin: content-box;
} 
/* ---------Content Styles--------- ----*/
#main{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
}
.container{
	width: min(100% - 25px, 1100px);
	margin-inline:auto;
	position: relative;
	z-index:5;
} 
.cs-content-media {
	position: fixed;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 2;
	overflow: hidden;
}
.cs-content-media:before  , .cs-content-media:after {
	content: '';
	position: absolute;
	bottom: 0;
	top: 0;
	width: 1px;
	background: var(--border-color2);
}
.cs-content-media:before {
	left:180px;
}
.cs-content-media:after {
	right:180px;
}
.bg-wrap {
	position: absolute;
	top: 90px;
	left:30px;
	right: 30px;
	bottom: 90px; 
	overflow: hidden;
	z-index: 4;
	border-radius: 50px;
}
.content {
	position:relative;
	z-index:4;
 	background: var(--main-color);
}
.logo-holder {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 160px;
}
.title_cs {
	position: absolute;
	bottom: 150px;
	left: 50%;
	color:var(--main-color);
	transform: translateX(-50%);
	font-size: 2.4em;
}
.title_cs:before {
	content: '';
	position: absolute;
	left: 50%;
	top: -30px;
	width: 70px;
	height: 1px;
	margin-left: -35px;
	background: rgba(255,255,255,.4)
}
.logo-holder img {
	width: 230px;
	height: auto;
}
.main-cs-container {
	z-index: 10;
 	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
}
.countdown {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.6;
	z-index:2;
}
.main-cs-wrpper{    
  	top: 50%;
	transform: translateY(-50%);
    z-index: 2;
}
.hero_social , .hc-pag_wrap {
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	background: var(--black-color);
	z-index: 20;
}
.hero_social a {
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color:#fff;
	text-transform: uppercase;
}
.hc-pag_wrap {
	right: auto;
	left: 24px;
	padding-left: 18px;
}
.hc-pag_wrap .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display:  block;
	margin: 26px 0;
	position: relative;
    background: var(--main-color);
    opacity: .7;
}
.hc-pag_wrap .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 22px;
    height: 22px;
    margin: -11px 0 0 -11px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 100%;
    transition: all 0.3s ease;
    transform: scale(0.0);
}
.hc-pag_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
	opacity: 1
}
.hc-pag_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
	transform: scale(1.0);
}
.countdown {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
	position: relative;
	z-index: 5;
}
.cs-canvas {
    position: absolute;
    right: 50%;
    width: 340px;
    height: 340px;
    text-align: center;
    top: 50%;
    margin: -170px -170px 0 0;
} 
.cs-canvas:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border:1px solid rgba(255,255,255,.4);
	border-left-color: transparent;
	border-right-color: transparent;
	border-radius: 50%;
}
.canvas_anim:before {
    animation: move 4s linear infinite;	
}
.cs-canvas canvas {
    animation: spin3 5s linear infinite;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
} 
@keyframes spin3{
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes move {
  20%, 100% {
    transform: rotateZ(360deg);
  }
}
.cs-countdown-item span {
    color: var(--main-color);
    font-size: 8.6em;
    font-weight: 100;
} 
.cs-countdown-item h6 {
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
    color: var(--main-color);
}
.gi_dec {
	z-index:  1;
}
.gi_dec:before , .gi_dec:after , .gi_fw:after {
	content: '';
	position: absolute;
	background: var(--border-color2);
}
.gi_dec:before {
	height: 1px;
	width: 100%;
	top: 50%;
	left: 0;
}
.fs-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
} 
.gi_dec:after , .gi_fw:after {
	height: 100%;
	width: 1px;
	top: 0;
	left: 50%;
}
.dec-item   {
	position: absolute;
	background: var(--black-color);
}
.dc_l , .dc_r {
	width: 60px;
	height: 360px;
	top: 50%;
	left: 30px;
	border-radius: 0 30px 30px 0;
	z-index: 5;
	margin-top: -180px;
}
.dc_r {
	left: auto;
	right: 30px;
	border-radius:  30px 0 0 30px;
}
.dc_l:before , .dc_r:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	height: 1px;
	background: var(--border-color2);
}
.full-height {
    height: 100%;
}
.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}
@media only screen and  (max-width: 1258px) {
.countdown {
    padding: 0 90px;
}
.cs-countdown-item span {
    font-size: 5.6em;
}	
}
@media only screen and  (max-width: 1064px) {
.countdown {
    display: block;
	overflow: hidden;
}
.cs-countdown-item  {
    width: 50%;
	float: left;
}	
}
@media only screen and  (max-width: 768px) {
.countdown {
    padding: 0 20px;
}
.bg-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
}
.logo-holder {
    position: absolute;
    top:40px;
}
.hc-pag_wrap , .dec-item {
	display: none
}
.title_cs {
    bottom: 80px;
    font-size: 1.8em;		
}
.cs-countdown-item h6 {
    font-size: .9em;
    letter-spacing: 2px;
}
.cs-countdown-item span {
    font-size: 4.6em;
}
.hero_social {
    position: absolute;
    right: auto;
	left: 50%;
    top:auto;
	bottom: 30px;
    transform: translateX(-50%) translateY(0);
    width: auto;
    background:none;
}
.hero_social a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
 
}
}