<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ecrait - Responsive  Architecture Interior Template</title>
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!-- loader   -->
        <div class="loader">
            <div class="spinner">
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- loader  end-->
        <!--main start -->
        <div id="main">
            <!-- main-header -->
            <header class="main-header">
                <a href="index.html" class="logo-holder ajax">
                <img src="images/logo.png" alt="">
                </a>
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html" class="act-link ajax">Home</a>
                            </li>
                            <li><a href="portfolio.html"  class="ajax">Portfolio</a></li>
                            <li>
                                <a href="about.html"  class="ajax">About</a>
                            </li>
                            <li>
                                <a href="blog.html" class="ajax" >News</a>
                            </li>
                            <li>
                                <a href="contacts.html" class="ajax">Contacts</a>
                            </li>
                            <li>
                                <a href="#">Pages </a>
                                <!--second level -->
                                <ul>
                                    <li>
                                        <a href="#">Home</a>
                                        <!--third  level -->
                                        <ul>
                                            <li><a href="index.html" class="ajax">Slider</a></li>
                                            <li><a href="index2.html" class="ajax">Carousel</a></li>
                                            <li><a href="index3.html" class="ajax">Slideshow</a></li>
                                            <li><a href="index4.html" class="ajax">Video</a></li>
                                            <li><a href="index5.html" class="ajax">Paallax Image</a></li>
                                            <li><a href="onepage.html" target="_blank">One page </a></li>											
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li>
                                        <a href="#">Portfolio</a>
                                        <!--third  level -->
                                        <ul>
                                            <li><a href="portfolio.html" class="ajax">Horizontal</a></li>
                                            <li><a href="portfolio2.html" class="ajax">Vertical </a></li>
                                            <li><a href="portfolio3.html" class="ajax">Sidebar Filter </a></li>
                                            <li><a href="portfolio4.html" class="ajax">Portfolio Grid</a></li>
                                            <li><a href="portfolio5.html" class="ajax">Portfolio Grid 2</a></li>
                                            <li><a href="portfolio-single.html"  class="ajax">Portfolio Single</a></li>
                                            <li><a href="portfolio-single2.html"  class="ajax">Portfolio Single 2</a></li>
                                            <li><a href="portfolio-single3.html"  class="ajax">Portfolio Single 3</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li><a href="blog-single.html"  class="ajax">Blog Single</a></li>
                                    <li><a href="404.html" class="ajax">404</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
                <!--  navigation --> 
                <div class="header-contacts">
                    <ul>
                        <li><span> Call: </span> <a href="tel:+4(897)56412322">+4(897)56412322</a></li>
                        <li><span> Write: </span> <a href="mailto:ecrait@domain.com">ecrait@domain.com</a></li>
                    </ul>
                </div>
                <!-- navigation  end -->				
                <!-- nav-button-wrap-->
                <div class="nav-button_container">
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->					
            </header>
            <!-- main-header end-->
            <!-- share btn-->			
            <div class="share-button-wrap showshare">
                <div class="share-button_title">Share</div>
                <div class="share-button"><span></span></div>
            </div>
            <!-- share btn end-->				
            <!-- aside-column -->
            <div class="aside-column">
                <div class="progress-bar-wrap">
                    <div class="progress-bar-container">
                        <div class="progress-bar"></div>
                    </div>
                </div>
                <div class="aside-social">
                    <ul>
                        <li><a href="#" target="_blank">Fb</a></li>
                        <li><a href="#" target="_blank">In</a></li>
                        <li><a href="#" target="_blank">Tw</a></li>
                        <li><a href="#" target="_blank">Be</a></li>
                    </ul>
                </div>
            </div>
            <!-- aside-column end -->
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder" data-pagetitle="Home Carousel">
                    <div class="fs-holder full-height">
                        <div class="main-hero-carousel-wrap full-height">
                            <!-- hero-carousel  -->
                            <div class="main-hero-carousel full-height">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="main-hero-carousel-item full-height">
                                                <div class="bg"  data-bg="images/bg/1.jpg" data-swiper-parallax="10%"></div>
                                                <div class="overlay"></div>
                                                <div class="main-hero-carousel-title">
                                                    <h3><a href="about.html" class="ajax">Ecrait   Architecture<br>Design  Agency</a></h3>
                                                    <h4>Quis autem vel eum iure reprehenderit qui in ea voluptate</h4>
                                                </div>
                                                <a href="about.html" class="main-hero-carousel-item_link ajax"><span>Read More</span>  </a>
                                                <div class="carousle-item-dec"></div>
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="main-hero-carousel-item full-height">
                                                <div class="bg"  data-bg="images/bg/1.jpg" data-swiper-parallax="10%"></div>
                                                <div class="overlay"></div>
                                                <div class="main-hero-carousel-title">
                                                    <h3><a href="portfolio-single.html" class="ajax">Trinity River <br>  Audubon  Centre</a></h3>
                                                    <h4>Quis autem vel eum iure reprehenderit qui in ea voluptate</h4>
                                                </div>
                                                <a href="portfolio-single.html" class="main-hero-carousel-item_link ajax"><span>View Project</span>  </a>
                                                <div class="carousle-item-dec"></div>
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="main-hero-carousel-item full-height">
                                                <div class="bg"  data-bg="images/bg/1.jpg" data-swiper-parallax="10%"></div>
                                                <div class="overlay"></div>
                                                <div class="main-hero-carousel-title">
                                                    <h3><a href="portfolio-single.html" class="ajax">Private Family House   <br> London UK</a></h3>
                                                    <h4>Quis autem vel eum iure reprehenderit qui in ea voluptate</h4>
                                                </div>
                                                <a href="portfolio-single.html" class="main-hero-carousel-item_link ajax"><span>View Project</span>  </a>
                                                <div class="carousle-item-dec"></div>
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->
                                        <!-- swiper-slide-->
                                        <div class="swiper-slide">
                                            <div class="main-hero-carousel-item full-height">
                                                <div class="bg"  data-bg="images/bg/1.jpg" data-swiper-parallax="10%"></div>
                                                <div class="overlay"></div>
                                                <div class="main-hero-carousel-title">
                                                    <h3><a href="portfolio-single.html" class="ajax">One World  Trade <br>Premium Center</a></h3>
                                                    <h4>Quis autem vel eum iure reprehenderit qui in ea voluptate</h4>
                                                </div>
                                                <a href="portfolio-single.html" class="main-hero-carousel-item_link ajax"><span>View Project</span>  </a>
                                                <div class="carousle-item-dec"></div>
                                            </div>
                                        </div>
                                        <!-- swiper-slide end-->
                                    </div>
                                </div>
                            </div>
                            <!-- hero-carousel end -->				
                            <div class="cbc_btn carousel-btn_control-next"><i class="fal fa-angle-right"></i></div>
                            <div class="cbc_btn carousel-btn_control-prev"><i class="fal fa-angle-left"></i></div>
                        </div>
                        <div class="fs-slider-conrols_wrap hcmc">
                            <div class="container">
                                <div class="hero-slider-controls hcmc">
                                    <div class="hc-pag_wrap">
                                        <div class="hc-pag"></div>
                                    </div>
                                    <div class="hc_counter">
                                        <div class="current_c">01</div>
                                        <div class="total_c"></div>
                                    </div>
                                    <div class="slide-progress-wrap">
                                        <div class="slide-progress"></div>
                                    </div>
                                </div>
                                <a href="#sec2" class="strt_btn custom-scroll-link">
                                    <span>Start Explore</span>
                                    <div class="scroll-down-wrap">
                                        <div class="mousey">
                                            <div class="scroller"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="content">
                        <!-- section -->
                        <section class="content-section cs_dec" id="sec2">
                            <!-- container-->
                            <div class="container">
                                <div class="content-item border-box_item">
                                    <div class="about-wrap content-item">
                                        <div class="about_row about_row_hero grid-column-container">
                                            <div class="block_text">
                                                <h2>About Our Architecture <br>  Creative Studio      </h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.Praesent nec leo venenatis elit semper aliquet id ac enim.  .</p>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, petierunt uti sibi concilium totius Galliae in diem sed eius mod tempor incidunt ut labore et dolore magna aliqua. Cras mattis iudicium purus sit amet fermentum at nos hinc posthac, sitientis piros afros. Lorem ipsum dolor sit amet, consectetur adipisici elit, petierunt uti sibi concilium totius  mod tempor incidunt ut labore et dolore magna aliqua.</p>
                                                <div class="awwards-list">
                                                    <h6>Our Awwards</h6>
                                                    <ul>
                                                        <li><span>2024</span> International Architecture Awards</li>
                                                        <li><span>2023</span> Best Architecture Design  </li>
                                                        <li><span>2022</span> Royal gold Award</li>
                                                        <li><span>2021</span> UIA gold medal</li>
                                                        <li><span>2020</span> Best Home Design List in Ukraine</li>
                                                    </ul>
                                                </div>
                                                <a href="about.html" class="btn ajax"><span>Read More About US</span><i class="fal fa-long-arrow-right"></i></a>
                                            </div>
                                            <!-- block_img -->
                                            <div class="block_img block_img_fs">
                                                <div class="fs-wrapper">
                                                    <div class="bg"  data-bg="images/bg/1.jpg"></div>
                                                    <div class="overlay"></div>
                                                    <div class="arrow_dec_wrap">
                                                        <div class="arrow_dec"></div>
                                                    </div>
                                                    <div class="ab_title-logo"><span>ecr<br>ait</span></div>
                                                </div>
                                                <div class="block_img_fs-let">
                                                    <div>Architecture Design</div>
                                                    <div>Interior Design</div>
                                                    <div>Comercial Design</div>
                                                    <div><span>Construction Design</span></div>
                                                </div>
                                            </div>
                                            <!-- block_img end-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- container end-->
                        </section>
                        <!-- section end -->		
                        <!-- section  -->	
                        <section class="content-section dark-section">
                            <!-- container  -->
                            <div class="container">
                                <div class="content-item border-box_item2">
                                    <div class="featured_works-header">
                                        <div class="featured_works-header_container">
                                            <h2>Our Lastes Projects</h2>
                                            <h4>Lorem ipsum dolor sit amet. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                        </div>
                                        <div class="partcile-dec fs-wrapper" data-parcount="70"></div>
                                        <div class="featured_works-header_dec"></div>
                                    </div>
                                    <div class="half-carousel-conatiner">
                                        <div class="half-carousel">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!--half-carousel-item   -->
                                                    <div class="swiper-slide">
                                                        <div class="half-carousel-item hov_zoom">
                                                            <div class="fs-wrapper">
                                                                <div class="bg" data-bg="images/folio/1.jpg"></div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                            <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                                            <div class="grid-det_category"><a href="#">Design</a> <a href="#">Construction</a></div>
                                                            <div class="half-carousel-content">
                                                                <div class="hc-counter">01.</div>
                                                                <h3><a href="portfolio-single.html" class="ajax">White Walls House</a></h3>
                                                                <p>Constant care and attention to the patients makes good record</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--half-carousel-item end -->
                                                    <!--half-carousel-item   -->
                                                    <div class="swiper-slide">
                                                        <div class="half-carousel-item hov_zoom">
                                                            <div class="fs-wrapper">
                                                                <div class="bg" data-bg="images/folio/1.jpg"></div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                            <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                                            <div class="grid-det_category"><a href="#">Architecture</a> <a href="#">Design</a></div>
                                                            <div class="half-carousel-content">
                                                                <div class="hc-counter">02.</div>
                                                                <h3><a href="portfolio-single.html" class="ajax">Petronas Tower</a></h3>
                                                                <p>Constant care and attention to the patients makes good record</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--half-carousel-item end -->
                                                    <!--half-carousel-item   -->
                                                    <div class="swiper-slide">
                                                        <div class="half-carousel-item hov_zoom">
                                                            <div class="fs-wrapper">
                                                                <div class="bg" data-bg="images/folio/1.jpg"></div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                            <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>
                                                            <div class="grid-det_category"><a href="#">Interior</a> <a href="#">Design</a></div>
                                                            <div class="half-carousel-content">
                                                                <div class="hc-counter">03.</div>
                                                                <h3><a href="portfolio-single.html" class="ajax">Spire Edge Center</a></h3>
                                                                <p>Constant care and attention to the patients makes good record</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--half-carousel-item end -->
                                                    <!--half-carousel-item   -->
                                                    <div class="swiper-slide">
                                                        <div class="half-carousel-item hov_zoom">
                                                            <div class="fs-wrapper">
                                                                <div class="bg" data-bg="images/folio/1.jpg"></div>
                                                                <div class="overlay"></div>
                                                            </div>
                                                            <a href="images/folio/1.jpg" class="box-media-zoom   single-popup-image"><i class="fal fa-search"></i></a>	
                                                            <div class="grid-det_category"><a href="#">Architecture</a> <a href="#">Interior</a></div>
                                                            <div class="half-carousel-content">
                                                                <div class="hc-counter">04.</div>
                                                                <h3><a href="portfolio-single.html" class="ajax">Family Appartment</a></h3>
                                                                <p>Constant care and attention to the patients makes good record</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--half-carousel-item end -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hc_controls-wrap grid-column-container  grid-sb-column">
                                            <div class="hc_controls-wrap_container">
                                                <div class="hcw_btn hcw-cont-prev"><i class="fal fa-angle-left"></i></div>
                                                <div class="hcw_btn hcw-cont-next"><i class="fal fa-angle-right"></i></div>
                                                <div class="hc-pag_wrap">
                                                    <div class="hc-pag cen-slider-pagination"></div>
                                                </div>
                                                <div class="swiper-counter hs_counter hc2">
                                                    <div class="current">01</div>
                                                    <div class="total"></div>
                                                </div>
                                            </div>
                                            <div class="hc_controls_link">
                                                <a href="portfolio.html" class="ajax">View All Projects</a>
                                            </div>
                                        </div>
                                        <div class="fcc_dec"></div>
                                    </div>
                                </div>
                                <div class="st-dec"></div>
                                <div class="st-dec st-dec3"></div>
                            </div>
                            <!-- container end -->		
                        </section>
                        <!-- section end -->		
                        <!-- section -->
                        <section class="content-section cs_dec cs_dec3">
                            <!-- container  -->	
                            <div class="container">
                                <div class="content-item border-box_item">
                                    <div class="section-title st_dec">
                                        <div class="section-title_content">
                                            <div class="section-title_content_item">
                                                <h2>What We Offer</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam.</p>
                                            </div>
                                        </div>
                                        <div class="parallax-section_wrap">
                                            <div class="fs-wrapper">
                                                <div class="overlay"></div>
                                                <div class="bg" data-bg="images/folio/1.jpg"></div>
                                            </div>
                                            <span class="ps-dec-line"></span>							
                                        </div>
                                        <div class="st_dec_item"></div>
                                    </div>
                                    <div class="section-title_content_dec "></div>
                                    <div class="offer-box-wrap">
                                        <div class="grid-column-container grid-3-column offer_container">
                                            <!-- offer-box -->
                                            <div class="offer-box offb_visbg">
                                                <div class="offer-box_num">01.</div>
                                                <div class="offer-box_item">
                                                    <i class="fal fa-ruler-triangle"></i>
                                                    <h4> Architecture Design  </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero</p>
                                                    <ul class="ser-list">
                                                        <li>Concept</li>
                                                        <li>Visualization</li>
                                                        <li>3D Modeling</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- offer-box end -->
                                            <!-- offer-box -->
                                            <div class="offer-box">
                                                <div class="offer-box_num">02.</div>
                                                <div class="offer-box_item">
                                                    <i class="fal fa-chair-office"></i>
                                                    <h4> Interior Design </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero</p>
                                                    <ul class="ser-list">
                                                        <li>Concept</li>
                                                        <li>Visualization</li>
                                                        <li>3D Modeling</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- offer-box end -->
                                            <!-- offer-box -->
                                            <div class="offer-box">
                                                <div class="offer-box_num">03.</div>
                                                <div class="offer-box_item">
                                                    <i class="fal fa-shopping-bag"></i>
                                                    <h4> Comercial Construction </h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero</p>
                                                    <ul class="ser-list">
                                                        <li>Concept</li>
                                                        <li>Visualization</li>
                                                        <li>3D Modeling</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- offer-box end -->									
                                        </div>
                                        <a href="contacts.html" class="offer-box_btn ajax">Order Your Project</a>	
                                    </div>
                                </div>
                            </div>
                            <!-- container end -->		
                        </section>
                        <!-- section end -->							
                        <!-- section -->
                        <section class="content-section   dark-section">
                            <!-- container  -->	
                            <div class="container">
                                <div class="content-item border-box_item2 hero_section hs2  hero_section_dec">
                                    <div class="hero_section_content">
                                        <div class="hhw_header">Our Partners</div>
                                        <h2>Clients And Testimonilas</h2>
                                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</h4>
                                    </div>
                                    <div class="hero-con-aside">
                                        <div class="hero-con-aside_dec"></div>
                                    </div>
                                    <div class="hero-con-aside_dec2"></div>
                                    <div class="hero-con-aside_dec3"></div>
                                    <div class="hero-con_dec"></div>
                                </div>
                            </div>
                            <div class="fs-wrapper parallax-section_bg">
                                <div class="overlay"></div>
                                <div class="bg" data-bg="images/bg/1.jpg"></div>
                            </div>
                            <!-- container end -->
                        </section>
                        <!-- section -->
                        <section class="content-section  cs_dec  ">
                            <!-- container  -->
                            <div class="container border-box_item">
                                <div class="testimonilas-carousel_wrap">
                                    <div class="testimonilas-carousel">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <!--testi-item-->
                                                <div class="swiper-slide">
                                                    <div class="testi-item">
                                                        <div class="testi-header">
                                                            <div class="testi-avatar"><img src="images/avatar/1.jpg" alt=""></div>
                                                            <h3>Frank Dellov</h3>
                                                            <span class="testi-number">01</span>
                                                        </div>
                                                        <div class="testimonilas-text">
                                                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                                                        </div>
                                                        <div class="testi-footer">
                                                            <span class="testi-date">04.04.2023</span>
                                                            <a href="#" class="testi-link" target="_blank">Via Facebook</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--testi-item end-->
                                                <!--testi-item-->
                                                <div class="swiper-slide">
                                                    <div class="testi-item">
                                                        <div class="testi-header">
                                                            <div class="testi-avatar"><img src="images/avatar/1.jpg" alt=""></div>
                                                            <h3>Anna Lips</h3>
                                                            <span class="testi-number">02</span>	
                                                        </div>
                                                        <div class="testimonilas-text">
                                                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                                                        </div>
                                                        <div class="testi-footer">
                                                            <span class="testi-date">12.02.2023</span>
                                                            <a href="#" class="testi-link" target="_blank">Via X-Twitter</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--testi-item end-->										
                                                <!--testi-item-->
                                                <div class="swiper-slide">
                                                    <div class="testi-item">
                                                        <div class="testi-header">
                                                            <div class="testi-avatar"><img src="images/avatar/1.jpg" alt=""></div>
                                                            <h3>Andy Moore</h3>
                                                            <span class="testi-number">03</span>
                                                        </div>
                                                        <div class="testimonilas-text">
                                                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                                                        </div>
                                                        <div class="testi-footer">
                                                            <span class="testi-date">01.02.2023</span>
                                                            <a href="#" class="testi-link" target="_blank">Via Facebook</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--testi-item end-->											
                                                <!--testi-item-->
                                                <div class="swiper-slide">
                                                    <div class="testi-item">
                                                        <div class="testi-header">
                                                            <div class="testi-avatar"><img src="images/avatar/1.jpg" alt=""></div>
                                                            <h3>Nastya Rircher</h3>
                                                            <span class="testi-number">04</span>
                                                        </div>
                                                        <div class="testimonilas-text">
                                                            <p>"Vestibulum orci felis, ullamcorper non condimentum non, ultrices ac nunc. Mauris non ligula suscipit, vulputate mi accumsan, dapibus felis. Nullam sed sapien dui. Nulla auctor sit amet sem non porta. "</p>
                                                        </div>
                                                        <span class="testi-date">24.12.2022</span>
                                                        <a href="#" class="testi-link" target="_blank">Via X-Twitter</a>
                                                    </div>
                                                </div>
                                                <!--testi-item end-->											
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testi_carousel-controls">
                                        <div class="testi-slider-pagination_wrap">
                                            <div class="testi-slider-pagination"></div>
                                        </div>
                                        <div class="tc-button tc-button-prev"><i class="fal fa-angle-left"></i></div>
                                        <div class="tc-button tc-button-next"><i class="fal fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- container   -->
                        </section>
                        <!-- section   -->	
                        <div class="content-section">
                            <!-- container   -->
                            <div class="container">
                                <div class="content-item border-box_item">
                                    <!-- clients-carousel-wrap-->
                                    <div class="clients-carousel-wrap">
                                        <div class="clients-carousel">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    <!--client-item-->
                                                    <div class="swiper-slide">
                                                        <a href="#" class="client-item"><img src="images/clients/1.png" alt=""></a>
                                                    </div>
                                                    <!--client-item end-->
                                                    <!--client-item-->
                                                    <div class="swiper-slide">
                                                        <a href="#" class="client-item"><img src="images/clients/1.png" alt=""></a>
                                                    </div>
                                                    <!--client-item end-->
                                                    <!--client-item-->
                                                    <div class="swiper-slide">
                                                        <a href="#" class="client-item"><img src="images/clients/1.png" alt=""></a>
                                                    </div>
                                                    <!--client-item end-->											
                                                    <!--client-item-->
                                                    <div class="swiper-slide">
                                                        <a href="#" class="client-item"><img src="images/clients/1.png" alt=""></a>
                                                    </div>
                                                    <!--client-item end-->
                                                    <!--client-item-->
                                                    <div class="swiper-slide">
                                                        <a href="#" class="client-item"><img src="images/clients/1.png" alt=""></a>
                                                    </div>
                                                    <!--client-item end-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cc-button cc-button-next"><i class="fal fa-angle-right"></i></div>
                                        <div class="cc-button cc-button-prev"><i class="fal fa-angle-left"></i></div>
                                    </div>
                                    <!-- clients-carousel-wrap end-->							
                                </div>
                            </div>
                            <!-- container end -->
                        </div>
                        <!-- section end -->		
                    </div>
                    <!-- content end -->
                    <!-- main-footer -->
                    <div class="height-emulator"></div>
                    <footer class="main-footer">
                        <div class="container">
                            <div class="footer-inner border-box_item2">
                                <div class="grid-column-container grid-3-column">
                                    <div class="footer-inner_item">
                                        <div class="footer-box">
                                            <div class="footer-content-header">About Ecrait</div>
                                            <div class="footer-about">
                                                <p>Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations.Client is the soul of the project.</p>
                                            </div>
                                        </div>
                                        <div class="arrow_dec_wrap ardw_white">
                                            <div class="arrow_dec"></div>
                                        </div>
                                    </div>
                                    <div class="footer-inner_item">
                                        <div class="footer-box">
                                            <div class="footer-content-header">Our Contacts</div>
                                            <!-- footer-contacts-->
                                            <div class="footer-contacts">
                                                <ul>
                                                    <li><span>Call:</span><a href="#">+489756412322</a></li>
                                                    <li><span>Write  :</span><a href="#">yourmail@domain.com</a></li>
                                                    <li><span>Find us : </span><a href="#">USA 27TH Brooklyn NY</a></li>
                                                </ul>
                                            </div>
                                            <!-- footer contacts end -->
                                        </div>
                                        <div class="footer-social">
                                            <ul>
                                                <li><a href="#" target="_blank">Fb</a></li>
                                                <li><a href="#" target="_blank">In</a></li>
                                                <li><a href="#" target="_blank">Tw</a></li>
                                                <li><a href="#" target="_blank">Be</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer-inner_item">
                                        <div class="subcribe-form">
                                            <div class="subcribe_title">Subscribe To Our Newsletter</div>
                                            <form id="subscribe">
                                                <label for="subscribe-email" class="subscribe-message"></label>
                                                <input class="enteremail" name="email" id="subscribe-email" placeholder="Your e-mail" spellcheck="false" type="text">
                                                <button type="submit" id="subscribe-button" class="subscribe-button"><span>Submit</span> <i class="fal fa-long-arrow-right"></i></button>
                                            </form>
                                        </div>
                                        <div class="footer-dec"></div>
                                    </div>
                                </div>
                                <div class="sub-footer">
                                    <div class="policy-box">
                                        <span>&#169; Ecrait 2024   -  All rights reserved. </span>
                                    </div>
                                    <div class="to-top to-top_btn"><i class="far fa-chevron-up"></i></div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end -->
                    <!-- share-wrapper-->
                    <div class="share-wrapper  isShare">
                        <div class="share-container fl-wrap  isShare"></div>
                    </div>
                    <!-- share-wrapper  end -->					
                </div>
                <!-- content-holder end  --> 
            </div>
            <!-- wrapper end  -->				
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->			
        </div>
        <!-- Main end -->
        <!--  scripts  -->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>