<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ecrait - Responsive  Architecture Interior Template</title>
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!-- loader   -->
        <div class="loader">
            <div class="spinner">
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- loader  end-->
        <!--main start -->
        <div id="main">
            <!-- main-header -->
            <header class="main-header">
                <a href="index.html" class="logo-holder ajax">
                <img src="images/logo.png" alt="">
                </a>
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html" class="ajax">Home</a>
                            </li>
                            <li><a href="portfolio.html"  class="act-link ajax">Portfolio</a></li>
                            <li>
                                <a href="about.html"  class="ajax">About</a>
                            </li>
                            <li>
                                <a href="blog.html" class="ajax" >News</a>
                            </li>
                            <li>
                                <a href="contacts.html" class="ajax">Contacts</a>
                            </li>
                            <li>
                                <a href="#">Pages </a>
                                <!--second level -->
                                <ul>
                                    <li>
                                        <a href="#">Home</a>
                                        <!--third  level -->
                                        <ul>
                                            <li><a href="index.html" class="ajax">Slider</a></li>
                                            <li><a href="index2.html" class="ajax">Carousel</a></li>
                                            <li><a href="index3.html" class="ajax">Slideshow</a></li>
                                            <li><a href="index4.html" class="ajax">Video</a></li>
                                            <li><a href="index5.html" class="ajax">Paallax Image</a></li>
                                            <li><a href="onepage.html" target="_blank">One page </a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li>
                                        <a href="#">Portfolio</a>
                                        <!--third  level -->
                                        <ul>
                                            <li><a href="portfolio.html" class="ajax">Horizontal</a></li>
                                            <li><a href="portfolio2.html" class="ajax">Vertical </a></li>
                                            <li><a href="portfolio3.html" class="ajax">Sidebar Filter </a></li>
                                            <li><a href="portfolio4.html" class="ajax">Portfolio Grid</a></li>
                                            <li><a href="portfolio5.html" class="ajax">Portfolio Grid 2</a></li>
                                            <li><a href="portfolio-single.html"  class="ajax">Portfolio Single</a></li>
                                            <li><a href="portfolio-single2.html"  class="ajax">Portfolio Single 2</a></li>
                                            <li><a href="portfolio-single3.html"  class="ajax">Portfolio Single 3</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li><a href="blog-single.html"  class="ajax">Blog Single</a></li>
                                    <li><a href="404.html" class="ajax">404</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
                <!--  navigation --> 
                <div class="header-contacts">
                    <ul>
                        <li><span> Call: </span> <a href="tel:+4(897)56412322">+4(897)56412322</a></li>
                        <li><span> Write: </span> <a href="mailto:ecrait@domain.com">ecrait@domain.com</a></li>
                    </ul>
                </div>
                <!-- navigation  end -->				
                <!-- nav-button-wrap-->
                <div class="nav-button_container">
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->					
            </header>
            <!-- main-header end-->
            <!-- share btn-->			
            <div class="share-button-wrap showshare">
                <div class="share-button_title">Share</div>
                <div class="share-button"><span></span></div>
            </div>
            <!-- share btn end-->				
            <!-- aside-column -->
            <div class="aside-column">
                <div class="progress-bar-wrap">
                    <div class="progress-bar-container">
                        <div class="progress-bar"></div>
                    </div>
                </div>
                <div class="aside-social">
                    <ul>
                        <li><a href="#" target="_blank">Fb</a></li>
                        <li><a href="#" target="_blank">In</a></li>
                        <li><a href="#" target="_blank">Tw</a></li>
                        <li><a href="#" target="_blank">Be</a></li>
                    </ul>
                </div>
            </div>
            <!-- aside-column end -->
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder" data-pagetitle="Portfolio Vertical">
                    <div class="filters-nav fixed-filters-nav  scroll-fixed-column-content">
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                        </div>
                        <div class="gallery-filter_btn show-filter">Filters</div>
                        <div class="gallery-filters inline-gallery-filters init_hidden_filter">
                            <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*"><span class="num-all"></span>  All Projects</a>
                            <a href="#" class="gallery-filter" data-filter=".interior"> Interior</a>
                            <a href="#" class="gallery-filter" data-filter=".construction"> Construction</a>
                            <a href="#" class="gallery-filter" data-filter=".design"> Design</a>
                            <a href="#" class="gallery-filter" data-filter=".houses">Houses</a>
                        </div>
                        <div class="fixed-inline-filter_counter">
                            <span class="num-album"></span>
                            <span class="num-album_total">12</span>
                        </div>
                    </div>
                    <!-- content -->
                    <div class="content" data-pagetitle="Portfolio Style 1">
                        <!-- section -->
                        <div class="gallery-items-container  ff_container  fw_gic" id="port-scroll">
                            <div class="gallery-items init_hoverdir lightgallery gi_fw  three_columns nogi">
                                <!-- gallery-item-->
                                <div class="gallery-item    interior design">
                                    <div class="grid-item-holder">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Interior</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Trinity River Audubon Centre</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
                                <!-- gallery-item-->
                                <div class="gallery-item  houses construction">
                                    <div class="grid-item-holder">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Interior</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Petronas Tower</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
                                <!-- gallery-item-->
                                <div class="gallery-item  interior">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Interior</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>One World Trade Center</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
                                <!-- gallery-item-->
                                <div class="gallery-item  houses">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Design  </a> <a href="#"> Interior</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Wood River Ships Center</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->                           
                                <!-- gallery-item-->
                                <div class="gallery-item  construction interior">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Branding</a> <a href="#"> Interior</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Theatre de Stoep</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->                            
                                <!-- gallery-item-->
                                <div class="gallery-item    design">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Branding</a> <a href="#"> Architecture</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>White Walls Hotel</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->                            
                                <!-- gallery-item-->
                                <div class="gallery-item  construction">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Design</a> <a href="#"> Architecture</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Spire Edge Center</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->                            
                                <!-- gallery-item-->
                                <div class="gallery-item  interior  houses">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Houses</a> <a href="#"> Architecture</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Family Appartment</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->  
                                <!-- gallery-item-->
                                <div class="gallery-item  construction interior">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Branding</a> <a href="#"> Interior</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Theatre de Stoep</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->                            
                                <!-- gallery-item-->
                                <div class="gallery-item    design">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Branding</a> <a href="#"> Architecture</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>White Walls Hotel</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->                            
                                <!-- gallery-item-->
                                <div class="gallery-item  construction">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Design</a> <a href="#"> Architecture</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Art Family Residence</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end--> 
                                <!-- gallery-item-->
                                <div class="gallery-item  construction">
                                    <div class="grid-item-holder hov_zoom">
                                        <img  src="images/folio/1.jpg"    alt="">
                                        <div class="grid-det">
                                            <div class="grid-det_category"><a href="#">Design</a> <a href="#"> Architecture</a></div>
                                            <div class="grid-det-item">
                                                <span class="pr_num"></span>
                                                <a href="portfolio-single.html" class="grid-det_link ajax"><span>Art Family Residence</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- gallery-item end-->
								
                            </div>
                            <div class="gi_dec fs-wrapper">
                                <div class="container full-height">
                                    <div class="  border-box_item2 full-height">								   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- section end -->			
                    </div>
                    <!-- content end -->
                    <!-- share-wrapper-->
                    <div class="share-wrapper  isShare">
                        <div class="share-container fl-wrap  isShare"></div>
                    </div>
                    <!-- share-wrapper  end -->					
                </div>
                <!-- content-holder end  --> 			
            </div>
            <!-- wrapper end  -->				
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->			
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>