<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ecrait - Responsive  Architecture Interior Template</title>
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>
    <body>
        <!-- loader   -->
        <div class="loader">
            <div class="spinner">
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- loader  end-->
        <!--main start -->
        <div id="main">
            <!-- main-header -->
            <header class="main-header">
                <a href="index.html" class="logo-holder ajax">
                <img src="images/logo.png" alt="">
                </a>
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="index.html" class="ajax">Home</a>
                            </li>
                            <li><a href="portfolio.html"  class="act-link ajax">Portfolio</a></li>
                            <li>
                                <a href="about.html"  class="ajax">About</a>
                            </li>
                            <li>
                                <a href="blog.html" class="ajax" >News</a>
                            </li>
                            <li>
                                <a href="contacts.html" class="ajax">Contacts</a>
                            </li>
                            <li>
                                <a href="#">Pages </a>
                                <!--second level -->
                                <ul>
                                    <li>
                                        <a href="#">Home</a>
                                        <!--third  level -->
                                        <ul>
                                            <li><a href="index.html" class="ajax">Slider</a></li>
                                            <li><a href="index2.html" class="ajax">Carousel</a></li>
                                            <li><a href="index3.html" class="ajax">Slideshow</a></li>
                                            <li><a href="index4.html" class="ajax">Video</a></li>
                                            <li><a href="index5.html" class="ajax">Paallax Image</a></li>
                                            <li><a href="onepage.html" target="_blank">One page </a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li>
                                        <a href="#">Portfolio</a>
                                        <!--third  level -->
                                        <ul>
                                            <li><a href="portfolio.html" class="ajax">Horizontal</a></li>
                                            <li><a href="portfolio2.html" class="ajax">Vertical </a></li>
                                            <li><a href="portfolio3.html" class="ajax">Sidebar Filter </a></li>
                                            <li><a href="portfolio4.html" class="ajax">Portfolio Grid</a></li>
                                            <li><a href="portfolio5.html" class="ajax">Portfolio Grid 2</a></li>
                                            <li><a href="portfolio-single.html"  class="ajax">Portfolio Single</a></li>
                                            <li><a href="portfolio-single2.html"  class="ajax">Portfolio Single 2</a></li>
                                            <li><a href="portfolio-single3.html"  class="ajax">Portfolio Single 3</a></li>
                                        </ul>
                                        <!--third level end-->
                                    </li>
                                    <li><a href="blog-single.html"  class="ajax">Blog Single</a></li>
                                    <li><a href="404.html" class="ajax">404</a></li>
                                </ul>
                                <!--second level end-->
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
                <!--  navigation --> 
                <div class="header-contacts">
                    <ul>
                        <li><span> Call: </span> <a href="tel:+4(897)56412322">+4(897)56412322</a></li>
                        <li><span> Write: </span> <a href="mailto:ecrait@domain.com">ecrait@domain.com</a></li>
                    </ul>
                </div>
                <!-- navigation  end -->				
                <!-- nav-button-wrap-->
                <div class="nav-button_container">
                    <div class="nav-button but-hol">
                        <span  class="ncs"></span>
                        <span class="nos"></span>
                        <span class="nbs"></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->					
            </header>
            <!-- main-header end-->
            <!-- share btn-->			
            <div class="share-button-wrap showshare">
                <div class="share-button_title">Share</div>
                <div class="share-button"><span></span></div>
            </div>
            <!-- share btn end-->				
            <!-- aside-column -->
            <div class="aside-column">
                <div class="progress-bar-wrap">
                    <div class="progress-bar-container">
                        <div class="progress-bar"></div>
                    </div>
                </div>
                <div class="aside-social">
                    <ul>
                        <li><a href="#" target="_blank">Fb</a></li>
                        <li><a href="#" target="_blank">In</a></li>
                        <li><a href="#" target="_blank">Tw</a></li>
                        <li><a href="#" target="_blank">Be</a></li>
                    </ul>
                </div>
            </div>
            <!-- aside-column end -->
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content-holder -->
                <div class="content-holder" data-pagetitle="Project Single 2">
                    <!-- content -->
                    <div class="content">
                        <!-- section -->
                        <section class="content-section   dark-section">
                            <div class="container">
                                <div class="content-item border-box_item2 hero_section hs2  hero_section_dec">
                                    <div class="hero_section_content">
                                        <div class="hhw_header">Our Portfolio</div>
                                        <h2>Private house in London</h2>
                                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar.</h4>
                                    </div>
                                    <div class="hero-con-aside">
                                        <div class="hero-con-aside_dec"></div>
                                        <a href="#sec2" class="strt_btn custom-scroll-link">
                                            <span>Start Explore</span>
                                            <div class="scroll-down-wrap">
                                                <div class="mousey">
                                                    <div class="scroller"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="hero-con-aside_dec2"></div>
                                    <div class="hero-con_dec"></div>
                                </div>
                                <div class="hero-promo-wrap">
                                    <div class="hero-promo-btn" id="html5-videos" data-html="#video1"><span><i class="fas fa-play"></i></span>Play Video Presentation </div>
                                </div>
                                <!-- Hidden video div -->
                                <div style="display:none;" id="video1" class="popup_video" data-videolink="video/1.mp4">
                                    <video class="lg-video-object lg-html5" controls preload="none">
                                        <source src="/" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                            <div class="fs-wrapper parallax-section_bg">
                                <div class="overlay"></div>
                                <div class="bg" data-bg="images/bg/1.jpg"></div>
                            </div>
                        </section>
                        <!-- section end -->	
                        <!-- section -->
                        <section class="content-section cs_dec cs_dec3" id="sec2">
                            <div class="container">
                                <div class="content-item border-box_item">
                                    <div class="grid-column-container grid-sb-column">
                                        <div class="grid-column-content grid-column-content_dec grid-column-content_dec2">
                                            <div class="content-item">
                                                <div class="single-gallery-grid">
                                                    <!-- portfolio start -->
                                                    <div class="gallery-items  gi_fw three_columns min-pad lightgallery">
                                                        <!-- gallery-item-->
                                                        <div class="gallery-item">
                                                            <div class="grid-item-holder">
                                                                <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                            </div>
                                                        </div>
                                                        <!-- gallery-item end-->
                                                        <!-- gallery-item-->
                                                        <div class="gallery-item ">
                                                            <div class="grid-item-holder">
                                                                <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                            </div>
                                                        </div>
                                                        <!-- gallery-item end-->                           
                                                        <!-- gallery-item-->
                                                        <div class="gallery-item">
                                                            <div class="grid-item-holder">
                                                                <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                            </div>
                                                        </div>
                                                        <!-- gallery-item end-->                            
                                                        <!-- gallery-item-->
                                                        <div class="gallery-item  gallery-item-second">
                                                            <div class="grid-item-holder">
                                                                <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                            </div>
                                                        </div>
                                                        <!-- gallery-item end-->                            
                                                        <!-- gallery-item-->
                                                        <div class="gallery-item ">
                                                            <div class="grid-item-holder">
                                                                <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                            </div>
                                                        </div>
                                                        <!-- gallery-item end-->                            
                                                        <!-- gallery-item-->
                                                        <div class="gallery-item ">
                                                            <div class="grid-item-holder">
                                                                <a href="images/folio/1.jpg" class="popup-image"><img  src="images/folio/1.jpg"    alt=""></a>
                                                            </div>
                                                        </div>
                                                        <!-- gallery-item end-->                           
                                                    </div>
                                                    <!-- portfolio end --> 	
                                                </div>
                                                <div class="content_box_item">
                                                    <h3>Project Info</h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                    </p>
                                                    <p>Quisque varius eros ac purus dignissim.
                                                        Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                        Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                                    </p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit.  
                                                    </p>
                                                    <!--ps-facts-wrapper-->
                                                    <div class="ps-facts-wrapper">
                                                        <!--ps-facts-item-->
                                                        <div class="ps-facts-item">
                                                            <span>01.</span>
                                                            <h4>Project Size:</h4>
                                                            <h5>1,420 m2</h5>
                                                        </div>
                                                        <!--ps-facts-item end-->
                                                        <!--ps-facts-item-->
                                                        <div class="ps-facts-item">
                                                            <span>02.</span>
                                                            <h4>Number of floors:</h4>
                                                            <h5>Two</h5>
                                                        </div>
                                                        <!--ps-facts-item end-->										
                                                        <!--ps-facts-item-->
                                                        <div class="ps-facts-item">
                                                            <span>03.</span>
                                                            <h4>Yard Metres:</h4>
                                                            <h5>2,710 m2</h5>
                                                        </div>
                                                        <!--ps-facts-item end-->										
                                                        <!--ps-facts-item-->
                                                        <div class="ps-facts-item">
                                                            <span>04.</span>
                                                            <h4>Number of Rooms:</h4>
                                                            <h5>Four</h5>
                                                        </div>
                                                        <!--ps-facts-item end-->										
                                                    </div>
                                                    <!--ps-facts-wrapper end-->												
                                                </div>
                                                <div class="toogle-wrap">
                                                    <!-- tooglle-item -->
                                                    <div class="toogle-item toogle-item_vis">
                                                        <div class="toglle-header"> Concept for Project <span><i class="far fa-angle-down"></i></span></div>
                                                        <div class="toglle-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                                        </div>
                                                    </div>
                                                    <!-- tooglle-item end -->
                                                    <!-- tooglle-item -->
                                                    <div class="toogle-item">
                                                        <div class="toglle-header">  Suport and Development<span><i class="far fa-angle-down"></i></span></div>
                                                        <div class="toglle-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                                        </div>
                                                    </div>
                                                    <!-- tooglle-item end -->
                                                    <!-- tooglle-item -->
                                                    <div class="toogle-item">
                                                        <div class="toglle-header">Project Numbers<span><i class="far fa-angle-down"></i></span></div>
                                                        <div class="toglle-content">
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat .</p>
                                                        </div>
                                                    </div>
                                                    <!-- tooglle-item end -->
                                                </div>
                                            </div>
                                            <!--content-nav_holder-->            
                                            <div class="content-nav_holder">
                                                <div class="content-nav">
                                                    <ul>
                                                        <li>
                                                            <a href="portfolio-single.html" class="ln ajax"><span>Prev -<strong> Forever Young</strong></span> <i class="far fa-angle-left"></i></a>
                                                            <div class="content-nav-media">
                                                                <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="portfolio-single.html" class="rn ajax"><span >Next -<strong> My Blooming Backyard</strong></span> <i class="far fa-angle-right"></i></a>
                                                            <div class="content-nav-media">
                                                                <div class="bg"  data-bg="images/folio/1.jpg"></div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <a href="portfolio.html" class="cn_all ajax"><span class="pr_btn_dots"></span></a>
                                                </div>
                                            </div>
                                            <!--content-nav_holder end -->									
                                        </div>
                                        <!--sidebar-->
                                        <div class="grid-column-sb grid-column-sb_dec gray-bg">
                                            <div class="grid-column-sb_dec_item"></div>
                                            <!--fixed-bar-content  -->
                                            <div class="fixed-bar-content">
                                                <div class="fixed-bar_item_container fbi_init">
                                                    <div class="fixed-bar_item">
                                                        <div class="box-widget_title"> Project Details</div>
                                                        <div class="pr-list">
                                                            <ul>
                                                                <li><span>Date :</span> 26.05.2022 </li>
                                                                <li><span>Client :</span> Themeforest </li>
                                                                <li><span>Status :</span> Completed </li>
                                                                <li><span>Location : </span>  <a href="https://goo.gl/maps/UzN5m" target="_blank"> NewYork USA  </a></li>
                                                            </ul>
                                                        </div>
                                                        <a href="#" target="_blank" class="fixed-bar_item_btn"><span>View Project</span> <i class="fal fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--fixed-bar-content  end-->
                                        </div>
                                        <!--sidebar end-->
                                    </div>
                                    <div class="limit-box"></div>
                                </div>
                            </div>
                        </section>
                        <!-- section end -->			
                    </div>
                    <!-- content end -->
                    <!-- main-footer -->
                    <div class="height-emulator"></div>
                    <footer class="main-footer">
                        <div class="container">
                            <div class="footer-inner border-box_item2">
                                <div class="grid-column-container grid-3-column">
                                    <div class="footer-inner_item">
                                        <div class="footer-box">
                                            <div class="footer-content-header">About Studio</div>
                                            <div class="footer-about">
                                                <p>Our team takes over everything, from an idea and concept development to realization. We believe in traditions and incorporate them within our innovations.Client is the soul of the project.</p>
                                            </div>
                                        </div>
                                        <div class="arrow_dec_wrap ardw_white">
                                            <div class="arrow_dec"></div>
                                        </div>
                                    </div>
                                    <div class="footer-inner_item">
                                        <div class="footer-box">
                                            <div class="footer-content-header">Terris Contacts</div>
                                            <!-- footer-contacts-->
                                            <div class="footer-contacts">
                                                <ul>
                                                    <li><span>Call:</span><a href="#">+489756412322</a></li>
                                                    <li><span>Write  :</span><a href="#">yourmail@domain.com</a></li>
                                                    <li><span>Find us : </span><a href="#">USA 27TH Brooklyn NY</a></li>
                                                </ul>
                                            </div>
                                            <!-- footer contacts end -->
                                        </div>
                                        <div class="footer-social">
                                            <ul>
                                                <li><a href="#" target="_blank">Fb</a></li>
                                                <li><a href="#" target="_blank">In</a></li>
                                                <li><a href="#" target="_blank">Tw</a></li>
                                                <li><a href="#" target="_blank">Be</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer-inner_item">
                                        <div class="subcribe-form">
                                            <div class="subcribe_title">Subscribe To Our Newsletter</div>
                                            <form id="subscribe">
                                                <label for="subscribe-email" class="subscribe-message"></label>
                                                <input class="enteremail" name="email" id="subscribe-email" placeholder="email" spellcheck="false" type="text">
                                                <button type="submit" id="subscribe-button" class="subscribe-button">Submit <i class="fal fa-long-arrow-right"></i></button>
                                            </form>
                                        </div>
                                        <div class="footer-dec"></div>
                                    </div>
                                </div>
                                <div class="sub-footer">
                                    <div class="policy-box">
                                        <span>&#169; Ecrait 2024   -  All rights reserved. </span>
                                    </div>
                                    <div class="to-top to-top_btn"><i class="far fa-chevron-up"></i></div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end -->
                    <!-- share-wrapper-->
                    <div class="share-wrapper  isShare">
                        <div class="share-container fl-wrap  isShare"></div>
                    </div>
                    <!-- share-wrapper  end -->		
                </div>
                <!-- content-holder end  --> 			
            </div>
            <!-- wrapper end  -->				
            <!-- cursor-->
            <div class="element">
                <div class="element-item"></div>
            </div>
            <!-- cursor end-->				
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->   
        <script  src="js/jquery.min.js"></script>
        <script  src="js/plugins.js"></script>
        <script  src="js/scripts.js"></script>
    </body>
</html>