#belcms_section_members_main {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}
.belcms_section_members_main_users {
	display: block;
	background-color: rgba(0,0,0,.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	margin-bottom: 1.25rem;
}
.belcms_section_members_main_users_h4 {
	display: block !important;
	text-align: center !important;
	text-decoration: none !important;
	font-size: small !important;
	border: none !important;
	margin: 5px auto !important;
	font-weight: 400 !important;
	padding: 1.25rem;
}
.belcms_section_members_main_avatar {
	padding: 1.25rem;
}
.belcms_section_members_main_avatar > img {
	background: #b3c2d2;
	border-radius: 50%;
	position: relative;
	height: 50px;
	width: 50px;
	display: block;
	margin: auto;
}
.bel_cms_section_members_main_ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 1.25rem;
}
.bel_cms_section_members_main_ul li {
	background-color: rgba(0,0,0,.5);
	display: inline-block;
	border-radius: .25rem;
	width: 25px;
	height: 25px;
	text-align: center;
	margin: 3px auto;
}
.bel_cms_section_members_main_ul li.active {
	background-color: rgba(242, 242, 242, 0.8);
	color: rgba(0,0,0,.8);
}
.bel_cms_section_members_main_ul li a {
	padding: 5px;
}
.bel_cms_section_members_main_contact {
	display: block;
	width: 100%;
	height: 35px;
	background-color: rgba(0,0,0,.5);
	color: rgba(242, 242, 242, 0.8);
	padding: 0 15px;
	text-align: center;
}
.bel_cms_section_members_main_contact a{
	line-height: 30px;
}






.belcms_section_members_detail_infos {
	width: 100%;
	display: block;
}
.belcms_section_members_detail_infos ul {
	width: 100%;
	list-style: none;
	padding: 0; padding: 0;
	display: table;
	border-bottom: 1px solid #ccc;
}
.belcms_section_members_detail_infos ul li {
	width: 100%;
	font-weight: normal !important;
	padding: 8px;
	border-bottom: 1px dotted #ccc;
	display: table-row;
}
.belcms_section_members_detail_infos ul li strong {
	font-weight: bolder;
	display: table-cell;
	text-align: left;
	border-spacing:8px;
}
#belcms_section_members_view {
	display: block;
	max-width: 100%;
	overflow: hidden;
	color: #212529;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
#belcms_section_members_view_left {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
	padding-right: 10px;
	padding-left: 10px;
}
#belcms_section_members_view_right {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
	padding-right: 10px;
	padding-left: 10px;
}
#belcms_section_members_view_avatar {
	max-width: 100%;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
	text-align: center;
}
#belcms_section_members_view_avatar img {
	max-width: 100%;
	height: auto;
	margin: auto;
}
#bel_cms_members_view_lt_grps {
	width: 100%;
	height: auto;
	border: 1px solid #ccc;
	padding: 3px;
	margin-top: 15px;
}
#bel_cms_members_view_lt_grps ul {
	display: block;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
#bel_cms_members_view_lt_grps ul li {
	display: block;
	width: 100%;
	margin-bottom: 5px;
	line-height: 20px;
	text-align: left;
	padding-left: 15px;
}
#bel_cms_members_view_lt_grps ul li:last-child {
	margin-bottom: 0;
}
#bel_cms_members_view_lt_grps ul li.title {
	text-align: center;
	background: rgba(0,0,0,.15);
	line-height: 26px;
}