/*     Index      */
#belcms_section_market_main {
	display: block;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}
#belcms_section_market_content {
	display: flex;
	flex-wrap: wrap;
	flex: auto;
	flex: 1 0 21%;
}
.belcms_section_market_object {
	flex: auto;
	background-color: #FFF;
	flex: initial;
	margin: 0 1%;
	padding: 2px;
	border-radius: 4px;
}
.belcms_section_market_object img {
	display: block;
	width: 250px;
	height: 165px;
	border-radius: 4px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	opacity: 0.8;
	transition: opacity .2s ease-out;
}
.belcms_section_market_object img:hover {
	opacity: 1;
	transition: opacity .2s linear;
}
.belcms_section_market_infos {
	display: block;
	overflow: hidden;
	padding: 10px 15px;
}
.belcms_section_market_infos > a {
	display: block;
	float: left;
	text-decoration: none;
	font-weight: bold;
	color: #0c0c0c;
}
.belcms_section_market_infos > span {
	display: block;
	font-weight: bold;
	float: right;
	color: greenyellow;
}
.belcms_section_market_date {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 0 15px;
}
.belcms_section_market_date i {
	font-size: 10px;
	float: left;
}
.belcms_section_market_date span {
	float: right;
	color: red;
}

#belcms_section_market_cat {
	display: block;
	margin-bottom: 20px;
}
#belcms_section_market_cat ul {
	display: flex;
	list-style: none;
	margin: auto;
	width: 100%;
	align-items: center;
	justify-content: center;
}
#belcms_section_market_cat ul li {
	margin: 0 1%;
}
#belcms_section_market_cat ul li a {
	display: block;
	padding: 1px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}
#belcms_section_market_cat ul li a img {
	width: 100px;
	height: 100px;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
	border-radius: 50%;
}
/*     Buy      */
#belcms_section_market_buy {
	display: block;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}
#belcms_section_market_infos {
	display: flex;
	flex-wrap: wrap;
	flex: auto;
	background-color: #f5f5f5;;
	padding: 20px;
	border: 2px solid #eee;
	border-radius: 2px;
}
#belcms_section_market_img {
	flex: 0 0 33%; 
}
#belcms_section_market_description {
	flex: 0 0 67%; 
	background-color: #FFF;;
	padding: 20px;
	border: 2px solid #CCC;
	border-radius: 2px;
}
#belcms_section_market_description * {
	text-align: justify !important;
}
.belcms_section_market_img_block {
	display: block;
	clear: both;
	margin-bottom: 10px;
}
.belcms_section_market_img_block img {
	max-width: 150px;
	margin: auto;
	text-align: center;
	border-radius: 4px;
}
.belcms_section_market_img_block .image-popup {
	position: relative;
}
#belcms_section_market_content {
	width: 100%;
}
#belcms_section_market_content ul {
	display: block;
	overflow: hidden;
	list-style: none;
	width: 100%;
	margin: 20px auto;
}
#belcms_section_market_content ul li {
	display: flex;
	line-height: 30px;
	height: 30px;
	border-bottom: 1px dotted;
}
#belcms_section_market_content ul li span {
	font-weight: bold;
	flex: 0 0 33%; 
}
#belcms_section_market_content ul li span i {
	flex: 0 0 67%;
	text-align: left !important;
}
/*     ADRESS      */
#belcms_section_market_adress {
	display: block;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}
#belcms_section_market_adress h1 {
	margin-bottom: 20px;
	font-weight: bold !important;
}
/*     Right ADRESS      */
#belcms_cart_totals {
	padding: 40px;
	background: #292929;
	position: relative;
}
#belcms_cart_totals:before {
	content: '';
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border: 1px solid rgba(255,255,255,0.2);
	z-index: 2;
	box-shadow: 0px 0px 0px 20px rgba(255,255,255,0.03);
}
#belcms_cart_totals h3 {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	padding-bottom: 20px;
	color: #FFF;
}
#belcms_cart_totals table {
	display: table;
	width: 100%;
	color: #FFF;
}
#belcms_cart_totals table tr {
	display: table-row;
	width: 100%;
}
#belcms_cart_totals table tr td {
	display: table-cell;
	text-align: left !important;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
#belcms_cart_totals button {
	margin-top: 40px;
	height: 48px;
	border: none;
	color: #fff;
	width: 100%;
	cursor: pointer;
	padding: 0 20px;
	font-size: 11px;
	font-weight: 600;
	-webkit-appearance: none;
	position: relative;
	border-radius: 4px;
	z-index: 2;
	font-family: 'Poppins', sans-serif;
	transition: all 0.3s ease-in-out;
}
#belcms_cart_totals button:hover {
	background-color: red !important;
	color: #CCC !important;
}

@media screen and (max-width: 360px) and (min-width: 320px)  {
	#belcms_section_market_infos {
		display: block;
	}
	#belcms_section_market_description,
	#belcms_section_market_img {
		display: block;
		width: 100%;
	}
	#belcms_section_market_content ul {
		display: none;
	}
	#belcms_section_market_buy {
		margin: 10px auto !important;
	}
}
/*     Confirm Achat      */
#belcms_section_market_confirm_content {
	display: flex;
	box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
}
#belcms_market_buy_confirm_infos {
	padding: 0 20px;
}
#belcms_market_buy_confirm_detailed {
	width: 40%;
	max-width: 400px;
}
#belcms_market_buy_confirm {
	display: block;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
}
#belcms_market_buy_confirm_infos {
	width: 60%;
	max-width: calc(100% -400px);
}
#belcms_market_buy_confirm_infos ul {
	display: block;
	list-style: none;
	background-color: #f5f5f5;
	padding: 20px;
	border: 2px solid #eee;
	border-radius: 2px;
	overflow: hidden;
}
#belcms_market_buy_confirm_infos ul li {
	display: block;;
	margin-bottom: 20px;
	overflow: hidden;
}
#belcms_market_buy_confirm_infos ul li > a,
#belcms_market_buy_confirm_infos ul li > div {
	display: block;
	float: left;
	margin-right: 15px;
}
#belcms_market_buy_confirm_infos ul li > div:last-child {
	margin-right: 0;
}
#belcms_market_buy_confirm_infos ul li > div h3 {
	font-weight: bold;
}
.belcms_market_buy_confirm_infos_img img {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
}
#belcms_market_buy_confirm_table {
	display: table;
	border-collapse: collapse;
	width: 100%;
}
#belcms_market_buy_confirm_table tr th {
	text-align: left !important;
	font-weight: bold;
	line-height: 1.5;
	color: #999;
	border-top: none;
	border-bottom: .1rem solid #ebebeb;
	border-top: .1rem solid #ebebeb;
	padding: 10px 15px;
	vertical-align: middle;
}
#belcms_market_buy_confirm_table tbody tr {
	vertical-align: middle;
	border-bottom: .1rem solid #ebebeb;
}
#belcms_market_buy_confirm_table tbody tr:last-child {
	border-bottom: 0;
}
#belcms_market_buy_confirm_table tbody tr td {
	width: auto;
    display: table-cell;
    border-width: 1px;
	text-align: left !important;
	padding: 10px 15px;
	vertical-align: middle;
}
#belcms_market_buy_confirm_table tr td input {
	padding: .85rem 2.6rem;
	height: auto;
	border-color: #dadada;
	background-color: #fff;
	margin: 0;
	width: auto !important;
	padding: 10px 15px !important;
	margin-left: 0;
}
#belcms_market_buy_confirm_table tbody tr td,
#belcms_market_buy_confirm_table tr th.center {
	text-align: center !important;
}
#belcms_market_buy_confirm_table tr td.right,
#belcms_market_buy_confirm_table tr th.right {
	text-align: right !important;
}
#belcms_market_buy_confirm_table tbody tr td.justify {
	text-align: justify !important;
}
#belcms_market_buy_confirm_form_sold input[type="submit"],
#belcms_market_buy_confirm_form_sold input[type="text"] {
	float: left;
	height: 30px !important;;
	padding: 5px 15px !important;;
	font-weight: 300;
	color: #999;
	background-color: #fafafa;
	background-clip: border-box;
	border: 1px solid #ebebeb;
	border-radius: 0;
	margin: 1rem 0;
	transition: all .3s;
	box-shadow: none;
	width: auto !important;
	vertical-align: middle;
	border-right: 0;
}
#belcms_market_buy_confirm_form_sold input[type="submit"] {
	background-color: blue;
	color: #fafafa;
	border-right: 1px solid #ebebeb;
	cursor: pointer;
}
.input_right {
	display: block;
	float: right !important;
}
/*     Liste des Achats      */
#belcms_billing {
	margin: 0;
	padding: 0;
	text-align: left;
}
#belcms_billing h2 {
	display: block;
	margin-bottom: 5px;
	line-height: 22px;
	font-weight: bold;
}
#belcms_billing i {
	display: block;
	margin-bottom: 20px;
}
#belcms_billing_table {
	display: table;
	width: 100%;
	border: 1px solid #ebebeb;
}
#belcms_billing_table thead tr {
	background-color: #fafafa;
	border: 1px solid #ebebeb;
}
#belcms_billing_table thead tr th {
	font-weight: bold;
	border-bottom: 2px solid #ebebeb;
	padding: 5px 10px;
}
#belcms_billing_table tbody tr {
	border-bottom: 1px solid #ebebeb;
}
#belcms_billing_table tbody tr td {
	padding: 5px 10px;
}