.footer-time {
    float: right;
    padding-top: 12px;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: right;
    color: rgba(255,255,255,0.61);
    font-weight: 600;
    display: block;
    color: #FFF;
    line-height: 22px;
}
.container {
    max-width: 1170px;
    width: 97%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    position: relative !important;
}
section#section_user nav ul li i {
	line-height: 50px !important;
}