#belcms_section_page_main {
	display: block;
	max-width: 100%;
	overflow: hidden;
	color: #212529;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
}
.belcms_section_page_detail_infos {
	width: 100%;
	display: block;
}
.belcms_section_page_detail_infos ul {
	width: 100%;
	list-style: none;
	padding: 0; padding: 0;
}
.belcms_section_page_detail_infos ul li {
	display: flex;
	width: 100%;
	font-weight: normal !important;
	padding: 8px;
	border-bottom: 1px dotted #ccc;
	flex-wrap: wrap;
	position: relative;
}
.belcms_section_page_detail_infos ul li i {
	width: auto;
	display: block;
	text-align: right;
	float: right;
	position: absolute;
	right: 15px;
}
.belcms_section_page_detail_infos ul li a {
	display: flex;
	text-align: left;
	margin:auto;
	width: 100%;
}