// Home Page Start
.header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.3) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    &.header-fixed {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        border-color: transparent;
    }
    .navbar-toggler {
        padding-right: 0;
        display: none;
        border: none;
        &:focus {
            box-shadow: none;
        }
        i {
            color: var(--p300);
        }
    }
    .navbar {
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background: #161829;
            opacity: 0.4;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            z-index: -1;
        }
        .navbar-nav{
            ul{
                padding: 10px 0;
            }
            li{
                padding: 5px 0;
            }
            a, button{
                text-transform: capitalize;
                font-weight: 600;
                background-color: transparent;
                color: var(--bs-white);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s;
                &::before {
                    position: absolute;
                    content: "";
                    transform: rotate(0deg);
                    transition: 0.3s;
                    opacity: 0;
                    background-color: var(--p300);
                    width: 30px;
                    height: 1px;
                }
                &.active, &:hover {
                    color: var(--p300);
                    &::before {
                        transform: rotate(-50deg);
                        opacity: 1;
                        transition: 0.3s;
                    }
                }
            }
            .dropdown-menu{
                a, button{
                    display: initial;
                    &:hover{
                        letter-spacing: 1px;
                        transition: 0.5s;
                    }
                    &::after{
                        right: initial;
                    }
                    &::before{
                        display: none;
                    }
                }
            }
        }
        .dropdown-toggle{
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            &::after {
                position: absolute;
                content: "\f105";
                border: none;
                font-family: "FontAwesome";
                font-weight: 400;
                transform: rotate(90deg);
                font-size: 14px;
                right: -10px;
                z-index: -1;
            }
        }
        .dropdown-menu{
            padding-right: 20px;
            transition: all 0.5s;
            transform: translateY(50px) translateX(0);
            button, a{
                padding: 0 10px;
            }
        }
        .dropdown-menu, .sub-menu {
            backdrop-filter: blur(25px);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
            box-shadow: 0px 4px 24px 1px rgba(35,16,94,.25);
            display: block;
            opacity: 0;
            visibility: hidden;
        }
        .navbar-toggler:focus {
            outline: 0;
            box-shadow: none;
        }
        .show-dropdown{
            margin-right: 15px;
            &:hover .dropdown-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0) translateX(0);
            }
        }
        .sub-dropdown{
            position: relative;
            &:hover .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(-5px) translateX(0);
            }
            .dropdown-toggle{
                &::after {
                    transform: rotate(0deg);
                }
            }
            .sub-menu {
                position: absolute;
                left: 150px;
                top: 0;
                z-index: 1;
                transition: all 0.5s;
                a{
                    font-weight: 500;
                }
            }
        }

        @media (max-width: 1199px) {
            .navbar-toggler {
                display: inline-block;
            }
            .navbar-brand img {
                max-width: initial;
            }
            .navbar-collapse .navbar-nav {
                max-height: 250px;
                margin: 20px 0;
                overflow-y: auto;
                margin-bottom: 10px;
                overflow-x: hidden;
                a, button{
                    justify-content: start;
                }
            }
            .dropdown-menu{
                column-count: 1;
            }
            .sub-dropdown .sub-menu {
                position: initial;
                transition: initial;
            }
            .dropdown-menu, .sub-menu {
                opacity: initial;
                visibility: initial;
                transition: initial;
                display: none;
            }
            .dropdown-menu {
                transform: initial;
                transition: initial;
                display: none;
            }
            .dropdown-toggle::after{
                z-index: 0;
            }
            .dropend {
                margin-left: 18px;
            }
            .navbar-collapse .right-area{
                margin-left: 0;
            }
        }

    }
    .contact-info{
        i{
            color: var(--n0);
        }
    }
    &.header-menu {
        z-index: 999;
        overflow: unset;
        .cmn-head{
            cursor: pointer;
            .icon-area{
                width: 32px;
                height: 32px;
                border: 1px solid var(--n700);
                border-radius: 30px;
                i{
                    color: var(--n0);
                }
                .abs-area{
                    right: initial;
                    top: -4px;
                    left: -4px;
                }
            }
        }
        .single-item {
            position: relative;
            &.active {
                .main-area {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }
            }
            .main-area {
                position: absolute;
                top: 50px;
                white-space: nowrap;
                right: 0;
                transform: translateY(150px);
                background-color: var(--n700);
                border: 1px solid var(--n500);
                border-radius: 10px;
                opacity: 0;
                transition: 0.3s;
                visibility: hidden;
                overflow-x: auto;
                min-width: 300px;
                max-height: 70vh;
            }
            .avatar{
                .avatar-img{
                    border-radius: 15px;
                }
            }
            &.profile-area {
                ul{
                    a{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin: 16px 0;
                    }
                    li{
                        &:last-child{
                            border-top: 1px solid var(--n500);
                            border-bottom: 1px solid var(--n500);
                        }
                    }
                }
            }
            &.cart-area{
                padding-left: 200px;
                .close-btn{
                    right: 15px;
                    top: 15px;
                    color: var(--n0);
                }
                .nav-items-wrapper{
                    position: fixed;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    width: 100%;
                    max-width: 500px;
                    min-height: 100vh;
                    overflow-y: auto;
                    background: var(--n800);
                    box-shadow: 0px 7px 16px -2px rgba(88, 82, 129, 0.12);
                    backdrop-filter: blur(22.5px);
                    z-index: 999;
                    transform: translateX(100%);
                    transition: all 1.3s;
                }
                &.active{
                    .nav-items-wrapper{
                        transform: translateX(0);
                    }
                }
                .single-box{
                    border: 1px solid var(--n500);
                    border-radius: 5px;
                }
                .end-area{
                    color: var(--n0);
                }
                .icon-box{
                    img{
                        max-width: 90px;
                        min-width: 90px;
                    }
                }
                .footer-area{
                    .second-btn{
                        background-color: var(--n700);
                        color: var(--n0);
                    }
                }
                .qtySelector{
                    border-radius: 10px;
                    i{
                        cursor: pointer;
                        color: var(--n0);
                        min-width: 32px;
                        min-height: 32px;
                        border-radius: 50%;
                        background-color: var(--n100);
                    }
                    .qtyValue{
                        border: none;
                        padding: 5px;
                        width: 50px;
                        background: transparent;
                        font-weight: bold;
                        color: var(--n0);
                    }
                }
            }
        }
    }
}

// Sidebar Menu
.sidebar-wrapper{
    .side-menubar{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        height: 100vh;
        background: linear-gradient(153.32deg, rgba(255, 255, 255, 0.3) -65.62%, rgba(255, 255, 255, 0.1) 83.28%);
        box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(15px);
        border-right: 1px solid var(--n500);
        width: 100px;
        height: 100vh;
        .sidebar-close{
            span{
                font-size: 10px;
                margin-top: -8px;
            }
            i{
                color: var(--n50);
            }
        }
    }
    .sidebar-content{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.4) 100%);
        box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
        backdrop-filter: blur(25px);
        position: fixed;
        z-index: 9999;
        left: 100px;
        top: 0;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        width: 95%;
        opacity: 0;
        visibility: hidden;
        transition: 1s all;
        .footer-items{
            border-top: 1px solid var(--n300);
            position: absolute;
            max-height: 50vh;
        }
        .single-item{
            border-right: 1px solid var(--n300);
            height: 100%;
            opacity: 0;
            margin-bottom: -65px;
            transition: 1.5s all;
        }
        .navbar-nav{
            gap: 0 !important;
            transition: 1.5s all;
        }
        .header-fixed,
        .header-section{
            height: 50vh;
            align-items: center;
            justify-content: center;
            display: flex !important;
            background: transparent;
            backdrop-filter: blur(0);
            box-shadow: none;
            .navbar::before {
                background-color: transparent;
            }
        }
        .header-section .navbar {
            .navbar-nav {
                flex-direction: row;
                li {
                    position: relative;
                }
                ul {
                    position: absolute;
                }
            }
            .dropdown-toggle::after {
                font-size: 28px;
                right: -24px;
            }
        }
    }
    &.sidebar-active{
        .sidebar-content{
            opacity: 1;
            visibility: visible;
            .single-item{
                opacity: 1;
                margin-bottom: 0;
                transition: 1.5s all;
            }
            .navbar-nav{
                gap: 50px !important;
                transition: 1.5s all;
            }
        }
    }
    .icon-box{
        width: 60px;
        height: 60px;
        background: var(--n700);
        border-radius: 30px;
        i{
            color: var(--p300);
        }
    }
    .header-section.header-fixed{
        box-shadow: none;
    }
}

// Banner Section
.banner-section{
    background-color: var(--n800);
    .banner-content{
        padding: 160px 0;
    }
    .shape-area{
        img{
            position: absolute;
        }
        .shape-1{
            top: 20%;
            left: 5%;
            animation: rotate 35s linear infinite;
        }
        .shape-2{
            left: calc(50% - 250px);
            bottom: 10%;
        }
        .shape-3{
            left: calc(50% - 250px);
            top: 5%;
        }
    }
    .ellipse-area{
        width: 100px;
        height: 100px;
        animation: stretch 5s linear infinite;
        img{
            position: absolute;
        }
        .ellipse-1{
            right: 0;
        }
        .ellipse-2{
            right: 0;
            bottom: 0;
        }
        .ellipse-3{
            bottom: 0;
        }
        &.ellipse-one{
            top: 15%;
            left: 15%;
        }
        &.ellipse-two{
            top: 18%;
            left: 0%;
            .ellipse-1{
                right: 0;
            }
            .ellipse-2{
                right: 0;
                bottom: 50%;
            }
            .ellipse-3{
                bottom: 0;
            }
            .ellipse-5{
                bottom: 0;
                right: 25%;
            }
        }
        &.ellipse-three{
            top: 40%;
            left: 5%;
            .ellipse-1{
                right: 0;
            }
        }
        &.ellipse-four{
            left: calc(50% - -50px);
            bottom: calc(50% - 160px);
        }
    }
    .single-slider{
        background-color: var(--n0);
        h3{
            color: var(--n800);
        }
        img{
            width: 100%;
        }
    }
    .slick-arrow{
        background-color: transparent;
        border-color: var(--p75);
        &:hover{
            border-color: var(--p300);
        }
    }
    &.index-one{
        position: relative;
        z-index: 1;
        &::before, &::after{
            position: absolute;
            content: "";
            width: 395px;
            height: 120%;
            bottom: 0;
            background: var(--p500);
            transform: skew(-17deg);
            z-index: -1;
        }
        &::before{
            right: 15%;
            animation: MoveDownUp 5s linear alternate;
        }
        &::after{
            width: 20px;
            right: 12%;
            animation:  MoveUpDown 5s linear infinite alternate;
        }
        .overlay{
            position: relative;
            z-index: 1;
            &::before, &::after{
                position: absolute;
                content: "";
                width: 395px;
                height: 300px;
                bottom: 0;
                background: var(--gradient-one-color);
                transform: skew(-17deg);
                z-index: -1;
            }
            &::before{
                left: 0;
                animation: MoveDownUp 5s linear infinite alternate;
            }
            &::after{
                width: 20px;
                left: 22%;
                animation:  MoveUpDown 5s linear infinite alternate;
            }
        }
    }
    &.index-two{
        background-image: url(../images/index-2-bg.png);
        background-position: center left;
        background-repeat: no-repeat;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            z-index: 0;
            background: var(--n800);
            opacity: 0.85;
        }
        .banner-content{
            padding: 230px 0 0;
        }
        .btn-item{
            a{
                span, i{
                    color: var(--n900);
                    font-weight: 600;
                    transition: all 0.5s;
                }
                letter-spacing: 8px;
                text-transform: uppercase;
                font-weight: 600;
                z-index: 0;
                transition: all 0.3s;
                &::before, &::after{
                    position: absolute;
                    content: '';
                    background-color: var(--p300);
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    transition: all 0.3s;
                }
                &::after{
                    background-color: var(--p500);
                    bottom: -100%;
                    visibility: hidden;
                    opacity: 0;
                }
                &:hover{
                    &::before, &::after{
                        bottom: 0;
                        height: 120%;
                    }
                    &::after{
                        visibility: visible;
                        opacity: 1;
                        transition: all 0.5s;
                    }
                    i{
                        color: var(--n0);
                    }
                    span{
                        transform: translateY(-10px);
                        letter-spacing: 12px;
                        color: var(--n0);
                        transition: all 0.5s;
                    }
                }
                &.second{
                    &::before{
                        background-color: transparent;
                    }
                    span, i{
                        color: var(--n0);
                    }
                    i{
                        transform: rotate(45deg);
                    }
                }
            }
            i{
                right: 10%;
                transform: rotate(180deg);
            }
        }
        .box-items{
            z-index: 0;
        }
        .shape-area .shape-1 {
            top: -5%;
            left: 18%;
            animation: rotate 35s linear infinite;
        }
        .shape-area .shape-2 {
            top: 15%;
            left: 1%;
            animation: rotate 35s linear infinite;
        }
    }
    &.index-three{
        background-image: url(../images/index-3-bg.png);
        background-position: center left;
        background-repeat: no-repeat;
        position: relative;
        .playing-now{
            .active-now{
                span{
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background: var(--s300);
                        right: -10px;
                        top: 0;
                    }
                }
                &.now{
                    span{
                        &::before{
                            background-color: var(--p300);
                        }
                    }
                }
            }
        }
        .banner-content{
            padding: 260px 0;
        }
        .shape-areas{
            img{
                position: absolute;
            }
            .shape-1{
                left: calc(50% - 250px);
                bottom: 5%;
            }
            .shape-2{
                left: calc(50% - 190px);
                top: 3%;
            }
        }
    }
    &.inner-banner {
        .banner-content {
            padding: 210px 0 130px;
            .breadcrumb-area {
                background: var(--n700);
                border-radius: 12px 12px 0px 0px;
                .breadcrumb {
                    a{
                        color: var(--n0);
                    }
                    li {
                        display: flex;
                        align-items: center;
                        color: var(--n0);
                        padding-left: 32px;
                        margin-left: 12px;
                        position: relative;
                        &.active{
                            color: var(--p300);
                        }
                    }
                    .breadcrumb-item+.breadcrumb-item::before {
                        content: "chevron_right";
                        font-family: "Material Symbols Outlined";
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        font-size: 24px;
                        color: var(--n0);
                    }
                }
            }
        }
    }
    &.about{
        background-image: url(../images/about-banner-illus.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        .shape-area{
            .shape-1 {
                top: -10%;
                left: 20%;
            }
            .shape-2 {
                top: 30%;
                left: 5%;
                animation: rotate 35s linear infinite;
            }
        }
    }
    &.career{
        background-image: url(../images/career-banner-illus.png);
    }
    &.game{
        background-image: url(../images/game-banner-illus.png);
    }
    &.services{
        background-image: url(../images/services-banner-illus.png);
    }
    &.services-details{
        background-image: url(../images/services-details-banner-illus.png);
    }
    &.pricing-plan{
        background-image: url(../images/pricing-plan-banner-illus.png);
    }
    &.store{
        background-image: url(../images/store-banner-illus.png);
        background-size: cover;
        .shape-area{
            .shape-1 {
                top: -10%;
                left: 20%;
            }
            .shape-2 {
                top: 30%;
                left: 5%;
                animation: rotate 35s linear infinite;
            }
        }
    }
    &.game-details{
        background-image: url(../images/game-details-banner-illus.png);
        .banner-content{
            padding: 450px 0 180px;
        }
        .playing-now{
            background: var(--n800);
            border-radius: 12px;
            .online{
                border-right: 1px solid var(--n0);
            }
            span{
                position: relative;
                color: var(--p300);
                &::before{
                    position: absolute;
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: var(--p300);
                    right: -10px;
                    top: 0;
                }
            }
            .now{
                span{
                    &::before{
                        background-color: var(--warning-color);
                    }
                }
            }
        }
    }
}

// Footer Section
.footer-section{
    .social-items{
        background: var(--n700);
        li{
            width: 100%;
            padding-top: 24px;
            padding-bottom: 24px;
            border-right: 1px solid var(--n900);
        }
    }
    .location-area{
        .icon-box{
            width: 60px;
            height: 60px;
            background: var(--n700);
            border-radius: 30px;
        }
        i{
            color: var(--p300);
        }
    }
    .brand-area{
        color: var(--n0);
        font-weight: 600;
        letter-spacing: 0.17em;
        text-transform: uppercase;
    }
    .form-group{
        border: 1px solid var(--n600);
        border-radius: 16px;
    }
    .content-right{
        background-color: var(--n800);
    }
    .footer-bottom{
        background-color: var(--n900);
        p a{
            color: var(--p300);
        }
    }
    .contact-location{
        .icon-area{
            min-width: 60px;
            height: 60px;
            background: var(--n700);
            border-radius: 30px;
            i{
                color: var(--p300);
            }
        }
    }
    .footer-wrapper{
        background: var(--n800);
    }
    .links{
        li{
            a{
                position: relative;
                &::before {
                    content: "chevron_right";
                    font-family: "Material Symbols Outlined";
                    z-index: 1;
                    position: absolute;
                    left: -20px;
                    font-size: 16px;
                    width: initial;
                    height: initial;
                    background-image: none;
                    transition: 0.3s all;
                }
                &:hover{
                    padding-left: 15px;
                    transition: 0.3s all;
                    &::before{
                        left: 0;
                    }
                }
            }
        }
    }
    &.index-two{
        position: relative;
        background-image: url(../images/abs-items/footer-ellipse-2.png);
        background-position: top 65px center;
    }
    .form-contact{
        background: var(--p500);
        border-radius: 16px;
        .input-area{
            border: 1px solid var(--n30);
        }
    }
    .get-start{
        a{
            color: var(--p300);
            text-decoration: underline;
        }
    }
    .footer-bottom{
        background: var(--n700);
        border-radius: 32px 32px 0px 0px;
    }
}

// Box Items
.box-items{
    z-index: -1;
    top: -35px;
    .single-item{
        width: 145px;
        height: 149px;
        border: 1px solid var(--n700);
        transition: 0.3s all;
        &.active-item{
            background: var(--p500);
        }
        &:hover{
            background: var(--p500);
            opacity: 0.3;
        }
    }
}