// About block
.about-block{
    .counter-item{
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-color: var(--p300);
            width: 86px;
            height: 1px;
            bottom: 0;
        }
    }
    .fs-three, .display-four{
        span{
            color: var(--n0);
        }
    }
    .experience{
        border: 1px solid var(--p300);
        .experience-wrap{
            background-color: var(--p300);
            .display-four{
                span{
                    color: var(--n800);
                }
            }
            span{
                color: var(--n800);
            }
        }
        &.second{
            border-color: var(--s200);
            .experience-wrap{
                background-color: var(--s200);
                .display-four{
                    span{
                        color: var(--n0);
                    }
                }
                span{
                    color: var(--n0);
                }
            }
        }
    }
    .symbol{
        color: var(--p300);
    }
    &.index-two{
        .sec-img{
            img{
                border-radius: 50%;
            }
        }
    }
    .shape-area {
        img{
            position: absolute;
            animation: rotate 35s linear infinite;
            &.shape-1 {
                top: 15%;
                left: 5%;
            }
            &.shape-2 {
                bottom: 15%;
                right: 5%;
            }
        }
    }
    &.index-three{
        .fs-five{
            color: var(--n0);
        }
        .icon-box{
            min-width: 60px;
            height: 60px;
            background: var(--p500);
            border-radius: 40px;
            i{
                color: var(--n0);
            }
        }
    }
}

// Our Games
.our-games{
    background-color: var(--n800);
    background-image: url(../images/our-games-bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
    &::before, &::after{
        position: absolute;
        content: "";
        background-image: url(../images/our-games-shape.png);
        background-size: auto;
        background-repeat: no-repeat;
        z-index: -1;
        width: 625px;
        height: 440px;
        right: 0;
        top: 12%;
    }
    &::after{
        right: initial;
        top: initial;
        left: 0;
        bottom: 12%;
    }
    .nav{
        border: 1px solid var(--n700);
        i{
            color: var(--n0);
        }
        button{
            width: 60px;
            height: 60px;
            background: var(--n700);
            border-radius: 8px;
            &.active{
                background-color: var(--p500);
            }
        }
    }
    .tabcontents{
        li{
            position: relative;
            display: flex;
            align-items: center;
            &::before {
                position: absolute;
                content: "";
                background-color: var(--n40);
                width: 1px;
                height: 15px;
                right: -20px;
            }
            &:last-child{
                &::before{
                    background-color: transparent;
                }
            }
        }
    }
    .single-box{
        background-color: var(--n700);
        border: 1px solid var(--n500);
        border-radius: 12px;
        p > a{
            color: var(--p300);
        }
        &:hover{
            .thumb-img{
                clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
            }
        }
        .position-relative.d-center{
            img{
                border-radius: 12px;
            }
            .mfp-iframe{
                opacity: 0;
                transition: 0.8s all;
            }
            &:hover{
                .mfp-iframe{
                    opacity: 1;
                }
            }
        }
    }
    .feature-tag{
        right: 30px;
        &.start{
            left: 30px;
        }
    }
    .review-box{
        background-color: var(--n600);
        border-radius: 10px;
        i{
            color: #EDCB50;
        }
    }
    .thumb-img{
        margin-bottom: -70px;
        transition: all 0.8s;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    }
    .shape-area {
        img{
            position: absolute;
            animation: rotate 35s linear infinite;
            &.shape-1 {
                top: 8%;
                left: 10%;
            }
            &.shape-2 {
                top: 22%;
                left: 8%;
                animation: leftToRight 35s linear infinite;
            }
            &.shape-3 {
                bottom: 4%;
                right: 4%;
            }
            &.shape-4 {
                bottom: 2%;
                left: 7%;
            }
        }
    }
    .loading{
        background-color: var(--n600);
        i{
            color: var(--n50);
        }
    }
    &.index-two{
        background-image: url(../images/our-games-bg-2.png);
        background-position: center;
        &::before{
            background-image: url(../images/abs-items/realistic-black.png);
            width: 728px;
            height: 728px;
            right: -6%;
        }
        .single-box{
            ul{
                row-gap: 8px !important;
            }
        }
    }
    &.all-games{
        background-image: url(../images/all-games-bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        &::before, &:after{
            display: none;
        }
        .single-box{
            border-radius: 16px;
            transition: all 0.3s;
            .img-area{
                img{
                    border-top-right-radius: 16px;
                    border-top-left-radius: 16px;
                }
            }
            .footer-area{
                margin-top: -40px;
            }
            &:hover{
                box-shadow: 0px 8px 0px #313241, 0px 14px 0px #2A2B3D;
            }
        }
    }
}

// Team Members
.team-members{
    .team-carousel{
        .slide-area{
            &:nth-child(odd){
                transform: translateY(60px);
                padding-bottom: 60px;
            }
        }
    }
    .single-slider{
        margin: 0 12px;
    }
    .nav{
        border: 1px solid var(--n700);
        border-radius: 12px;
        li{
            button{
                background: var(--n900);
                border: 1px solid var(--p300);
                font-weight: 600;
                border-radius: 16px;
                color: var(--n0);
                text-transform: capitalize;
                &.active{
                    background-color: var(--p300);
                    color: var(--n800);
                }
            }
        }
    }
    .single-box{
        .title-area{
            background-color: var(--n900);
        }
    }
    &.index-two{
        background-image: url(../images/team-members-bg.png);
        background-position: center top 120px;
        background-repeat: no-repeat;
        .thumb{
            img{
                width: 100%;
            }
        }
    }
}

// Counter Section
.counter-section{
    .single-box{
        &.active-area{
            &:before{
                transform: translate(-50%, -50%);
                z-index: -1;
                background-color: var(--n700);
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                transform: translate(0%, 0%);
                border-radius: 0;
            }
        }
        p{
            color: var(--n0);
            font-weight: 400;
        }
    }
    .display-one, span{
        color: var(--n800);
    }
    &.index-two{
        .single-box{
            background: var(--n800);
            border-radius: 16px;
        }
        .fs-two, span{
            color: var(--n0);
        }
        .icon-box{
            width: 60px;
            height: 60px;
            background: var(--p500);
            border-radius: 40px;
            i{
                color: var(--n0);
            }
        }
    }
}

// Our Services 
.our-services{
    .slide-area{
        margin: 0 12px;
    }
    .single-slider{
        background-color: var(--n800);
        border-radius: 8px;
    }
    .icon-box{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: var(--p500);
        i{
            color: var(--n0);
        }
    }
    .link-area{
        a{
            color: var(--p300);
            gap: 4px;
            transition: 0.3s;
            &:hover{
                gap: 12px;
            }
        }
    }
    .services-thumb{
        .link-item a{
            background: var(--n900);
            color: var(--p300);
        }
    }
    &.index-two{
        background: var(--n800);
        .end-area{
            min-width: 40px;
            min-height: 40px;
            background: var(--n700);
            border-radius: 40px;
            transition: all 0.3s;
            i{
                color: var(--p300);
                transition: all 0.3s;
            }
        }
        .single-box{
            border-color: var(--n600);
            &:hover{
                h3{
                    color: var(--p300);
                }
                .end-area{
                    background: var(--p300);
                    i{
                        color: var(--n700);
                    }
                }
            }
        }
        .shape-area{
            animation: rotate 35s linear infinite;
            left: -60px;
            bottom: -30px;
        }
    }
    &.index-three{
        background-color: var(--n900);
    }
    &.service{
        .single-box{
            background-color: var(--n800);
            &.head-content{
                background-color: var(--p300);
            }
        }
        .btn-area{
            a{
                background-color: var(--n800);
                color: var(--n0);
            }
        }
        .icon-box{
            background-color: var(--n600);
            i{
                color: var(--p300);
            }
        }
        .single-slide{
            margin: 0 10px;
        }
    }
}

// How it works 
.how-it-works{
    .icon-box{
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: var(--n700);
        transition: 0.5s;
        i{
            color: var(--p300);
        }
    }
    .single-box{
        background: var(--n800);
        border-radius: 32px;
        &:hover{
            .icon-box{
                background-color: var(--p300);
                i{
                    color: var(--n900);
                }
            }
        }
    }
    .abs-area{
        background-color: var(--p500);
        width: 40px;
        height: 40px;
        right: -5px;
        z-index: 1;
        border-radius: 50%;
        i{
            color: var(--n0);
        }
    }
}

// Life at Gamestorm
.life-gamestorm{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-image: url(../images/life-at-gamestorm.png);
        background-size: auto;
        background-position: bottom;
        background-repeat: no-repeat;
        background-color: var(--n800);
        z-index: -1;
        width: 100%;
        height: 50%;
        bottom: 0;
    }
}

// Job Opens 
.job-opens{
    .single-box{
        border-radius: 12px;
    }
    .icon-box{
        width: 48px;
        height: 48px;
        i{
            color: var(--p300);
        }
    }
    .icon-box,
    .end-area .fs-seven{
        background: var(--n500);
        border-radius: 12px;
    }
    .end-area .fs-seven{
        background: var(--p300);
        color: var(--n800);
        white-space: nowrap;
    }
    ul{
        width: max-content;
    }
    &.index-two{
        .end-area{
            min-width: 40px;
            height: 40px;
            background: var(--n700);
            border-radius: 40px;
            transition: all 0.3s;
            i{
                color: var(--p300);
                transition: all 0.3s;
            }
        }
        .single-box{
            border: 1px solid var(--n700);
            &:hover{
                h3{
                    color: var(--p300);
                }
                .end-area{
                    background: var(--p300);
                    i{
                        color: var(--n700);
                    }
                }
            }
        }
        ul{
            width: 100%;
        }
    }
    &.details{
        overflow-x: initial;
        ul{
            list-style: disc;
            width: initial;
        }
        .apply-area{
            background-color: var(--p300);
            border-radius: 60px;
        }
        .icon-box{
            width: 100px;
            height: 100px;
        }
        .btn-area a{
            color: var(--n0);
        }
        .icon-box, .btn-area a{
            background-color: var(--n700);
        }
    }
}

// Testimonials
.testimonials{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-image: url(../images/testimonial-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    .single-slider{
        background-color: var(--n800);
        border: 8px solid var(--p500);
        border-bottom: none;
        .img-box{
            img{
                border-radius: 50%;
            }
        }
        i{
            color: var(--warning-color);
        }
        .location{
            color: var(--p300);
            border-right: 1px solid var(--n70);
        }
    }
    .string{
        color: var(--p300);
    }
    .slick-double-dots{
        li{
            &::before, &::after{
                opacity: 0;
            }
        }
    }
}

// Call to Action 
.call-to-action{
    background-image: url(../images/call-to-action-object.png), url(../images/call-to-action-object-2.png);
    background-position: center left, center right;
    background-repeat: no-repeat;
    .sec-img{
        .img-outline{
            animation: fadeInOut 5s linear infinite;
        }
    }
    @keyframes videoTwo {
        0% {
            transform: translate(-50%, -50%) scale(2.3);
            opacity: 1
        }
        100% {
            transform: translate(-50%, -50%) scale(5);
            opacity: 0
        }
    }
    .video-bg span {
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        z-index: -1;
    }
    .video-bg span:nth-child(1)::before {
        animation-delay: 5s;
    }
    .video-bg span::after, .video-bg span::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid var(--p300);
        animation: videoTwo 8s linear infinite;
    }
    .video-bg span:nth-child(1)::after {
        animation-delay: 1s;
    }
    .video-bg span:nth-child(2)::before {
        animation-delay: 6s;
    }
    .video-bg span:nth-child(2)::after {
        animation-delay: 2s;
    }
    .video-bg span:nth-child(3)::before {
        animation-delay: 7s;
    }
    .video-bg span:nth-child(3)::after {
        animation-delay: 3s;
    }
    .video-bg span:nth-child(4)::after {
        animation-delay: 4s;
    }
    .contact-box{
        background-color: var(--n800);
        border-radius: 16px;
        i, span{
            color: var(--p300);
        }
    }
    &.index-two{
        background-image: url(../images/call-to-action-bg.png);
        background-size: cover;
        .box-style{
            border: 1px solid var(--n40);
        }
    }
    .about{
        background-color: var(--p300);
        .box-style{
            background-color: var(--n800);
            color: var(--n0);
        }
        .video-bg span::after, .video-bg span::before {
            border: 1px solid var(--n800);
        }
    }
}

// Contact Us 
.contact-us{
    background-image: url(../images/contact-us-obj.png), url(../images/contact-us-object-2.png);
    background-position: center left, center right;
    background-repeat: no-repeat;
    form{
        background: var(--n700);
        border-radius: 16px;
    }
    .form-inside{
        background: var(--n800);
        border: 1px solid var(--n600);
        border-radius: 16px;
    }
    .icon-box{
        width: 40px;
        height: 40px;
        background: var(--n700);
        border-radius: 20px;
        i{
            color: var(--p300);
        }
    }
    .social-items{
        background: var(--n700);
    }
    .contact-info{
        background-color: var(--n700);
        .single-info{
            border-bottom: 1px solid var(--n500);
            span{
                &:first-child{
                    border-right: 1px solid var(--n500);
                }
            }
            .icon-area{
                color: var(--n0);
            }
        }
        .social-area{
            background-color: var(--n600);
            border-radius: 32px;
        }
    }
    .get-in-touch{
        background-color: var(--n700);
        .single-content{
            border-bottom: 1px solid var(--n500);
            &:first-child{
                border-top: 1px solid var(--n500);
            }
        }
        i{
            color: var(--n0);
        }
        p{
            span{
                &:nth-child(2){
                    border-left: 1px solid var(--n50);
                    padding-left: 20px;
                }
            }
        }
    }
    .social-area{
        background-color: var(--n600);
        border-radius: 32px;
        a{
            border-color: var(--n200);
        }
    }
    &.our-services-2{
        background-color: var(--n800);
    }
}

// Map Section
.map-section{
    iframe{
        height: 300px;
    }
}

// Recently Completed
.recently-completed{
    .slick-double-dots .progressBar {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        max-width: 80px;
        left: 40px;
    }
    .slick-double-dots {
        display: flex;
        justify-content: end;
        align-items: center;
        bottom: 0;
        position: absolute;
        width: calc(30% - 100px);
        right: 0;
        background: var(--n900);
        padding: 30px 15px;
    }
    .slick-slide{
        .content-box{
            transform: translateX(-120px);
            transition: all 0.6s;
            opacity: 0;
            h3, p{
                transform: translateY(30px);
                transition: all 1.4s;
                opacity: 0;
            }
            p{
                transform: translateY(-30px);
            }
        }
        &.slick-active{
            .content-box{
                transform: translateY(0);
                opacity: 1;
                h3, p{
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
    }
    .content-box{
        background: var(--n900);
        max-width: 420px;
    }
    .end-area{
        width: 40px;
        height: 40px;
        background: var(--n700);
        border-radius: 20px;
        i{
            color: var(--p300);
        }
    }
    .box-style{
        border: 1px solid var(--n700);
        height: 140px;
        width: 140px;
    }
    &.blogs{
        .content-box{
            &:hover{
                h4{
                    color: var(--p300);
                }
                a{
                    background-color: var(--p300);
                    i{
                        color: var(--n900);
                    }
                }
            }
        }
    }
    .our-games{
        background-image: none;
        &::before, &::after{
            display: none;
        }
    }
    &.blog-section {
        overflow-x: initial;
        .content-box{
            max-width: 80%;
        }
        .box-style{
            width: initial;
            height: initial;
        }
        .article-info{
            .single{
                border-left: 1px solid var(--n50);
                &:first-child{
                    border-color: transparent;
                }
            }
            i{
                color: var(--n50);
            }

        }
        .quote{
            background-color: var(--p300);
            border-radius: 16px;
            i{
                font-family: 'Material Symbols Outlined';
                color: var(--n900);
            }
            span{
                position: relative;
                display: inline-flex;
                &::before {
                    content: "";
                    position: absolute;
                    background-color: var(--n900);
                    height: 1px;
                    width: 70px;
                    right: -80px;
                }
            }
        }
        .tag-area{
            border-top: 1px solid var(--n500);
            border-bottom: 1px solid var(--n500);
            .icon-box{
                i{
                    color: var(--n0);
                }
            }
        }
        .comments-area{
            .single-box{
                background-color: var(--n700);
                border-radius: 12px;
            }
            .img-area{
                img{
                    border-radius: 50%;
                }
            }
            .btn-cmd{
                background-color: var(--n600);
                color: var(--n0);
            }
            .comment-form{
                display: none;
            }
        }
        .add-review{
            background: var(--n800);
            border: 2px solid var(--n700);
            border-radius: 16px;
            form{
                border: 2px solid var(--n700);
                border-radius: 16px;
            }
        }
    }
}

// our partners 
.our-partners {
    background-color: var(--n800);
}

// FAQs
.faqs-section {
    background-color: var(--n800);
    .accordion-item{
        border: none;
        background: var(--n700);
    }
    .accordion-header, .accordion-collapse{
        background: var(--n700);
    }
    .shape-area{
        img{
            position: absolute;
            animation: rotate 35s linear infinite;
        }
        .shape-1{
            right: 8%;
            top: 10%;
        }
        .shape-2{
            bottom: 10%;
            left: 4%;
        }
    }
    .accordion-button {
        color: var(--p300);
        font-size: inherit;
        font-weight: inherit;
        gap: 16px;
        box-shadow: none;
        background: var(--n700);
        padding-right: 15%;
        &::after {
            content: 'remove';
            font-family: 'Material Symbols Outlined';
            z-index: 1;
            position: absolute;
            right: 20px;
            font-size: 16px;
            width: initial;
            height: initial;
            background-image: none;
        }
        &.collapsed {
            color: var(--n0);
            &::after {
                content: 'add';
            }
        }
    }
    .accordion {
        margin-top: -20px;
        .accordion-item {
            margin-top: 20px;
            border-radius: 10px;
            background-color: transparent;
        }
    }
    .accordion-body {
        padding: 20px;
        padding-right: 10%;
        padding-top: 0;
    }
    .faq-bg{
        background-color: var(--n700);
    }
    &.key-platforms{
        .accordion-header,
        .accordion-body,
        .accordion-collapse,
        .accordion-button{
            background-color: transparent;
            padding-left: 0;
            padding-right: 0;
            &:after{
                right: 0;
            }
        }
        .accordion-item{
            padding: 24px 0;
            margin: 0;
            border-bottom: 1px solid var(--n300);
            border-radius: 0;
            background-color: transparent;
            &:first-child{
                border-top: 1px solid var(--n300);
            }
        }
    }
}

// Features Games
.features-games{
    background-color: var(--n800);
    .btn-area{
        bottom: 15%;
        left: 15%;
    }
}

// Gaming Character
.gaming-character{
    background: var(--n800);
    .slick-track{
        padding-bottom: 70px;
    }
    .slick-arrow.bottom-right.arafat-prev {
        left: 10px;
        right: initial;
        bottom: 0;
    }
    .slick-arrow.bottom-right.arafat-next {
        left: 60px;
        right: initial;
        bottom: 0;
    }
    .single-slider{
        margin: 0 10px;
        img{
            width: 100%;
        }
    }
    .section-dots {
        text-align: center;
        position: absolute;
        bottom: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--n500);
        height: 1px;
        width: 90%;
        right: 0;
        li {
            margin: 0 5px;
            display: inline-block;
            list-style: none;
            width: 20%;
            transition: all 0.3s;
            .dot {
                display: block;
                width: 20%;
                height: 1px;
                background-color: transparent;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.3s;
                position: absolute;
                .string {
                    position: absolute;
                    line-height: 0;
                    opacity: 0;
                }
            }
            &.slick-active {
                .dot {
                    background-color: var(--p300);
                }
            }
        }
    }
    &.ongoing-values{
        .slide-area{
            width: 306px !important;
        }
        .slick-center{
            .single-box{
                background-color: var(--n700);
            }
        }
        .section-dots {
            width: 60%;
            right: 15%;
        }
        .slick-arrow.bottom-right.arafat-prev {
            left: 15%;
        }
        .slick-arrow.bottom-right.arafat-next {
            left: 18%;
        }
        .icon-box{
            width: 80px;
            height: 80px;
            background: var(--p500);
            border-radius: 40px;
            i{
                color: var(--n0);
            }
        }
    }
    &.what-we-offer{
        .single-box{
            background-color: var(--n800);
        }
        .slick-center{
            .single-box{
                background-color: var(--n800);
            }
        }
        .slick-track{
            padding: 0;
        }
    }
    &.our-story{
        .section-dots{
            width: 80%;
        }
        .single-area{
            background: var(--n800);
            border: 1px solid var(--n600);
            border-radius: 16px;
            .text-box{
                he{
                    color: var(--p300);
                }
            }
            .year-box{
                background-color: var(--warning-color);
                min-width: 120px;
                height: 120px;
                border-radius: 10px;
            }
        }
    }
    &.gallery{
        .slide-area{
            width: initial !important;
        }
    }
}

// our teams 
.our-teams {
    .single-box{
        &.active{
            .social-area{
                transform: rotateX(0deg);
            }
            .social-hide-btn{
                background: var(--p300);
                i{
                    color: var(--n900);
                }
            }
        }
        &:hover{
            h4{
                color: var(--p300);
            }
        }
        &.single-area{
            border-radius: 430px;
            background-color: var(--n800);
        }
    }
    img{
        border-radius: 430px;
    }
    .social-area{
        transform: rotateX(90deg);
        bottom: 30px;
        transition: 0.5s all;
        a{
            border-color: var(--n20);
        }
    }
    .social-hide-btn{
        width: 40px;
        height: 40px;
        background: var(--n600);
        border-radius: 40px;
        bottom: -20px;
        i{
            color: var(--p300);
        }
    }
    .icon-area{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        background-color: var(--n600);
        i{
            color: var(--p300);
        }
    }
}

// Testimonial area
.testimonial-area{
    .container{
        background-color: var(--n800);
        background-image: url(../images/testimonial-sec-bg.png), url(../images/testimonial-sec2-bg.png);
        background-position: center left, right center;
        background-repeat: no-repeat;
    }
    .img-box{
        img{
            margin: auto;
        }
    }
    .star-area{
        i{
            color: var(--warning-color);
        }
    }
}

// Instagram post
.instagram-post{
    .abs-area{
        opacity: 0;
        bottom: 20%;
        transition: 0.7s all;
    }
    i, span{
        color: var(--p300);
    }
    .img-box{
        margin: 0 5px;
        img{
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(34, 36, 52, 0) 0%, #222434 88.54%);
            transition: 0.5s all;
        }
        &:hover{
            &::before{
                height: 100%;
            }
            .abs-area{
                bottom: 0;
                opacity: 1;
            }
        }
    }
}

// our-focus
.our-focus{
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 60%;
        top: 0;
        z-index: -1;
        background: var(--n800);
    }
    .shape-area{
        img{
            position: absolute;
        }
        .shape-1{
            right: 10%;
            top: 8%;
        }
        .shape-2{
            left: 13%;
            top: 25%;
            animation: rotate 35s linear infinite;
        }
    }
    .top-features{
        &::before{
            background-color: var(--n700);
        }
    }
    &.services-area{
        .symbol{
            color: var(--p300);
        }
    }
}

// our-game-features
.our-game-features{
    .single-box{
        border: 1px solid var(--n700);
        border-radius: 12px;
        &:hover{
            h5{
                color: var(--p300);
            }
        }
    }
    .icon-box{
        min-width: 80px;
        height: 80px;
        background: var(--n700);
        border-radius: 60px;
        i{
            color: var(--p300);
        }
    }
    &.benefits{
        background-color: var(--n800);
        .single-box{
            background-color: var(--n700);
        }
        .icon-box{
            background-color: var(--p500);
            i{
                color: var(--n0);
            }
        }
    }
    &.specialize{
        .single-box{
            background-color: var(--n800);
        }
        .icon-box{
            width: 80px;
            h2{
                color: var(--p300);
            }
        }
    }
    &.fundamental-benefits{
        .single-box{
            background-color: var(--n800);
            .icon-box{
                background-color: var(--n600);
                width: 80px;
            }
        }
    }
}
	
@keyframes comunity {
    0% {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 1
    }
    50% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: .9
    }
    99.99% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 1
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

// our-gaming-community
.our-gaming-community{
    .main-content{
        width: 526px;
        height: 526px;
        background: var(--warning-color);
        border-radius: 100%;
    }
    .community-box{
        .community-area{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            animation: comunity 40s linear infinite;
            z-index: -1;
            .community-item{
                position: absolute;
                img{
                    width: 80%;
                }
                &:nth-child(1) {
                    right: calc(50% + 255px);
                    bottom: 50px;
                }
                &:nth-child(2) {
                    left: calc(50% - 115px);
                    top: 380px;
                }
                &:nth-child(3) {
                    left: calc(50% + 53px);
                    top: 340px;
                }
                &:nth-child(4) {
                    left: calc(50% + 160px);
                    top: 250px;
                }
                &:nth-child(5) {
                    left: calc(50% + 250px);
                    top: 140px;
                }
                &:nth-child(6) {
                    left: calc(50% + 335px);
                    top: 180px;
                }
                &:nth-child(7) {
                    left: calc(50% + 460px);
                    top: 40px;
                }
                &:nth-child(8) {
                    right: calc(50% + 120px);
                    top: 387px;
                }
                &:nth-child(9) {
                    right: calc(50% + 230px);
                    bottom: 180px;
                }
                &:nth-child(10) {
                    right: calc(50% + 210px);
                    top: 265px;
                }
                &:nth-child(11) {
                    left: calc(50% + 150px);
                    bottom: 20px;
                }
                &:nth-child(12) {
                    left: calc(50% - 15px);
                    top: 210px;
                }
                &:nth-child(13) {
                    left: calc(50% + -130px);
                    top: 240px;
                }
                &:nth-child(14) {
                    left: calc(50% + 325px);
                    top: 10px;
                }
                &:nth-child(15) {
                    left: calc(50% + 65px);
                    top: 70px;
                }
                &:nth-child(16) {
                    right: calc(50% + 390px);
                    top: 256px;
                }
                &:nth-child(17) {
                    left: 0;
                    bottom: 0;
                }
                &:nth-child(18) {
                    right: calc(50% + 340px);
                    top: 205px;
                }
                &:nth-child(19) {
                    right: calc(50% + 213px);
                    top: 133px;
                }
                &:nth-child(20) {
                    right: calc(50% - 16px);
                    top: 10px;
                }
                &:nth-child(21) {
                    left: 240px;
                    top: 50px;
                }
                &:nth-child(22) {
                    right: 150px;
                    top: 20px;
                }
                &:nth-child(23) {
                    left: calc(255px);
                    top: 310px;
                }
                &:nth-child(24) {
                    left: calc(50% - 270px);
                    top: 20px;
                }
                &:nth-child(25) {
                    left: calc(53px);
                    top: 340px;
                }
                &:nth-child(26) {
                    right: 0;
                    bottom: 230px;
                }
                &:nth-child(27) {
                    left: 315px;
                    bottom: 60px;
                }
                &:nth-child(28) {
                    right: 0;
                    top: 100px;
                }
                &:nth-child(29) {
                    left: calc(460px);
                    top: 70px;
                }
                &:nth-child(30) {
                    right: 320px;
                    bottom: 30px;
                }
                &:nth-child(31) {
                    right: calc(50% + -25px);
                    bottom: 30px;
                }
                &:nth-child(32) {
                    right: 87px;
                    bottom: 0;
                }
                &:nth-child(33) {
                    left: calc(50% - 15px);
                    top: 210px;
                }
                &:nth-child(34) {
                    left: 80px;
                    top: 40px;
                }
                &:nth-child(35) {
                    left: calc(325px);
                    top: 10px;
                }
                &:nth-child(36) {
                    left: calc(65px);
                    top: 70px;
                }
            }
            &:nth-child(1){
                top: -100%;
            }
            &:nth-child(2){
                top: 100%;
            }
        }
    }
}

// Top Features
.top-features{
    position: initial;
    background-image: none;
    .single-box{
        ul{
            row-gap: 12px !important;
        }
    }
    .single-content{
        li{
            position: relative;
            &::before{
                content: "check";
                position: absolute;
                font-family: "Material Symbols Outlined";
                z-index: 1;
                left: -40px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--p300);
                width: 24px;
                height: 24px;
                background: var(--n800);
                border-radius: 12px;
            }
        }
    }
    .app-download{
        border-bottom: 1px solid var(--n500);
    }
    .feature-tag{
        width: 60px;
        height: 75px;
        font-size: 12px;
    }
}

// Join our community
.join-our-community{
    .main-content{
        background: var(--n800);
    }
}

// Services
.services{
    .abs-area{
        opacity: 0;
        top: 5%;
        left: 5%;
        transition: 0.7s all;
    }
    .col-xl-4{
        &:nth-child(even){
            .abs-area{
                top: initial;
                bottom: 5%;
            }
        }
    }
    i{
        transform: rotate(45deg);
    }
    i, span{
        font-weight: 600;
    }
    h3{
        opacity: 1;
        transition: 1.1s;
    }
    .single-box{
        img{
            width: 100%;
        }
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background: var(--n800);
            transition: 1s all;
        }
        &:hover{
            &::before{
                height: 0;
                transform: rotateY(180deg);
            }
            .abs-area{
                opacity: 1;
            }
            h3{
                opacity: 0;
            }
        }
    }
}

// testimonial-customers
.testimonial-customers{
    .slide-area{
        margin: 0 10px;
    }
    .single-slider{
        background-color: var(--n800);
    }
    .img-box{
        img{
            border-radius: 50%;
        }
    }
    .icon-area{
        i{
            color: var(--p300);
        }
    }
    .profile-info{
        p{
            color: var(--p300);
        }
    }
}

// Service details 
.service-details{
    overflow-x: initial;
    .main-content{
        border-bottom: 1px solid var(--n200);
    }
    .single-slide{
        margin: 0 10px;
    }
    .list{
        li{
            position: relative;
            &::before{
                position: absolute;
                content: "check";
                font-family: "Material Symbols Outlined";
                z-index: 1;
                position: absolute;
                left: -40px;
                font-size: 24px;
                color: var(--p300);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                background: var(--n800);
                border-radius: 20px;
            }
        }

    }
    .side-wrapper{
        .sidebar-area{
            background: var(--n800);
            border: 1px solid var(--n600);
            border-radius: 16px;
            .underwriters{
                li{
                    padding: 10px 20px;
                    background: var(--n700);
                    border-radius: 8px;
                    transition: 0.3s;
                    &:hover, &.active{
                        background-color: var(--p300);
                        span, i{
                            color: var(--n900);
                        }
                    }
                }
            }
            .tags{
                li{
                    background: var(--n700);
                    padding: 10px 20px;
                    &:hover{
                        a{
                            color: var(--n0);
                        }
                    }
                }
            }
            .call-number{
                color: var(--p300);
            }
        }
    }
}

// Pagination
.pagination {
    display: inline-flex;
    .page-item {
        .page-link {
            border-radius: 50%;
            background: var(--n800);
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--bs-white);
            border: none;
            font-weight: 600;
            margin: 0 8px;
            &.active,
            &:hover {
                background: var(--p300);
                color: var(--n900);
            }
            &.previous {
                margin-right: 20px;
            }
            &.next {
                margin-left: 20px;
            }
        }
    }
}

// Pricing Plan 
.pricing-plan{
    .single-box{
        background: var(--n800);
        border: 1px solid var(--n600);
        border-radius: 16px;
        text-align: center;
        .single-radio{
            background: var(--n700);
            border: 1px solid var(--n600);
            border-radius: 12px;
            &:focus-within{
                border-color: var(--p300);
            }
        }
        span{
            color: var(--n0);
        }
        .heading {
            color: var(--p300);
        }
    }
}

// Store
.store{
    ul{
        li{
            border-right: 1px solid var(--n50);
            &:last-child{
                border: none;
            }
        }
        button{
            color: var(--n0);
            text-transform: capitalize;
            padding: 0 25px;
            &:hover, &.active{
                color: var(--p300);
            }
        }
    }
    .box-style.btn-box{
        border-radius: 50px;
        padding: 13px 18px;
    }
    .single-box{
        background: var(--n800);
        border: 1px solid var(--n600);
        border-radius: 16px;
        h5{
            color: var(--p300);
        }
    }
}

// shop details
.shop-details{
    .container{
        border-bottom: 1px solid var(--n90);
    }
    .slider-for{
        img{
            width: 100%;
        }
    }
    .slider-nav{
        img{
            height: 120px;
            width: 100%;
        }
        .slide{
            margin: 0 10px;
        }
        .slick-arrow.arafat-next {
            right: 0;
            bottom: 30px;
        }
        .slick-arrow.arafat-prev {
            left: 0;
            bottom: 30px;
        }
    }
    .star-head,
    .star-item{
        a{
            font-size: inherit;
        }
        i{
            color: var(--warning-color);
            font-size: inherit;
        }
        p{
            color: var(--p300);
        }
    }
    .star-head{
        i{
            color: var(--n90);
        }
        .star-area{
            margin-right: 15px;
            padding-right: 15px;
            border-right: 1px solid var(--n90);
            &:last-child{
                border: none;
            }
        }
    }
    .price-area{
        border-top: 1px solid var(--n600);
        border-bottom: 1px solid var(--n600);
        .cur-price{
            color: var(--p300);
            font-weight: 600;
        }
    }
    .btn-area{
        .second-btn{
            background-color: var(--n700);
            color: var(--n0);
        }
    }
    .qtySelector{
        border: 1px solid var(--n700);
        border-radius: 44px;
        i{
            cursor: pointer;
            color: var(--p300);
            min-width: 24px;
            min-height: 24px;
            font-size: 14px;
            border-radius: 50%;
            background-color: var(--n600);
        }
        input{
            font-size: 18px;
        }
        .qtyValue{
            border: none;
            padding: 5px;
            width: 50px;
            background: transparent;
            color: var(--n0);
        }
    }
    .shop-section{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 78%;
            height: 1px;
            right: 0;
            z-index: -1;
            background: var(--n90);
        }
    }
    .single-box{
        background: var(--n800);
        border-radius: 12px;
    }
    .profile-area{
        .img-area{
            img{
                border-radius: 50%;
            }
        }
    }
    .review-box{
        background: var(--n800);
        border: 2px solid var(--n700);
        border-radius: 16px;
    }
    .comments-form{
        background: var(--n800);
        border: 1px solid var(--n600);
        border-radius: 16px;
    }
    &.cart-details{
        overflow-x: initial;
        .shopping-cart{
            border-top: 1px solid var(--n500);
            border-bottom: 1px solid var(--n500);
        }
        .end-area{
            i{
                color: var(--n0);
            }
        }
        ul{
            li{
                span{
                    font-size: inherit;
                    &:last-child{
                        font-weight: 600;
                        font-size: initial;
                        color: var(--n0);
                    }
                }
            }
        }
        .main-content{
            background: var(--n800);
            border-radius: 16px;
        }
        .sub-total{
            border-top: 1px solid var(--n500);
            border-bottom: 1px solid var(--n500);
        }
        .checkout-form{
            border: 1px solid var(--n500);
            border-radius: 16px;
        }
        .item-list{
            border-top: 1px solid var(--n600);
            .content-box{
                border-top: 1px solid var(--n600);
                border-bottom: 1px solid var(--n600);
                p{
                    span{
                        &:last-child{
                            font-weight: 600;
                            color: var(--n0);
                        }
                    }
                }
            }
        }
    }
    .personal-info{
        background: var(--n800);
        .check{
            i{
                color: var(--p300);
            }
        }
        .edit{
            i{
                color: var(--n50);
            }
        }
        .address{
            background-color: var(--p300);
            h4{
                font-weight: 700;
            }
        }
        .payment{
            background-color: var(--n700);
            h4{
                font-weight: 700;
            }
        }
        span{
            span{
                color: var(--p300);
            }
        }
    }
}

// Related Products
.related-products{
    .single-slide{
        margin: 0 10px;
        .single-box{
            border: none;
        }
    }
}

// Login Reg
.log-reg{
    .modal-header{
        right: 24px;
        top: -30px;
        .btn-close{
            background-image: none;
        }
        i{
            color: var(--n0);
            font-weight: 600;
        }
    }
    .nav{
        li{
            width: 100%;
        }
        .nav-link{
            background-color: var(--n700);
            width: 100%;
            color: var(--n0);
            font-weight: 600;
            &.active{
                background-color: var(--p300);
                color: var(--n800);
            }
        }
    }
    .show-hide-pass{
        cursor: pointer;
        color: var(--n0);
    }
    .checkbox{
        span{
            span{
                color: var(--p300);
            }
        }
    }
    .modal{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0.4) 100%);
        box-shadow: 0px 4px 24px 1px rgba(35, 16, 94, 0.25);
        backdrop-filter: blur(22.5px);
    }
    .modal-content{
        background: var(--n800);
        border-radius: 16px;
    }
    .modal-dialog{
        max-width: 630px;
    }
    .form-inside{
        border: 1px solid var(--n500);
        border-radius: 16px;
    }
}

// Privacy Content
.privacy-content{
    overflow-x: initial;
    .top-wrapper{
        margin-top: -7px;
        margin-bottom: -7px;
        h4{
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 30px;
        }
        ul{
            margin-bottom: 20px;
            li{
                margin-bottom: 10px;
            }
        }
    }
    .safe-data{
        margin: 55px 0;
        ul{
            list-style-type: decimal;
            margin-left: 18px;
            li{
                padding-left: 15px;
                &::marker{
                    font-weight: bold;
                }
            }
        }
    }
    .cookies{
        margin-bottom: -36px;
    }
    &.terms{
        .safe-data{
            margin-bottom: -23px;
        }
    }
}