#belcms_section_articles_main {
	display: block;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
	border-radius: 4px;
}
#belcms_section_articles_main ul {
	display: table;
	width: 100%;
}
#belcms_section_articles_main ul li {
	display: table-row;
}
#belcms_section_articles_main ul li > div {
	display: table-cell;
	border: 1px solid rgb(0, 0, 0, 0.125);
	padding: 5px 15px;
	text-align: left;
}
#belcms_section_articles_main ul li.articles_title {
	background-color: rgb(0, 0, 0, 0.25);
}
#belcms_section_articles_main ul li.articles_title > div {
	font-weight: bold;
}
#belcms_section_articles_main_title {
	background-color:  rgba(0,0,0,.125);
	padding: 10px 15px;
	line-height: 30px;
	font-weight: bold;
	border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
#belcms_section_articles_read {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}
#belcms_section_articles_main_body {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	border-left: 0;
	border-right: 0;
	padding: 15px;
	text-align: justify;
}
#belcms_section_articles_main_body img {
	max-width: 95%;
	margin: 15px auto;
}
#belcms_section_articles_main_footer {
	display: block;
	text-align: center;
	width: 100%;
	background: linear-gradient(to right, #f5f5f5, #efeff0);
	border-top: 1px solid rgba(0, 0, 0, 0.025);
}
#belcms_section_articles_main_footer p {
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 30px;
	font-style: oblique 20deg;
}